{% set locale = app.request.get('_locale') %}
<footer class="m-footer">
    <div class="l-backdrop ui-backdrop" data-m-footer-backdrop="true"></div>
    <div class="l-flex-row m-footer-widgets-row">
        <div class="m-footer-widget-links-col m-footer-widget-col">
            <p class="m-footer-widget-title">{{ 'links_txt'|trans }}</p>
            <div class="m-footer-widget-content">
                <ul class="m-footer-widget-content-list">
                    <li class="m-footer-widget-content-list-item">
                        <a href="{{ path('fe_faq_index') }}">{{ "faqs_txt"|trans }}</a>
                    </li>
                    <li class="m-footer-widget-content-list-item">
                        <a href="{{ path('fe_contact_index') }}">{{ "contact_us_txt"|trans }}</a>
                    </li>
{#                    <li class="m-footer-widget-content-list-item">#}
{#                        <a href="{{ path('fe_about') }}">{{ "about_us_txt"|trans }}</a>#}
{#                    </li>#}
                    <li class="m-footer-widget-content-list-item">
                        <a href="{{ path('fe_terms_condition') }}">{{ "terms_and_conditions_txt"|trans }}</a>
                    </li>
                    <li class="m-footer-widget-content-list-item">
                        <a href="{{ path('fe_blog_index') }}">{{ "blogs_txt"|trans }}</a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="m-footer-widget-contact-col m-footer-widget-col">
            <p class="m-footer-widget-title">{{ "contact_us_txt"|trans }}</p>
            <div class="m-footer-widget-content">
                <p class="m-footer-widget-content-address">
                    <svg class="m-footer-widget-content-address-icon" width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg"><g clip-path="url(#clip0_1064_68625)"><path d="M10 20V14H14V20H19V12H22L12 3L2 12H5V20H10Z" fill="#565656" /></g><defs><clipPath id="clip0_1064_68625"><rect width="24" height="24" fill="white" /></clipPath></defs></svg>
                    <span>{{ getDCA(2) }}</span>
                </p>
                <p class="m-footer-widget-content-address">
                    {% if getDCA(1, false) is not empty %}
                        <a href="mailto:{{ getDCA(1, false)|encodeEmail }}">
                            <svg class="m-footer-widget-content-address-icon" width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg"><g clip-path="url(#clip0_1064_68622)"><path d="M20 4H4C2.9 4 2.01 4.9 2.01 6L2 18C2 19.1 2.9 20 4 20H20C21.1 20 22 19.1 22 18V6C22 4.9 21.1 4 20 4ZM20 8L12 13L4 8V6L12 11L20 6V8Z" fill="#565656" /></g><defs><clipPath id="clip0_1064_68622"><rect width="24" height="24" fill="white" /></clipPath></defs></svg>
                            <span>{{ getDCA(1, false)|encodeEmail }}</span>
                        </a>
                    {% endif %}

                    {{ editDCA(1) }}
                </p>
            </div>
            <div class="m-footer-widget-content-payment-methods">
                <div>
                    <svg xmlns="http://www.w3.org/2000/svg" xml:space="preserve" viewBox="0 0 1000 323" ><path d="M116.145 95.719H97.858l11.438-70.724h18.286zM182.437 26.724c-3.607-1.431-9.328-3.011-16.402-3.011-18.059 0-30.776 9.63-30.854 23.398-.15 10.158 9.105 15.8 16.027 19.187 7.075 3.461 9.48 5.72 9.48 8.805-.072 4.738-5.717 6.922-10.982 6.922-7.301 0-11.213-1.126-17.158-3.762l-2.408-1.13-2.559 15.876c4.289 1.954 12.191 3.688 20.395 3.764 19.188 0 31.68-9.481 31.828-24.153.073-8.051-4.814-14.22-15.35-19.261-6.396-3.236-10.313-5.418-10.313-8.729.075-3.01 3.313-6.093 10.533-6.093 5.945-.151 10.313 1.278 13.622 2.708l1.654.751 2.487-15.272zM206.742 70.664c1.506-4.063 7.301-19.788 7.301-19.788-.076.151 1.503-4.138 2.406-6.771l1.278 6.094s3.463 16.929 4.215 20.465h-15.2zm22.573-45.669H215.17c-4.362 0-7.676 1.278-9.558 5.868l-27.163 64.855h19.188s3.159-8.729 3.838-10.609h23.479c.525 2.483 2.182 10.609 2.182 10.609h16.932l-14.753-70.723zM82.584 24.995 64.675 73.222l-1.957-9.781c-3.311-11.286-13.695-23.548-25.283-29.645l16.404 61.848h19.338l28.744-70.649H82.584z" style="fill:#00579f" transform="matrix(4.42996 0 0 4.42996 -81.166 -105.048)"/><path d="M48.045 24.995H18.623l-.301 1.429c22.951 5.869 38.151 20.016 44.396 37.02L56.322 30.94c-1.053-4.517-4.289-5.796-8.277-5.945z" style="fill:#faa61a" transform="matrix(4.42996 0 0 4.42996 -81.166 -105.048)"/></svg>
                </div>
                <div>
                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 56.627 35"><g transform="translate(-17.915 -17.999)"><rect width="15.312" height="27.517" transform="translate(38.573 21.741)" fill="#ff5f00"/><path d="M359.342,287.5a17.469,17.469,0,0,1,6.684-13.758,17.5,17.5,0,1,0,0,27.517A17.47,17.47,0,0,1,359.342,287.5Z" transform="translate(-319.796 -252)" fill="#eb001b"/><path d="M424.272,287.5a17.5,17.5,0,0,1-28.313,13.758,17.5,17.5,0,0,0,0-27.517A17.5,17.5,0,0,1,424.272,287.5Z" transform="translate(-349.729 -252)" fill="#f79e1b"/><path d="M450.4,327.59v-.563h.227v-.115h-.578v.115h.227v.563Zm1.123,0v-.679h-.177l-.2.467-.2-.467h-.177v.679h.125v-.512l.191.442h.13l.191-.443v.514Z" transform="translate(-377.525 -281.246)" fill="#f79e1b"/></g></svg>
                </div>
                <div>
                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 64.788 24"><g transform="translate(-32.566 -47.11)"><g transform="translate(32.566 52.78)"><path d="M47.537,95.407l-6.31,14.957,0,.011a.644.644,0,0,1-.03.066s0,.011-.007.015-.018.034-.028.05a.582.582,0,0,1-.032.051c-.015.023-.03.045-.046.067l-.017.023c-.013.017-.027.034-.04.049a.058.058,0,0,1-.012.012c-.015.016-.029.033-.045.049a.176.176,0,0,1-.027.026c-.013.013-.027.024-.041.037a.158.158,0,0,1-.022.018.592.592,0,0,1-.052.04.124.124,0,0,1-.016.011.34.34,0,0,1-.051.034.463.463,0,0,1-.041.024l-.038.022c-.013.006-.026.015-.039.019l-.046.022-.034.015c-.013,0-.027.011-.04.015s-.039.015-.06.019-.018,0-.028.009l-.064.016h0c-.027.006-.055.012-.083.016h0c-.029,0-.058.007-.088.01s-.06,0-.089,0h0c-.029,0-.06,0-.089,0s-.058,0-.088-.01h0l-.083-.016h0l-.064-.016c-.01,0-.019,0-.028-.009a.569.569,0,0,1-.06-.019l-.04-.015-.018-.007-.016-.007c-.016-.006-.032-.015-.046-.022s-.026-.013-.039-.019a.382.382,0,0,1-.038-.022.462.462,0,0,1-.041-.024l-.051-.034a.124.124,0,0,1-.016-.011c-.017-.013-.035-.026-.052-.04s-.015-.012-.021-.017c-.022-.018-.041-.037-.062-.056s-.038-.038-.056-.058l-.007-.01c-.015-.017-.03-.035-.044-.054s-.01-.012-.015-.018-.027-.037-.04-.056l-.009-.013a.717.717,0,0,1-.039-.066.029.029,0,0,1-.006-.012q-.018-.031-.033-.062a.084.084,0,0,1-.009-.018l-.015-.03L32.663,95.407a1.224,1.224,0,1,1,2.255-.952L40.1,106.739l5.182-12.284a1.224,1.224,0,1,1,2.255.952Z" transform="translate(-32.566 -93.706)" fill="#00a79d"/></g><g transform="translate(47.897 52.752)"><path d="M176.013,102.139a8.741,8.741,0,1,0-2.448,6.12v1.449a1.224,1.224,0,0,0,2.448,0V102.2A.526.526,0,0,0,176.013,102.139Zm-8.73,6.346a6.283,6.283,0,1,1,6.283-6.283A6.29,6.29,0,0,1,167.283,108.486Z" transform="translate(-158.55 -93.47)" fill="#00a79d"/></g><g transform="translate(66.998 47.11)"><path d="M321.81,71.11a1.221,1.221,0,0,1-.982-.493l-1.292-1.733a19.845,19.845,0,0,1-4.026-11.946v-8.6a1.224,1.224,0,1,1,2.448,0v8.6a17.387,17.387,0,0,0,3.53,10.469l.007.01,1.3,1.738a1.223,1.223,0,0,1-.982,1.956Z" transform="translate(-315.51 -47.11)" fill="#00a79d"/></g><g transform="translate(71.888 48.439)"><g transform="translate(0 0)"><g transform="translate(4.437 6.597)"><path d="M408.743,113.464v1.3a8.3,8.3,0,1,1-16.593,0v-1.3a1.224,1.224,0,1,1,2.448,0v1.3a5.848,5.848,0,0,0,11.7,0v-1.3a1.224,1.224,0,1,1,2.447,0Z" transform="translate(-392.15 -112.24)" fill="#f16623"/></g><path d="M375.5,58.03a5.668,5.668,0,0,0-5.661,5.661v3.455a1.411,1.411,0,1,1-2.822,0V63.691a5.661,5.661,0,1,0-11.322,0v3.455a12.733,12.733,0,1,0,25.466,0V63.691A5.666,5.666,0,0,0,375.5,58.03Zm3.214,9.116a10.285,10.285,0,1,1-20.571,0V63.691a3.213,3.213,0,0,1,6.427,0v3.455a3.859,3.859,0,1,0,7.718,0V63.691a3.213,3.213,0,0,1,6.427,0Z" transform="translate(-355.69 -58.03)" fill="#f16623"/></g><g transform="translate(4.437 6.597)"><path d="M408.743,113.464v1.3a8.3,8.3,0,1,1-16.593,0v-1.3a1.224,1.224,0,1,1,2.448,0v1.3a5.848,5.848,0,0,0,11.7,0v-1.3a1.224,1.224,0,1,1,2.447,0Z" transform="translate(-392.15 -112.24)" fill="#f16623"/></g></g></g></svg>
                </div>
            </div>
        </div>
        <div class="m-footer-widget-download-col m-footer-widget-col">

        </div>
        <div class="m-footer-widget-newsletter-col m-footer-widget-col">
            {% if getSiteSetting("mailchimp-api-key") is not empty %}
                <p class="m-footer-widget-title">{{ "footer_newsletter_title_txt"|trans }}</p>
            {% endif %}
            <div class="m-footer-widget-content">
                {% if getSiteSetting("mailchimp-api-key") is not empty %}
                    <p class="m-footer-widget-content-newsletter-text-desktop">{{ "footer_newsletter_subtitle_txt"|trans }}</p>
                    <p class="m-footer-widget-content-newsletter-text-phone">{{ "footer_newsletter_subtitle_txt"|trans }}</p>
                    <div class="m-footer-widget-content-newsletter-input-group l-form-input-group">
                        <input type="text" class="l-form-input ui-form-input ui-form-input--md-2 ui-form-input-group-item" placeholder="{{ "email_address_txt"|trans }}" data-widget-content-newsletter-input="true" />
                        <button type="button" class="ui-form-input-group-item l-form-input-group-text" data-widget-content-newsletter-btn="true">{{ "footer_subscribe_btn"|trans }}</button>
                    </div>
                {% endif %}
                <div class="m-footer-widget-content-social-icons">
                    {% if getDCA(3, false) is not empty %}
                        <a href="{{ getDCA(3, false) }}" target="_blank" class="m-footer-widget-content-social-icon-link" rel="noreferrer" aria-label="Facebook">
                            <svg width="26" height="26" viewBox="0 0 26 26" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path d="M23.0333 0.110352H3.36213C2.6507 0.110352 1.96841 0.392965 1.46536 0.89602C0.962301 1.39907 0.679688 2.08136 0.679688 2.79279L0.679688 22.464C0.679688 23.1754 0.962301 23.8577 1.46536 24.3608C1.96841 24.8638 2.6507 25.1464 3.36213 25.1464H11.0322V16.6347H7.51152V12.6284H11.0322V9.57489C11.0322 6.10169 13.0999 4.18319 16.2669 4.18319C17.7836 4.18319 19.3696 4.45367 19.3696 4.45367V7.8626H17.6221C15.9003 7.8626 15.3632 8.9311 15.3632 10.027V12.6284H19.207L18.5922 16.6347H15.3632V25.1464H23.0333C23.7448 25.1464 24.4271 24.8638 24.9301 24.3608C25.4332 23.8577 25.7158 23.1754 25.7158 22.464V2.79279C25.7158 2.08136 25.4332 1.39907 24.9301 0.89602C24.4271 0.392965 23.7448 0.110352 23.0333 0.110352Z" fill="#3D3D3D" />
                            </svg>
                        </a>
                    {% endif %}
                    {{ editDCA(3) }}

                    {% if getDCA(4, false) is not empty %}
                        <a href="{{ getDCA(4, false) }}" target="_blank" class="m-footer-widget-content-social-icon-link" rel="noreferrer" aria-label="Instagram">
                            <svg width="26" height="26" viewBox="0 0 26 26" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path d="M12.5286 6.56746C8.97433 6.56746 6.10747 9.43432 6.10747 12.9885C6.10747 16.5428 8.97433 19.4096 12.5286 19.4096C16.0828 19.4096 18.9496 16.5428 18.9496 12.9885C18.9496 9.43432 16.0828 6.56746 12.5286 6.56746ZM12.5286 17.1631C10.2317 17.1631 8.35401 15.291 8.35401 12.9885C8.35401 10.6861 10.2261 8.814 12.5286 8.814C14.831 8.814 16.7031 10.6861 16.7031 12.9885C16.7031 15.291 14.8254 17.1631 12.5286 17.1631ZM20.71 6.3048C20.71 7.13748 20.0394 7.8025 19.2123 7.8025C18.3796 7.8025 17.7146 7.13189 17.7146 6.3048C17.7146 5.47772 18.3852 4.80711 19.2123 4.80711C20.0394 4.80711 20.71 5.47772 20.71 6.3048ZM24.9628 7.82485C24.8678 5.81861 24.4095 4.0415 22.9398 2.57733C21.4756 1.11317 19.6985 0.654918 17.6923 0.554326C15.6245 0.436969 9.42699 0.436969 7.35928 0.554326C5.35862 0.649329 3.58151 1.10758 2.11176 2.57174C0.642003 4.03591 0.189341 5.81302 0.0887499 7.81926C-0.0286067 9.88698 -0.0286067 16.0845 0.0887499 18.1522C0.183753 20.1585 0.642003 21.9356 2.11176 23.3998C3.58151 24.8639 5.35304 25.3222 7.35928 25.4228C9.42699 25.5401 15.6245 25.5401 17.6923 25.4228C19.6985 25.3278 21.4756 24.8695 22.9398 23.3998C24.4039 21.9356 24.8622 20.1585 24.9628 18.1522C25.0801 16.0845 25.0801 9.89257 24.9628 7.82485ZM22.2915 20.3708C21.8556 21.4662 21.0118 22.31 19.9109 22.7515C18.2623 23.4053 14.3504 23.2545 12.5286 23.2545C10.7067 23.2545 6.78926 23.3998 5.14626 22.7515C4.05094 22.3156 3.20708 21.4718 2.7656 20.3708C2.11176 18.7223 2.26264 14.8104 2.26264 12.9885C2.26264 11.1667 2.11734 7.24925 2.7656 5.60625C3.2015 4.51092 4.04535 3.66707 5.14626 3.22559C6.79485 2.57174 10.7067 2.72263 12.5286 2.72263C14.3504 2.72263 18.2679 2.57733 19.9109 3.22559C21.0062 3.66148 21.85 4.50533 22.2915 5.60625C22.9454 7.25483 22.7945 11.1667 22.7945 12.9885C22.7945 14.8104 22.9454 18.7278 22.2915 20.3708Z" fill="#3D3D3D" />
                            </svg>
                        </a>
                    {% endif %}
                    {{ editDCA(4) }}

                    {% if getDCA(5, false) is not empty %}
                        <a href="{{ getDCA(5, false) }}" target="_blank" class="m-footer-widget-content-social-icon-link" rel="noreferrer" aria-label="Twitter">
                            <svg width="26" height="26" viewBox="0 0 26 26" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path d="M23.1935 0.110352H3.52228C2.04135 0.110352 0.839844 1.31186 0.839844 2.79279V22.464C0.839844 23.9449 2.04135 25.1464 3.52228 25.1464H23.1935C24.6744 25.1464 25.8759 23.9449 25.8759 22.464V2.79279C25.8759 1.31186 24.6744 0.110352 23.1935 0.110352ZM20.4608 8.98475C20.4719 9.14123 20.4719 9.30329 20.4719 9.45977C20.4719 14.3049 16.7836 19.8877 10.044 19.8877C7.96507 19.8877 6.03707 19.2842 4.41643 18.2448C4.71261 18.2783 4.99762 18.2895 5.2994 18.2895C7.01504 18.2895 8.59097 17.7083 9.84837 16.7247C8.2389 16.6912 6.88651 15.635 6.42267 14.182C6.9871 14.2658 7.49564 14.2658 8.07684 14.1149C6.40031 13.774 5.14292 12.2987 5.14292 10.516V10.4713C5.62911 10.7451 6.19913 10.9128 6.79709 10.9351C6.29437 10.6007 5.88226 10.1471 5.59752 9.61465C5.31279 9.08223 5.16429 8.48761 5.16528 7.88383C5.16528 7.20205 5.3441 6.57615 5.66264 6.03407C7.4677 8.25826 10.1781 9.71125 13.2182 9.86772C12.6985 7.38088 14.5594 5.36346 16.7948 5.36346C17.851 5.36346 18.801 5.80494 19.4716 6.52026C20.2987 6.36379 21.0923 6.05642 21.7964 5.63729C21.5226 6.48673 20.947 7.20205 20.1869 7.65471C20.9246 7.57647 21.6399 7.3697 22.2994 7.08469C21.802 7.81677 21.1761 8.46503 20.4608 8.98475Z" fill="#3D3D3D" />
                            </svg>
                        </a>
                    {% endif %}
                    {{ editDCA(5) }}

                    {% if getDCA(6, false) is not empty %}
                        <a href="{{ getDCA(6, false) }}" target="_blank" class="m-footer-widget-content-social-icon-link" rel="noreferrer" aria-label="Linkedin">
                            <svg width="26" height="26" viewBox="0 0 26 26" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path d="M23.7009 0.110352H2.23583C1.25227 0.110352 0.453125 0.920672 0.453125 1.91541V23.3414C0.453125 24.3361 1.25227 25.1464 2.23583 25.1464H23.7009C24.6845 25.1464 25.4892 24.3361 25.4892 23.3414V1.91541C25.4892 0.920672 24.6845 0.110352 23.7009 0.110352ZM8.01984 21.5699H4.30913V9.62183H8.02542V21.5699H8.01984ZM6.16448 7.99001C4.97415 7.99001 4.01294 7.02322 4.01294 5.83847C4.01294 4.65373 4.97415 3.68694 6.16448 3.68694C7.34923 3.68694 8.31602 4.65373 8.31602 5.83847C8.31602 7.02881 7.35482 7.99001 6.16448 7.99001ZM21.9294 21.5699H18.2187V15.7579C18.2187 14.372 18.1907 12.5893 16.2907 12.5893C14.3571 12.5893 14.0609 14.0982 14.0609 15.6573V21.5699H10.3502V9.62183H13.91V11.2536H13.9603C14.4577 10.3148 15.6704 9.32564 17.4754 9.32564C21.2308 9.32564 21.9294 11.8013 21.9294 15.0202V21.5699Z" fill="#3D3D3D" />
                            </svg>
                        </a>
                    {% endif %}
                    {{ editDCA(6) }}

                    {% if getDCA(7, false) is not empty %}
                        <a href="{{ getDCA(7, false) }}" target="_blank" class="m-footer-widget-content-social-icon-link" rel="noreferrer" aria-label="Youtube">
                            <svg width="26" height="26" viewBox="0 0 26 26" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path d="M10.5056 9.61624L15.8257 12.6396L10.5056 15.6629V9.61624ZM25.1025 2.79279V22.464C25.1025 23.9449 23.901 25.1464 22.4201 25.1464H2.74884C1.26792 25.1464 0.0664062 23.9449 0.0664062 22.464V2.79279C0.0664062 1.31186 1.26792 0.110352 2.74884 0.110352H22.4201C23.901 0.110352 25.1025 1.31186 25.1025 2.79279ZM22.7554 12.6452C22.7554 12.6452 22.7554 9.31447 22.3306 7.71618C22.0959 6.83321 21.4086 6.14025 20.5312 5.90554C18.9497 5.47523 12.5845 5.47523 12.5845 5.47523C12.5845 5.47523 6.21925 5.47523 4.63773 5.90554C3.76035 6.14025 3.07297 6.83321 2.83826 7.71618C2.41354 9.30888 2.41354 12.6452 2.41354 12.6452C2.41354 12.6452 2.41354 15.9759 2.83826 17.5741C3.07297 18.4571 3.76035 19.1221 4.63773 19.3568C6.21925 19.7816 12.5845 19.7816 12.5845 19.7816C12.5845 19.7816 18.9497 19.7816 20.5312 19.3513C21.4086 19.1165 22.0959 18.4515 22.3306 17.5686C22.7554 15.9759 22.7554 12.6452 22.7554 12.6452Z" fill="#3D3D3D" />
                            </svg>
                        </a>
                    {% endif %}
                    {{ editDCA(7) }}
                </div>
            </div>
        </div>
    </div>
    <div class="m-footer-copyrights">
        <span class="m-footer-copyrights-text">&copy; {{ "footer_copyright_txt"|trans({"%year%": 'now'|date('Y'), "%companyName%": getSiteSetting("website-title")}) }} <a href="https://perfectneeds.com" target="_blank" rel="noreferrer">PerfectNeeds</a></span>
        <span class="m-footer-copyrights-line"></span>
    </div>
</footer>