<nav class="m-header-phone-offsidebar" data-header-phone-offsidebar="true">
    <div class="l-backdrop ui-backdrop show" data-l-phone-offsidebar-close-btn="true">
        <button type="button" class="m-header-phone-offsidebar-close-btn" aria-label="Close Menu" aria-labelledby="Close Menu" data-l-phone-offsidebar-close-btn="true">
            <svg width="18" height="18" viewBox="0 0 18 18" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M1.70632 17.7837C1.26501 17.8094 0.830995 17.6627 0.495801 17.3745C-0.165267 16.7095 -0.165267 15.6355 0.495801 14.9705L14.971 0.495229C15.6586 -0.148152 16.7375 -0.112387 17.3809 0.575182C17.9627 1.19695 17.9966 2.15262 17.4603 2.81402L2.89977 17.3745C2.56889 17.6585 2.14184 17.8049 1.70632 17.7837Z" fill="white" />
                <path d="M16.1647 17.7838C15.7174 17.7818 15.2887 17.6043 14.9712 17.2893L0.495907 2.814C-0.116538 2.09881 -0.0332727 1.02248 0.68192 0.409981C1.32025 -0.13666 2.26166 -0.13666 2.89993 0.409981L17.4604 14.8853C18.1478 15.5288 18.1834 16.6078 17.5398 17.2952C17.5142 17.3225 17.4878 17.349 17.4604 17.3746C17.1039 17.6846 16.6347 17.8328 16.1647 17.7838Z" fill="white" />
            </svg>
        </button>
    </div>
    <div class="m-header-phone-offsidebar-box">
        <div class="m-header-phone-offsidebar-topbar">
            <a
                    {% if app.user is empty %}
                        href="#" data-l-modal-btn="account"
                    {% else %}
                        href="{{ path('fe_profile_edit') }}"
                    {% endif %}
                    class="m-header-phone-offsidebar-account">
                {% if app.user is empty %}
                    <span>{{ "login_txt"|trans }} / {{ "signup_txt"|trans }}</span>
                {% elseif app.user.fullName is defined %}
                    <span>{{ "welcome_txt"|trans }}, {{ app.user.fullName }}</span>
                {% elseif app.user.userIdentifier is defined %}
                    <span>{{ "welcome_txt"|trans }}, {{ app.user.userIdentifier|capitalize }}</span>
                {% endif %}
                <svg width="23" height="23" viewBox="0 0 23 23" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M11.5 0C5.175 0 0 5.175 0 11.5C0 17.825 5.175 23 11.5 23C17.825 23 23 17.825 23 11.5C23 5.175 17.825 0 11.5 0ZM11.5 3.45C13.455 3.45 14.95 4.945 14.95 6.9C14.95 8.855 13.455 10.35 11.5 10.35C9.545 10.35 8.05 8.855 8.05 6.9C8.05 4.945 9.545 3.45 11.5 3.45ZM11.5 19.78C8.625 19.78 6.095 18.285 4.6 16.1C4.6 13.8 9.2 12.535 11.5 12.535C13.8 12.535 18.4 13.8 18.4 16.1C16.905 18.285 14.375 19.78 11.5 19.78Z" fill="white" />
                </svg>
            </a>
            <a href="{{ path('fe_home') }}" class="m-header-phone-offsidebar-logo">
                <div class="m-header-phone-offsidebar-logo-text">
{#                    {% include "fe/icons/logo.svg" %}#}
                </div>
                <div class="m-header-phone-offsidebar-logo-img">
{#                    {% include "fe/icons/logo.svg" %}#}
                    {{ getSiteSetting('website-logo')|raw }}
                </div>
            </a>
        </div>
        <div class="m-header-phone-offsidebar-menu-wrapper">
            <ul class="m-header-phone-offsidebar-menu">
                <li class="m-header-phone-offsidebar-menu-item">
                    <a href="{{ path('fe_home') }}" class="m-header-phone-offsidebar-menu-item-link {{ cr in ["fe_home"] ? "active" }}">
                        <span class="m-header-phone-offsidebar-menu-item-link-content">
                            <span class="m-header-phone-offsidebar-menu-item-link-icon">
                                <svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M15.414 6.03537L10.3573 0.975001C9.73149 0.35062 8.88377 0 8 0C7.11623 0 6.26851 0.35062 5.64267 0.975001L0.586007 6.03537C0.399625 6.22067 0.251854 6.44114 0.151263 6.68401C0.0506714 6.92688 -0.000740266 7.18731 8.05298e-06 7.45021V13.9988C8.05298e-06 14.5296 0.210722 15.0386 0.585794 15.4139C0.960866 15.7892 1.46957 16 2.00001 16H14C14.5304 16 15.0391 15.7892 15.4142 15.4139C15.7893 15.0386 16 14.5296 16 13.9988V7.45021C16.0007 7.18731 15.9493 6.92688 15.8487 6.68401C15.7481 6.44114 15.6004 6.22067 15.414 6.03537ZM10 14.6659H6V12.0416C6 11.5109 6.21072 11.0019 6.58579 10.6266C6.96086 10.2513 7.46957 10.0404 8 10.0404C8.53043 10.0404 9.03914 10.2513 9.41421 10.6266C9.78928 11.0019 10 11.5109 10 12.0416V14.6659ZM14.6667 13.9988C14.6667 14.1757 14.5964 14.3454 14.4714 14.4705C14.3464 14.5956 14.1768 14.6659 14 14.6659H11.3333V12.0416C11.3333 11.157 10.9821 10.3087 10.357 9.68319C9.7319 9.0577 8.88405 8.7063 8 8.7063C7.11595 8.7063 6.2681 9.0577 5.64298 9.68319C5.01786 10.3087 4.66667 11.157 4.66667 12.0416V14.6659H2.00001C1.8232 14.6659 1.65363 14.5956 1.5286 14.4705C1.40358 14.3454 1.33334 14.1757 1.33334 13.9988V7.45021C1.33396 7.27343 1.40413 7.104 1.52867 6.9786L6.58533 1.92023C6.96113 1.54596 7.46978 1.33585 8 1.33585C8.53022 1.33585 9.03887 1.54596 9.41467 1.92023L14.4713 6.9806C14.5954 7.1055 14.6655 7.27412 14.6667 7.45021V13.9988Z" fill="#686868" />
                                </svg>
                            </span>
                            <span class="m-header-phone-offsidebar-menu-item-link-title">
                                {{ "home_txt"|trans }}
                            </span>
                        </span>
                    </a>
                </li>
                {% if hasOnSale %}
                    <li class="m-header-phone-offsidebar-menu-item">
                        <a href="{{ path("fe_product_filter_sale") }}" class="m-header-phone-offsidebar-menu-item-link {{ cr in ["fe_product_filter_sale"] ? "active" }}">
                            <span class="m-header-phone-offsidebar-menu-item-link-content">
                                <span class="m-header-phone-offsidebar-menu-item-link-icon">
                                    <svg width="16" height="18" viewBox="0 0 16 18" fill="none" xmlns="http://www.w3.org/2000/svg">
                                        <path d="M11.3392 2.09241C10.7714 1.61119 10.1762 1.10542 9.57015 0.554196C9.10523 0.131383 8.47734 -0.0645675 7.85445 0.0188654C7.25084 0.098612 6.71378 0.442185 6.3884 0.956784C5.52837 2.39398 4.92029 3.96757 4.59045 5.60965C4.46102 5.42276 4.34621 5.2262 4.24701 5.02163C3.9053 4.30168 3.04466 3.99503 2.32471 4.33675C2.1504 4.41947 1.99446 4.53632 1.86612 4.68035C0.655951 5.917 -0.0149283 7.58278 0.00035814 9.31299C-0.0340364 12.9497 2.41217 16.1426 5.93241 17.056C6.5874 17.2208 7.25987 17.306 7.93524 17.3099C7.95689 17.3099 8.18703 17.3078 8.2801 17.3013C12.5874 17.1618 16.0054 13.6269 16 9.31732C15.9971 6.04903 13.8385 4.21645 11.3392 2.09241ZM7.91722 15.8619C7.38026 15.8211 6.84963 15.6036 6.44901 15.2804C5.82165 14.8365 5.40652 14.1855 5.30763 13.4356C5.18497 12.2653 5.90647 10.735 7.38047 9.00638C7.53502 8.82586 7.76114 8.7224 7.99879 8.72355C8.23336 8.72186 8.45644 8.82504 8.607 9.00493C9.95762 10.6081 10.6993 12.0871 10.6993 13.17C10.6952 14.5928 9.58307 15.7184 8.16691 15.8554C8.10471 15.8614 7.99876 15.8706 7.91722 15.8619ZM12.0218 14.4897C11.9792 14.5228 11.9323 14.5496 11.889 14.5813C12.0555 14.1288 12.1412 13.6507 12.1423 13.1686C12.1423 11.3454 10.8183 9.39162 9.70871 8.07347C9.28417 7.57068 8.65973 7.28037 8.00166 7.27983H7.99876C7.33938 7.27864 6.71267 7.56696 6.28451 8.0684C4.52048 10.1347 3.71026 11.9911 3.87618 13.5863C3.91558 13.9566 4.01018 14.319 4.15685 14.6613C2.44362 13.4199 1.43414 11.4286 1.4455 9.31296C1.43157 7.93857 1.97356 6.61683 2.94834 5.64783C3.11477 5.9938 3.31461 6.32267 3.54502 6.62978C3.86147 7.0576 4.40208 7.25612 4.92016 7.13481C5.44839 7.01796 5.85852 6.60134 5.96704 6.07135C6.25691 4.53919 6.81084 3.06905 7.60408 1.72659C7.70168 1.57311 7.8629 1.47145 8.04346 1.44954C8.24527 1.42238 8.44869 1.48606 8.59902 1.6234C9.21805 2.18616 9.82555 2.70563 10.4027 3.19408C12.811 5.23949 14.552 6.7171 14.552 9.31732C14.5582 11.3408 13.6241 13.2525 12.0239 14.4911L12.0218 14.4897Z" fill="#686868" />
                                        <path d="M11.6048 14.202C9.00814 16.1062 6.3567 15.4078 4.92081 14.5822C4.58044 14.3865 4.29659 14.089 4.09692 13.7319C3.37386 12.439 3.37356 11.3424 3.75926 10.4173C4.15575 9.46618 4.98726 8.63368 6.03759 7.96026C7.40998 7.08035 9.29335 7.54384 10.4584 8.87045C11.3255 9.85789 12.085 10.898 12.3781 11.8526C12.5217 12.3202 12.5443 12.7386 12.4375 13.1105C12.3323 13.4767 12.0874 13.8481 11.6048 14.202Z" fill="white" stroke="white" />
                                        <path d="M6.31055 8.65482C6.31055 8.25669 6.63367 7.93357 7.03179 7.93357C7.42992 7.93357 7.75304 8.25669 7.75304 8.65482C7.75304 9.05294 7.42992 9.37606 7.03179 9.37606C6.63367 9.37606 6.31055 9.05294 6.31055 8.65482Z" fill="#686868" />
                                        <path d="M9.55616 11.9004C9.55616 11.5023 9.87928 11.1792 10.2774 11.1792C10.6755 11.1792 10.9987 11.5023 10.9987 11.9004C10.9987 12.2986 10.6755 12.6217 10.2774 12.6217C9.87928 12.6217 9.55616 12.2986 9.55616 11.9004Z" fill="#686868" />
                                        <path d="M10.6972 8.51417L7.81218 12.8417C7.6737 13.0501 7.44435 13.1626 7.21138 13.1626C7.07363 13.1626 6.93515 13.1237 6.81181 13.0414C6.48004 12.8207 6.39061 12.3721 6.61203 12.0411L9.49702 7.71359C9.71772 7.38254 10.1649 7.29166 10.4974 7.5138C10.8292 7.7345 10.9186 8.18312 10.6972 8.51417Z" fill="#686868" />
                                    </svg>
                                </span>
                                <span class="m-header-phone-offsidebar-menu-item-link-title">
                                    {{ "on_sale_txt"|trans }}
                                </span>
                            </span>
                        </a>
                    </li>
                {% endif %}

                {% if mainCategories|length > 0 %}
                    <li class="m-header-phone-offsidebar-menu-item" data-l-phone-offsidebar-menu-item-container="true">
                    <button type="button" class="m-header-phone-offsidebar-menu-item-link dropdown" data-l-phone-offsidebar-menu-item="true">
                        <span class="m-header-phone-offsidebar-menu-item-link-content">
                            <span class="m-header-phone-offsidebar-menu-item-link-icon">
                                <svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <g clip-path="url(#clip0_1236_75005)">
                                    <path d="M4.66667 0H2.66667C1.95942 0 1.28115 0.280952 0.781049 0.781049C0.280952 1.28115 0 1.95942 0 2.66667L0 4.66667C0 5.37391 0.280952 6.05219 0.781049 6.55229C1.28115 7.05238 1.95942 7.33333 2.66667 7.33333H4.66667C5.37391 7.33333 6.05219 7.05238 6.55229 6.55229C7.05238 6.05219 7.33333 5.37391 7.33333 4.66667V2.66667C7.33333 1.95942 7.05238 1.28115 6.55229 0.781049C6.05219 0.280952 5.37391 0 4.66667 0V0ZM6 4.66667C6 5.02029 5.85952 5.35943 5.60948 5.60948C5.35943 5.85952 5.02029 6 4.66667 6H2.66667C2.31305 6 1.97391 5.85952 1.72386 5.60948C1.47381 5.35943 1.33333 5.02029 1.33333 4.66667V2.66667C1.33333 2.31305 1.47381 1.97391 1.72386 1.72386C1.97391 1.47381 2.31305 1.33333 2.66667 1.33333H4.66667C5.02029 1.33333 5.35943 1.47381 5.60948 1.72386C5.85952 1.97391 6 2.31305 6 2.66667V4.66667Z" fill="#686868" />
                                    <path d="M13.3332 0H11.3332C10.6259 0 9.94765 0.280952 9.44755 0.781049C8.94746 1.28115 8.6665 1.95942 8.6665 2.66667V4.66667C8.6665 5.37391 8.94746 6.05219 9.44755 6.55229C9.94765 7.05238 10.6259 7.33333 11.3332 7.33333H13.3332C14.0404 7.33333 14.7187 7.05238 15.2188 6.55229C15.7189 6.05219 15.9998 5.37391 15.9998 4.66667V2.66667C15.9998 1.95942 15.7189 1.28115 15.2188 0.781049C14.7187 0.280952 14.0404 0 13.3332 0V0ZM14.6665 4.66667C14.6665 5.02029 14.526 5.35943 14.276 5.60948C14.0259 5.85952 13.6868 6 13.3332 6H11.3332C10.9795 6 10.6404 5.85952 10.3904 5.60948C10.1403 5.35943 9.99984 5.02029 9.99984 4.66667V2.66667C9.99984 2.31305 10.1403 1.97391 10.3904 1.72386C10.6404 1.47381 10.9795 1.33333 11.3332 1.33333H13.3332C13.6868 1.33333 14.0259 1.47381 14.276 1.72386C14.526 1.97391 14.6665 2.31305 14.6665 2.66667V4.66667Z" fill="#686868" />
                                    <path d="M4.66667 8.6665H2.66667C1.95942 8.6665 1.28115 8.94746 0.781049 9.44755C0.280952 9.94765 0 10.6259 0 11.3332L0 13.3332C0 14.0404 0.280952 14.7187 0.781049 15.2188C1.28115 15.7189 1.95942 15.9998 2.66667 15.9998H4.66667C5.37391 15.9998 6.05219 15.7189 6.55229 15.2188C7.05238 14.7187 7.33333 14.0404 7.33333 13.3332V11.3332C7.33333 10.6259 7.05238 9.94765 6.55229 9.44755C6.05219 8.94746 5.37391 8.6665 4.66667 8.6665ZM6 13.3332C6 13.6868 5.85952 14.0259 5.60948 14.276C5.35943 14.526 5.02029 14.6665 4.66667 14.6665H2.66667C2.31305 14.6665 1.97391 14.526 1.72386 14.276C1.47381 14.0259 1.33333 13.6868 1.33333 13.3332V11.3332C1.33333 10.9795 1.47381 10.6404 1.72386 10.3904C1.97391 10.1403 2.31305 9.99984 2.66667 9.99984H4.66667C5.02029 9.99984 5.35943 10.1403 5.60948 10.3904C5.85952 10.6404 6 10.9795 6 11.3332V13.3332Z" fill="#686868" />
                                    <path d="M13.3332 8.6665H11.3332C10.6259 8.6665 9.94765 8.94746 9.44755 9.44755C8.94746 9.94765 8.6665 10.6259 8.6665 11.3332V13.3332C8.6665 14.0404 8.94746 14.7187 9.44755 15.2188C9.94765 15.7189 10.6259 15.9998 11.3332 15.9998H13.3332C14.0404 15.9998 14.7187 15.7189 15.2188 15.2188C15.7189 14.7187 15.9998 14.0404 15.9998 13.3332V11.3332C15.9998 10.6259 15.7189 9.94765 15.2188 9.44755C14.7187 8.94746 14.0404 8.6665 13.3332 8.6665ZM14.6665 13.3332C14.6665 13.6868 14.526 14.0259 14.276 14.276C14.0259 14.526 13.6868 14.6665 13.3332 14.6665H11.3332C10.9795 14.6665 10.6404 14.526 10.3904 14.276C10.1403 14.0259 9.99984 13.6868 9.99984 13.3332V11.3332C9.99984 10.9795 10.1403 10.6404 10.3904 10.3904C10.6404 10.1403 10.9795 9.99984 11.3332 9.99984H13.3332C13.6868 9.99984 14.0259 10.1403 14.276 10.3904C14.526 10.6404 14.6665 10.9795 14.6665 11.3332V13.3332Z" fill="#686868" />
                                    </g>
                                    <defs>
                                    <clipPath id="clip0_1236_75005">
                                    <rect width="16" height="16" fill="white" />
                                    </clipPath>
                                    </defs>
                                </svg>
                            </span>
                            <span class="m-header-phone-offsidebar-menu-item-link-title">
                                {{ "categories_txt"|trans }}
                            </span>
                        </span>
                        <span class="m-header-phone-offsidebar-menu-item-link-dropdown-icon">
                            <svg width="8" height="13" viewBox="0 0 8 13" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path d="M0.940948 0.000223851C0.757525 -0.00400207 0.577403 0.0516958 0.425624 0.15966C0.273844 0.267624 0.157947 0.422517 0.0940481 0.602667C0.030149 0.782818 0.021422 0.979319 0.0690802 1.16491C0.116738 1.35049 0.218413 1.51584 0.35997 1.63809L5.76116 6.48505L0.35997 11.3303C0.262048 11.4057 0.180041 11.5014 0.119084 11.6115C0.0581275 11.7217 0.0195343 11.8438 0.00572114 11.9703C-0.00809202 12.0968 0.00317275 12.2248 0.0388099 12.3465C0.074447 12.4682 0.133688 12.581 0.212825 12.6776C0.291962 12.7742 0.389288 12.8525 0.49871 12.9079C0.608131 12.9633 0.727291 12.9944 0.848725 12.9993C0.97016 13.0042 1.09125 12.9829 1.20442 12.9365C1.31759 12.8901 1.4204 12.8197 1.50641 12.7298L7.69028 7.18753C7.78739 7.10072 7.86537 6.99297 7.91884 6.87154C7.97231 6.7501 8 6.61793 8 6.4842C8 6.35047 7.97231 6.21829 7.91884 6.09686C7.86537 5.97542 7.78739 5.86757 7.69028 5.78076L1.50641 0.233139C1.35019 0.0877927 1.14983 0.00515995 0.940948 1.05593e-05V0.000223851Z" fill="#686868" />
                            </svg>
                        </span>
                    </button>
                    <div class="m-header-phone-offsidebar-submenu-wrapper" data-l-phone-offsidebar-menu-item-dropdown="true">
                        <div class="m-header-phone-offsidebar-submenu-header">
                            <button class="m-header-phone-offsidebar-submenu-back-btn {{ cr in ['fe_category_index', 'fe_product_filter_category', 'fe_category_index'] ? "active" }}" data-l-phone-offsidebar-menu-item-dropdown-back-btn="true">
                                <span class="m-header-phone-offsidebar-submenu-back-btn-icon">
                                    <svg width="9" height="15" viewBox="0 0 9 15" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M0.500128 7.5004C0.500128 7.2495 0.595929 6.99862 0.78713 6.80733L6.80684 0.787684C7.18976 0.404756 7.81062 0.404756 8.19339 0.787684C8.57616 1.17046 8.57616 1.79119 8.19339 2.17414L2.86682 7.5004L8.1932 12.8267C8.57597 13.2096 8.57597 13.8303 8.1932 14.213C7.81043 14.5961 7.18958 14.5961 6.80665 14.213L0.786944 8.19348C0.595712 8.00209 0.500128 7.75122 0.500128 7.5004Z" fill="#686868" /><path fill-rule="evenodd" clip-rule="evenodd" d="M7.83985 1.82054C8.02742 1.63277 8.02727 1.32863 7.83984 1.1412C7.65238 0.953671 7.34809 0.953496 7.16039 1.1412L1.14077 7.16076C1.14074 7.16079 1.1408 7.16073 1.14077 7.16076C1.04704 7.25458 1.00013 7.37674 1.00013 7.50037C1.00013 7.62411 1.04688 7.74612 1.14049 7.83988M1.14049 7.83988L7.1602 13.8594C7.34788 14.0472 7.65206 14.0472 7.83949 13.8596C8.02691 13.6722 8.02723 13.3679 7.83965 13.1802C7.83963 13.1802 7.83968 13.1802 7.83965 13.1802L2.1597 7.50036L7.83985 1.82054C7.83988 1.82051 7.83981 1.82058 7.83985 1.82054M8.54701 0.434167C9.12502 1.01225 9.12488 1.94945 8.54703 2.52758L3.57394 7.50037L8.54675 12.4731C9.12459 13.0512 9.12484 13.9883 8.54691 14.5664M8.54701 0.434167C7.96892 -0.144086 7.03141 -0.144032 6.45328 0.434093C6.45329 0.434092 6.45328 0.434094 6.45328 0.434093L0.433579 6.45374C0.144966 6.74249 0.000128039 7.12222 0.000128001 7.50037C0.000127963 7.87819 0.144496 8.25787 0.433247 8.54685L6.45301 14.5665C6.45298 14.5664 6.45304 14.5665 6.45301 14.5665C7.03113 15.1448 7.96882 15.1448 8.54691 14.5664M8.54701 0.434167C8.54704 0.43419 8.54699 0.434143 8.54701 0.434167V0.434167Z" fill="#686868" /></svg>
                                </span>
                                <span class="m-header-phone-offsidebar-submenu-back-btn-content">
                                    {{ "categories_txt"|trans }}
                                </span>
                            </button>
                            <a class="m-header-phone-offsidebar-submenu-action" href="{{ path('fe_category_index') }}">
                                <span>{{ "view_all_txt"|trans }}</span>
                                <span class="m-header-navbar-megamenu-action-icon">
                                    <svg width="5" height="8" viewBox="0 0 5 8" fill="none" xmlns="http://www.w3.org/2000/svg">
                                        <path d="M0.207558 0.207048C-0.0691864 0.48311 -0.0691864 0.930988 0.207558 1.20738L3.2901 3.99988L0.207558 6.79239C-0.0691862 7.06878 -0.0691861 7.51633 0.207558 7.79271C0.484303 8.0691 0.932566 8.0691 1.20931 7.79271L4.79539 4.54432C4.94492 4.39481 5.01086 4.19567 4.99855 3.99987C5.01086 3.80441 4.94492 3.60493 4.79539 3.45543L1.20931 0.207035C0.932566 -0.0690136 0.484316 -0.0690146 0.207558 0.207048Z" fill="#686868" />
                                    </svg>
                                </span>
                            </a>
                        </div>
                        <ul class="m-header-phone-offsidebar-submenu">
                            {% for category in mainCategories %}
                                {% set categoryUrl = path('fe_category_index',{'slug':category.seo.slug}) %}
                                {% if category.concatIds is same as(category.id|trans) %} {# convert int to string to check #}
                                    {% set categoryUrl = path('fe_product_filter_category',{'slug':category.seo.slug}) %}
                                {% endif %}
                                <li class="m-header-phone-offsidebar-submenu-item">
                                    <a href="{{ categoryUrl }}" class="m-header-phone-offsidebar-submenu-item-link">
                                        {{ category.title }}
                                    </a>
                                </li>
                            {% endfor %}
                        </ul>
                    </div>
                </li>
                {% endif %}
                {% if constant("App\\BaseBundle\\SystemConfiguration::ENABLE_COLLECTION") %}
                <li class="m-header-phone-offsidebar-menu-item">
                    <a href="{{ path('fe_collection_index') }}" class="m-header-phone-offsidebar-menu-item-link {{ cr in ['fe_collection_index', "fe_product_filter_collection"] ? "active" }}">
                        <span class="m-header-phone-offsidebar-menu-item-link-content">
                            <span class="m-header-phone-offsidebar-menu-item-link-icon">
                                <svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M13.3333 6.66667H12.6667V5.33333C12.6667 3.86267 11.4707 2.66667 10 2.66667H9.31467C9.148 1.16867 7.87467 0 6.33333 0C4.792 0 3.518 1.16867 3.352 2.66667H2.66667C1.196 2.66667 0 3.86267 0 5.33333V9.33333C0 11.1713 1.49533 12.6667 3.33333 12.6667H4C4 14.5047 5.49533 16 7.33333 16H12.6667C14.5047 16 16 14.5047 16 12.6667V9.33333C16 7.86267 14.804 6.66667 13.3333 6.66667ZM6.33333 1.33333C7.138 1.33333 7.81133 1.90667 7.96667 2.66667H4.7C4.85467 1.90667 5.528 1.33333 6.33333 1.33333ZM3.33333 11.3333C2.23067 11.3333 1.33333 10.436 1.33333 9.33333V5.33333C1.33333 4.598 1.93133 4 2.66667 4H3.33333V5.33333C3.33333 5.702 3.632 6 4 6C4.368 6 4.66667 5.702 4.66667 5.33333V4H8V5.33333C8 5.702 8.29867 6 8.66667 6C9.03467 6 9.33333 5.702 9.33333 5.33333V4H10C10.7353 4 11.3333 4.598 11.3333 5.33333V6.66667H6.66667C5.196 6.66667 4 7.86267 4 9.33333V11.3333H3.33333ZM14.6667 12.6667C14.6667 13.7693 13.7693 14.6667 12.6667 14.6667H7.33333C6.23067 14.6667 5.33333 13.7693 5.33333 12.6667V9.33333C5.33333 8.598 5.93133 8 6.66667 8H13.3333C14.0687 8 14.6667 8.598 14.6667 9.33333V12.6667ZM12.6667 10V10.6667C12.6667 12.1373 11.4707 13.3333 10 13.3333C8.52933 13.3333 7.33333 12.1373 7.33333 10.6667V10C7.33333 9.63133 7.632 9.33333 8 9.33333C8.368 9.33333 8.66667 9.63133 8.66667 10V10.6667C8.66667 11.402 9.26467 12 10 12C10.7353 12 11.3333 11.402 11.3333 10.6667V10C11.3333 9.63133 11.632 9.33333 12 9.33333C12.368 9.33333 12.6667 9.63133 12.6667 10Z" fill="#686868" />
                                </svg>
                            </span>
                            <span class="m-header-phone-offsidebar-menu-item-link-title">
                                {{ "collections_txt"|trans }}
                            </span>
                        </span>
                    </a>
                </li>
                {% endif %}

                <li class="m-header-phone-offsidebar-menu-item">
                    <a href="{{ path('fe_brand_index') }}" class="m-header-phone-offsidebar-menu-item-link {{ cr in ['fe_brand_index', "fe_product_filter_brand"] ? "active" }}">
                        <span class="m-header-phone-offsidebar-menu-item-link-content">
                            <span class="m-header-phone-offsidebar-menu-item-link-icon">
                                <svg width="16" height="20" viewBox="0 0 16 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M14.7656 3.66497L8.3888 0.101412C8.26988 0.0349042 8.13607 0 8 0C7.86393 0 7.73012 0.0349042 7.6112 0.101412L1.2344 3.66497C0.860323 3.874 0.54862 4.17982 0.331581 4.55075C0.114542 4.92168 6.16633e-05 5.34423 0 5.77462V15.2874C0.00127029 16.3539 0.423106 17.3765 1.17298 18.1306C1.92285 18.8848 2.93952 19.3091 4 19.3103H12C13.0605 19.3091 14.0772 18.8848 14.827 18.1306C15.5769 17.3765 15.9987 16.3539 16 15.2874V5.77462C15.9999 5.34423 15.8855 4.92168 15.6684 4.55075C15.4514 4.17982 15.1397 3.874 14.7656 3.66497V3.66497ZM14.4 15.2874C14.4 15.9275 14.1471 16.5415 13.6971 16.9942C13.247 17.4468 12.6365 17.7012 12 17.7012H4C3.36348 17.7012 2.75303 17.4468 2.30294 16.9942C1.85286 16.5415 1.6 15.9275 1.6 15.2874V5.77462C1.59964 5.63069 1.63768 5.4893 1.71015 5.36519C1.78261 5.24108 1.88685 5.13879 2.012 5.06899L8 1.72509L13.9888 5.06899C14.1138 5.1389 14.2179 5.24123 14.2902 5.36534C14.3625 5.48944 14.4004 5.63077 14.4 5.77462V15.2874Z" fill="#686868" />
                                    <path d="M7.99943 7.17268C8.7612 7.17268 9.37874 6.55515 9.37874 5.79337C9.37874 5.0316 8.7612 4.41406 7.99943 4.41406C7.23766 4.41406 6.62012 5.0316 6.62012 5.79337C6.62012 6.55515 7.23766 7.17268 7.99943 7.17268Z" fill="#686868" />
                                </svg>
                            </span>
                            <span class="m-header-phone-offsidebar-menu-item-link-title">
                                {{ "brands_txt"|trans }}
                            </span>
                        </span>
                    </a>
                </li>

                {% if occasion is not empty %}
                    <li class="m-header-phone-offsidebar-menu-item">
                        <a href="{{ path('fe_product_filter_occasion', {"slug":occasion.seo.slug}) }}" class="m-header-phone-offsidebar-menu-item-link {{ cr in ["fe_product_filter_occasion"] ? "active" }}">
                            <span class="m-header-phone-offsidebar-menu-item-link-content">
                                <span class="m-header-phone-offsidebar-menu-item-link-icon">
                                    <svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                                        <path d="M13.3333 6.66667H12.6667V5.33333C12.6667 3.86267 11.4707 2.66667 10 2.66667H9.31467C9.148 1.16867 7.87467 0 6.33333 0C4.792 0 3.518 1.16867 3.352 2.66667H2.66667C1.196 2.66667 0 3.86267 0 5.33333V9.33333C0 11.1713 1.49533 12.6667 3.33333 12.6667H4C4 14.5047 5.49533 16 7.33333 16H12.6667C14.5047 16 16 14.5047 16 12.6667V9.33333C16 7.86267 14.804 6.66667 13.3333 6.66667ZM6.33333 1.33333C7.138 1.33333 7.81133 1.90667 7.96667 2.66667H4.7C4.85467 1.90667 5.528 1.33333 6.33333 1.33333ZM3.33333 11.3333C2.23067 11.3333 1.33333 10.436 1.33333 9.33333V5.33333C1.33333 4.598 1.93133 4 2.66667 4H3.33333V5.33333C3.33333 5.702 3.632 6 4 6C4.368 6 4.66667 5.702 4.66667 5.33333V4H8V5.33333C8 5.702 8.29867 6 8.66667 6C9.03467 6 9.33333 5.702 9.33333 5.33333V4H10C10.7353 4 11.3333 4.598 11.3333 5.33333V6.66667H6.66667C5.196 6.66667 4 7.86267 4 9.33333V11.3333H3.33333ZM14.6667 12.6667C14.6667 13.7693 13.7693 14.6667 12.6667 14.6667H7.33333C6.23067 14.6667 5.33333 13.7693 5.33333 12.6667V9.33333C5.33333 8.598 5.93133 8 6.66667 8H13.3333C14.0687 8 14.6667 8.598 14.6667 9.33333V12.6667ZM12.6667 10V10.6667C12.6667 12.1373 11.4707 13.3333 10 13.3333C8.52933 13.3333 7.33333 12.1373 7.33333 10.6667V10C7.33333 9.63133 7.632 9.33333 8 9.33333C8.368 9.33333 8.66667 9.63133 8.66667 10V10.6667C8.66667 11.402 9.26467 12 10 12C10.7353 12 11.3333 11.402 11.3333 10.6667V10C11.3333 9.63133 11.632 9.33333 12 9.33333C12.368 9.33333 12.6667 9.63133 12.6667 10Z" fill="#686868" />
                                    </svg>
                                </span>
                                <span class="m-header-phone-offsidebar-menu-item-link-title">
                                    {{ occasion.title }}
                                </span>
                            </span>
                        </a>
                    </li>
                {% endif %}

                {% include "custom/frontEnd/_menu_mobile.html.twig" %}

               {# <li class="m-header-phone-offsidebar-menu-item">
                    <a href="{{ path('fe_project_index') }}" class="m-header-phone-offsidebar-menu-item-link {{ cr in ['fe_project_index', "fe_project_show"] ? "active" }}">
                        <span class="m-header-phone-offsidebar-menu-item-link-content">
                            <span class="m-header-phone-offsidebar-menu-item-link-icon">
                                <svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M18.9998 2.7874C19.0004 2.66639 18.9768 2.54648 18.9304 2.4347C18.8841 2.32292 18.8159 2.22151 18.7298 2.1364L17.8635 1.27001C17.7788 1.18437 17.6779 1.11641 17.5667 1.07006C17.4555 1.02371 17.3362 0.999893 17.2158 1H17.2128C17.0931 1.00007 16.9746 1.02399 16.8642 1.07035C16.7538 1.1167 16.6537 1.18458 16.5699 1.27001L12.6399 5.19997H4.89998V1.90001C4.89998 1.40293 4.49702 1 3.99998 1H3.39998C2.07513 1.00148 1.00148 2.07513 1 3.39998V16.6752C1.07508 17.9899 2.17017 19.0135 3.48699 18.9999H18.0999C18.5969 18.9999 18.9998 18.5969 18.9998 18.0999V6.09997C18.9998 5.60292 18.5969 5.19997 18.0999 5.19997H16.9599L18.7299 3.42998C18.8151 3.34605 18.8829 3.24604 18.9292 3.13574C18.9756 3.02544 18.9996 2.90704 18.9998 2.7874ZM11.7339 8.49995C11.7026 8.50421 11.6707 8.50099 11.6409 8.49056C11.6111 8.48014 11.5842 8.46279 11.5623 8.43995C11.5403 8.41805 11.5234 8.39147 11.5131 8.36219C11.5027 8.3329 11.499 8.30165 11.5023 8.27075L11.616 7.25077C11.6208 7.22945 11.6268 7.20839 11.634 7.18778L12.8157 8.36946C12.7962 8.37367 12.7785 8.38327 12.7581 8.38566L11.7339 8.49995ZM13.3056 8.01004L11.9928 6.69695L15.2628 3.42699L16.575 4.73887L13.3056 8.01004ZM15.6858 3.00247L16.1307 2.55787L17.4423 3.86975L16.9977 4.31465L15.6858 3.00247ZM1.6 3.39998C1.601 2.4063 2.4063 1.60097 3.39998 1.6H3.99998C4.16565 1.6 4.29999 1.73431 4.29999 1.89998V13.8999C4.29999 14.0656 4.16568 14.1999 3.99998 14.1999H3.39998C3.05931 14.1998 2.72253 14.2723 2.41213 14.4127C2.10174 14.5531 1.82486 14.7581 1.6 15.014V3.39998ZM18.0999 5.79996C18.2655 5.79996 18.3999 5.93427 18.3999 6.09997V18.0999C18.3999 18.2655 18.2656 18.3999 18.0999 18.3999H3.48699C2.49663 18.4165 1.66696 17.6541 1.6 16.6659V16.5999C1.601 15.6062 2.4063 14.8009 3.39998 14.7999H3.99998C4.49702 14.7999 4.89995 14.397 4.89995 13.8999V5.79996H12.0399L11.3586 6.48125C11.1684 6.66865 11.0488 6.91599 11.0199 7.18144L10.9062 8.20353C10.8969 8.30321 10.9063 8.40373 10.9341 8.49992H5.79996C5.63429 8.49992 5.49995 8.63423 5.49995 8.79994C5.49995 8.96561 5.63426 9.09992 5.79996 9.09992H6.69997V17.1999C6.69997 17.3655 6.83428 17.4999 6.99998 17.4999C7.16568 17.4999 7.29999 17.3656 7.29999 17.1999V12.9999H10.5999V15.3999H8.49995C8.33428 15.3999 8.19997 15.5342 8.19997 15.6999C8.19997 15.8655 8.33428 15.9999 8.49995 15.9999H14.4999C14.8313 15.9999 15.0999 15.7313 15.0999 15.3999V10.8999C15.0999 10.7343 14.9656 10.5999 14.7999 10.5999C14.6342 10.5999 14.4999 10.7342 14.4999 10.8999V12.3999H7.29996V9.09995H11.7123C11.7416 9.10001 11.7709 9.09841 11.7999 9.09515L12.825 8.97846C13.0852 8.94893 13.3281 8.83331 13.515 8.64996L16.3614 5.79999L18.0999 5.79996ZM14.4999 12.9999V15.3999H11.1999V12.9999H14.4999ZM18.3069 3.00457L17.8665 3.44526L16.5549 2.13368L16.9956 1.69299C17.0241 1.66369 17.0582 1.64038 17.0959 1.62441C17.1335 1.60845 17.174 1.60014 17.2149 1.6C17.2565 1.6001 17.2977 1.60848 17.3361 1.62465C17.3745 1.64083 17.4092 1.66447 17.4384 1.6942L18.306 2.56001C18.3358 2.58942 18.3595 2.62449 18.3757 2.66318C18.3918 2.70187 18.4 2.74338 18.3999 2.7853C18.3998 2.8262 18.3915 2.86666 18.3755 2.90432C18.3595 2.94197 18.3362 2.97606 18.3069 3.00457Z" fill="#686868" stroke="#686868" stroke-width="0.5"/>
                                </svg>
                            </span>
                            <span class="m-header-phone-offsidebar-menu-item-link-title">
                                Projects
                            </span>
                        </span>
                    </a>
                </li>#}
                <li class="m-header-phone-offsidebar-menu-item">
                    <a href="{{ path('fe_blog_index') }}" class="m-header-phone-offsidebar-menu-item-link {{ cr in ['fe_blog_index', "fe_blog_show"] ? "active" }}">
                        <span class="m-header-phone-offsidebar-menu-item-link-content">
                            <span class="m-header-phone-offsidebar-menu-item-link-icon">
                                <svg width="16" height="22" viewBox="0 0 16 22" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M15.3741 3.35181H12.5986C12.2976 1.45481 10.6508 0 8.67036 0C8.32467 0 8.0445 0.280173 8.0445 0.625866V3.35181H0.625866C0.280173 3.35181 0 3.63214 0 3.97767V20.737C0 21.0827 0.280173 21.3629 0.625866 21.3629H15.3741C15.7197 21.3629 16 21.0827 16 20.737V3.97767C16 3.63214 15.7198 3.35181 15.3741 3.35181ZM8.67036 14.6591C9.95795 14.6591 11.0394 15.557 11.323 16.7594H4.6037V11.3073H8.0445V14.0332C8.0445 14.3789 8.32467 14.6591 8.67036 14.6591ZM11.3963 3.97767V14.4909C10.8278 13.955 10.1019 13.5844 9.29623 13.4566V7.33534C9.29623 7.33339 9.29655 7.33159 9.29655 7.32964C9.29655 7.32768 9.29623 7.32589 9.29623 7.32393V3.98338C9.29623 3.98142 9.29655 3.97963 9.29655 3.97767C9.29655 3.97572 9.29623 3.97392 9.29623 3.97197V1.32426C10.4986 1.60786 11.3963 2.68992 11.3963 3.97767ZM1.25173 4.60354H8.0445V6.70377H3.97783C3.63214 6.70377 3.35197 6.98395 3.35197 7.32964C3.35197 7.67517 3.63214 7.9555 3.97783 7.9555H8.0445V10.0556H3.97783C3.63214 10.0556 3.35197 10.3358 3.35197 10.6814V17.3852C3.35197 17.7307 3.63214 18.0111 3.97783 18.0111H11.323C11.0394 19.2133 9.95811 20.1112 8.67036 20.1112H1.25173V4.60354ZM14.7483 20.1112H11.5642C12.2358 19.3987 12.648 18.4392 12.648 17.3852V4.60354H14.7483V20.1112Z" fill="#686868" />
                                </svg>
                            </span>
                            <span class="m-header-phone-offsidebar-menu-item-link-title">
                                {{ "blogs_txt"|trans }}
                            </span>
                        </span>
                    </a>
                </li>

            </ul>
        </div>
    </div>
</nav>