{
    "recordsTotal": {{ recordsTotal }},
    "recordsFiltered": {{ recordsFiltered }},
    "data": [
        {% for materialCategory in materialCategories %}
        [
            "{{ materialCategory.id }}",
            "{% if materialCategory.tarteb %}{{ materialCategory.tarteb }}{% else %}--{% endif %}",
            "{{ materialCategory.title }}",
            "{% if materialCategory.publish %}<span class='label label-success'>Yes</span>{% else %}<span class='label label-danger'>No</span>{% endif %}",
            "{% if materialCategory.created %}{{ materialCategory.created|dateTimeFormat }}{% else %}--{% endif %}",
            "<ul class='icons-list'><li class='dropdown'><a href='#' class='dropdown-toggle' data-toggle='dropdown'><i class='icon-menu9'></i></a><ul class='dropdown-menu dropdown-menu-right'><li><a href='{{ path('material_index',{'id':materialCategory.id}) }}'><i class='icon-list'></i> Materials</a></li><li class='divider'></li>{% if is_granted('ROLE_ADMIN') %}<li><a href='{{ path('material_category_edit',{'id':materialCategory.id}) }}'><i class='icon-pencil7'></i> Edit</a></li><li><a href='#' class='delete-btn' data-toggle='modal' data-target='#modal_delete' data-delete='{{ path('material_category_delete',{'id':materialCategory.id}) }}'><i class='icon-bin'></i> Remove</a></li>{% elseif is_granted("ROLE_IMAGE_GALLERY") %}<li><a href='{{ path('post_set_images', { 'id': materialCategory.post.id }) }}'><i class='icon-images3'></i> Image gallery</a></li>{% endif %}</ul></li></ul>"

        ]{% if loop.last == false %},{% endif %}
        {% endfor %}
    ]
}