{% extends 'adminTemplate/base.html.twig' %}
{% import 'adminTemplate/macros.html.twig' as macros %}
{% block breadcrumb %}
    <div class="breadcrumb-line">
        <ul class="breadcrumb">
            <li><a href="{{ path('dashboard') }}"><i class="icon-home2 position-left"></i>Dashboard</a></li>
            <li class="active">Change password</li>
        </ul>
    </div>
{% endblock %}
{% block body %}
    {{ form_start(form, {'attr':{'class':'form-validate-jquery', 'novalidate':'novalidate'}}) }}
    <div class="row">
        <div class="col-md-4">
            <div class="panel panel-flat">
                <div class="panel-body">
                    <div class="row">
                        {{ macros.input(form.plainPassword.first,12) }}
                    </div>
                    <div class="row">
                        {{ macros.input(form.plainPassword.second,12) }}
                    </div>

                </div>
                <div class="panel-footer">
                    <div class="heading-elements">
                        <div class="heading-btn pull-right">
                            <button type="submit" class="btn bg-teal-400">Change Password<i class="icon-checkmark4 position-right"></i></button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    {{ form_end(form) }}

{% endblock %}
{% block javascripts %}
    {{ parent() }}
    <script type="text/javascript" src="{{ asset('admin/js/plugins/forms/validation/validate.min.js') }}"></script>
    <script type="text/javascript" src="{{ asset('admin/js/pages/form_validation.js') }}"></script>
{% endblock javascripts %}