<div class="l-flex-col-lg-6 l-product-list-grid-col-products-header-sort">
    <span>{{ "sort_by_txt"|trans }}</span>
    <div class="l-dropdown" data-product-list-grid-sort-dropdown="true" data-l-dropdown="true">
        <button class="l-dropdown-button ui-dropdown-button" data-l-dropdown-button="true">
            {{ sortBy.currentSortTitle }}
        </button>
        <div class="l-dropdown-menu ui-dropdown-menu" data-l-dropdown-menu="true">
            {% for sort in sortBy.types %}
                <a class="l-dropdown-menu-item ui-dropdown-menu-item {{ sort.sortNumber == sortBy.currentSortNumber ? "active" }}" data-l-product-list-sort-btn="true" data-l-product-list-sort-btn-default-url="{{ sort.url }}"href="{{ sort.url }}">
                    {{ sort.title }}
                </a>
            {% endfor %}
        </div>
    </div>
    <button class="filter-dropdown" aria-label="{{ "sort_by_txt"|trans }}" aria-labelledby="{{ "filters_txt"|trans }}">
        <svg width="29" height="21" viewBox="0 0 29 21" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path fill-rule="evenodd" clip-rule="evenodd" d="M8.60892 3.97551C8.28697 5.22625 7.1516 6.15046 5.80033 6.15046C4.19872 6.15046 2.90039 4.85213 2.90039 3.25052C2.90039 1.64892 4.19872 0.350586 5.80033 0.350586C7.1516 0.350586 8.28697 1.2748 8.60892 2.52554H28.2753C28.6756 2.52554 29.0003 2.85008 29.0003 3.25052C29.0003 3.65096 28.6756 3.97551 28.2753 3.97551H8.60892ZM7.2503 3.25052C7.2503 4.0514 6.60106 4.70049 5.80033 4.70049C4.9996 4.70049 4.35036 4.05125 4.35036 3.25052C4.35036 2.4498 4.9996 1.80056 5.80033 1.80056C6.60106 1.80056 7.2503 2.44964 7.2503 3.25052Z" fill="#686868" />
            <path d="M0.724985 3.97536H2.99129C2.93161 3.7437 2.89994 3.50071 2.89994 3.25038C2.89994 3.00004 2.93161 2.75706 2.99129 2.52539H0.724985C0.324545 2.52539 0 2.84994 0 3.25038C0 3.65082 0.324545 3.97536 0.724985 3.97536Z" fill="#686868" />
            <path fill-rule="evenodd" clip-rule="evenodd" d="M17.3086 17.0255C16.9866 15.7748 15.8511 14.8506 14.5 14.8506C13.1489 14.8506 12.0132 15.7748 11.6914 17.0255H0.724985C0.324545 17.0255 0 17.3502 0 17.7505C0 18.1508 0.324545 18.4755 0.724985 18.4755H11.6913C12.0132 19.7263 13.1487 20.6505 14.4998 20.6505C15.851 20.6505 16.9866 19.7263 17.3084 18.4755H28.2747C28.675 18.4755 28.9997 18.1508 28.9997 17.7505C28.9997 17.3502 28.675 17.0255 28.2747 17.0255H17.3086ZM14.5 19.2005C15.3009 19.2005 15.95 18.5514 15.95 17.7505C15.95 16.9496 15.3009 16.3006 14.5 16.3006C13.6991 16.3006 13.05 16.9496 13.05 17.7505C13.05 18.5514 13.6991 19.2005 14.5 19.2005Z" fill="#686868" />
            <path fill-rule="evenodd" clip-rule="evenodd" d="M26.0086 9.77554C25.6866 8.5248 24.5511 7.60059 23.2 7.60059C21.8488 7.60059 20.7132 8.5248 20.3914 9.77554H0.724985C0.324545 9.77554 0 10.1002 0 10.5005C0 10.9008 0.324545 11.2255 0.724985 11.2255H20.3914C20.7133 12.4763 21.8488 13.4005 23.2 13.4005C24.5511 13.4005 25.6868 12.4763 26.0086 11.2255H28.2749C28.6751 11.2255 28.9998 10.9008 28.9998 10.5005C28.9998 10.1002 28.6751 9.77554 28.2749 9.77554H26.0086ZM23.2 11.9505C24.0008 11.9505 24.6499 11.3014 24.6499 10.5005C24.6499 9.69965 24.0007 9.05056 23.2 9.05056C22.3991 9.05056 21.75 9.69965 21.75 10.5005C21.75 11.3014 22.3991 11.9505 23.2 11.9505Z" fill="#686868" />
        </svg>
    </button>
</div>