{% extends 'fe/base.html.twig' %}
{% block title %}{{ "change_password_txt"|trans }}{% endblock %}
{% import 'fe/macros.html.twig' as macros %}

{% block stylesheets %}
    {{ parent() }}

    {{ macros.assetCSS(asset('pages-assets/profile-change-password/profile-change-password.styles.css')) }}
{% endblock %}

{% block content %}
    {% include "fe/_pages_header.html.twig" with {"pageTitle": "change_password_txt"|trans, "marginBottomZero": true } %}
<div class="wrapper-profile">
    <div class="l-container">
        <div class="l-flex-row">
            <div class="l-flex-col-xl-3 wrapper-profile-sidebar" data-profile-sidebar="true">
                {% include "user/frontEnd/profile/_sidemenu.html.twig" %}
            </div>
            <div class="l-flex-col-xl-9 wrapper-profile-card" data-profile-card="true">
                <div class="card-header">
                    <button class="back-btn" data-profile-card-btn="true">
                        <svg width="10" height="17" viewBox="0 0 10 17" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M0.261816 8.79401L7.52177 16.0538C7.68968 16.2219 7.91383 16.3145 8.15283 16.3145C8.39184 16.3145 8.61599 16.2219 8.7839 16.0538L9.31855 15.5193C9.66645 15.171 9.66645 14.6049 9.31855 14.2572L3.22219 8.16082L9.32531 2.0577C9.49323 1.88965 9.58594 1.66563 9.58594 1.42676C9.58594 1.18762 9.49323 0.963606 9.32531 0.795426L8.79067 0.261047C8.62262 0.0930003 8.39861 0.000423328 8.1596 0.000423307C7.92059 0.000423286 7.69644 0.0930002 7.52853 0.261047L0.261816 7.5275C0.0935038 7.69607 0.00105931 7.92115 0.00158953 8.16042C0.00105927 8.40062 0.0935037 8.62557 0.261816 8.79401Z" fill="#686868"/>
                        </svg>
                    </button>
                    <div>
                        <h2 class="title">{{ "change_password_txt"|trans }}</h2>
                        <p class="subtitle">{{ "change_password_description_txt"|trans }}</p>
                    </div>
                </div>
                <div class="card">
                    {% include "fe/_flash_messages.html.twig" %}
                    {{ form_start(form, {'attr':{'data-form-validate':'true', 'data-change-password-form':'true'}}) }}

                    {% do form.plainPassword.first.setRendered() %}
                    {% do form.plainPassword.second.setRendered() %}
                        <div class="l-flex-row">
                            <div class="l-flex-col-xl-4">
                                <div class="form-input-box form-input-box-spacing-40" data-form-validate-input-box="true">
                                    <label class="form-input-label" for="{{ form.plainPassword.first.vars.id }}">{{ "new_password_txt"|trans }}</label>
                                    <label class="form-input form-input-block" data-form-input="true">
                                        <input type="password" class="input" id="{{ form.plainPassword.first.vars.id }}" name="{{ form.plainPassword.first.vars.full_name }}" data-validate-input="{{ form.plainPassword.first.vars.id }}" data-form-validate-input-rules="required" placeholder="" data-form-input-input="true" />
                                        <button type="button" class="action" data-form-input-password-btn="true" tabindex="-1">
                                            <svg width="22" height="17" viewBox="0 0 22 17" fill="none" xmlns="http://www.w3.org/2000/svg">
                                                <path d="M13.5232 8.30752L14.7538 7.07692C14.8434 7.41191 14.8958 7.76213 14.8958 8.12505C14.8958 10.3652 13.0735 12.1876 10.8333 12.1876C10.4704 12.1876 10.1202 12.1351 9.78521 12.0455L11.0158 10.8149C12.3614 10.7232 13.4315 9.65306 13.5232 8.30752ZM21.5814 7.79615C21.4981 7.64635 20.3169 5.57667 18.0081 3.82269L17.0227 4.80801C18.7063 6.04589 19.773 7.4896 20.193 8.12606C19.3905 9.34803 16.2424 13.5417 10.8333 13.5417C10.0222 13.5417 9.26792 13.438 8.55817 13.2724L7.44555 14.385C8.46846 14.6987 9.59275 14.8959 10.8333 14.8959C17.9212 14.8959 21.4353 8.71682 21.5814 8.45394C21.6951 8.24929 21.6951 8.0008 21.5814 7.79615ZM18.76 1.15582L3.86412 16.0517C3.73192 16.1839 3.55858 16.2501 3.38542 16.2501C3.21225 16.2501 3.03892 16.1839 2.90672 16.0517C2.64215 15.7871 2.64215 15.3587 2.90672 15.0943L4.80188 13.1991C1.73807 11.3495 0.181289 8.62677 0.0853126 8.45394C-0.0284375 8.24929 -0.0284375 8.00063 0.0853126 7.79598C0.231393 7.53328 3.74546 1.35421 10.8333 1.35421C12.666 1.35421 14.2535 1.77231 15.6105 2.39049L17.8026 0.198428C18.0671 -0.0661426 18.4956 -0.0661426 18.76 0.198428C19.0244 0.462998 19.0245 0.891423 18.76 1.15582ZM5.81158 12.1894L7.52579 10.4752C7.05234 9.81099 6.77084 9.00102 6.77084 8.12505C6.77084 5.88492 8.59321 4.06254 10.8333 4.06254C11.7093 4.06254 12.5193 4.34404 13.1835 4.81732L14.5697 3.43116C13.4745 2.99258 12.23 2.70838 10.8333 2.70838C5.42429 2.70838 2.27619 6.90206 1.47384 8.12403C1.98335 8.89625 3.44788 10.851 5.81158 12.1894ZM8.50874 9.49208L12.2004 5.80045C11.7977 5.56262 11.334 5.41671 10.8333 5.41671C9.34003 5.41671 8.12501 6.63174 8.12501 8.12505C8.12501 8.62575 8.27092 9.08938 8.50874 9.49208Z" fill="#686868"/>
                                            </svg>
                                        </button>
                                    </label>
                                    <ul class="form-input-errors" data-validate-input-errors="{{ form.plainPassword.first.vars.id }}">
                                    </ul>
                                </div>
                            </div>
                            <div class="l-flex-col-xl-4">
                                <div class="form-input-box form-input-box-spacing-40" data-form-validate-input-box="true">
                                    <label class="form-input-label" for="{{ form.plainPassword.second.vars.id }}">{{ "confirm_new_password_txt"|trans }}</label>
                                    <label class="form-input form-input-block" data-form-input="true">
                                        <input type="password" class="input" id="{{ form.plainPassword.second.vars.id }}" name="{{ form.plainPassword.second.vars.full_name }}" data-validate-input="{{ form.plainPassword.second.vars.id }}" data-form-validate-input-rules="required|passwordMatch:[data-validate-input={{ form.plainPassword.first.vars.id }}]" placeholder="" data-form-input-input="true" />
                                        <button type="button" class="action" data-form-input-password-btn="true" tabindex="-1">
                                            <svg width="22" height="17" viewBox="0 0 22 17" fill="none" xmlns="http://www.w3.org/2000/svg">
                                                <path d="M13.5232 8.30752L14.7538 7.07692C14.8434 7.41191 14.8958 7.76213 14.8958 8.12505C14.8958 10.3652 13.0735 12.1876 10.8333 12.1876C10.4704 12.1876 10.1202 12.1351 9.78521 12.0455L11.0158 10.8149C12.3614 10.7232 13.4315 9.65306 13.5232 8.30752ZM21.5814 7.79615C21.4981 7.64635 20.3169 5.57667 18.0081 3.82269L17.0227 4.80801C18.7063 6.04589 19.773 7.4896 20.193 8.12606C19.3905 9.34803 16.2424 13.5417 10.8333 13.5417C10.0222 13.5417 9.26792 13.438 8.55817 13.2724L7.44555 14.385C8.46846 14.6987 9.59275 14.8959 10.8333 14.8959C17.9212 14.8959 21.4353 8.71682 21.5814 8.45394C21.6951 8.24929 21.6951 8.0008 21.5814 7.79615ZM18.76 1.15582L3.86412 16.0517C3.73192 16.1839 3.55858 16.2501 3.38542 16.2501C3.21225 16.2501 3.03892 16.1839 2.90672 16.0517C2.64215 15.7871 2.64215 15.3587 2.90672 15.0943L4.80188 13.1991C1.73807 11.3495 0.181289 8.62677 0.0853126 8.45394C-0.0284375 8.24929 -0.0284375 8.00063 0.0853126 7.79598C0.231393 7.53328 3.74546 1.35421 10.8333 1.35421C12.666 1.35421 14.2535 1.77231 15.6105 2.39049L17.8026 0.198428C18.0671 -0.0661426 18.4956 -0.0661426 18.76 0.198428C19.0244 0.462998 19.0245 0.891423 18.76 1.15582ZM5.81158 12.1894L7.52579 10.4752C7.05234 9.81099 6.77084 9.00102 6.77084 8.12505C6.77084 5.88492 8.59321 4.06254 10.8333 4.06254C11.7093 4.06254 12.5193 4.34404 13.1835 4.81732L14.5697 3.43116C13.4745 2.99258 12.23 2.70838 10.8333 2.70838C5.42429 2.70838 2.27619 6.90206 1.47384 8.12403C1.98335 8.89625 3.44788 10.851 5.81158 12.1894ZM8.50874 9.49208L12.2004 5.80045C11.7977 5.56262 11.334 5.41671 10.8333 5.41671C9.34003 5.41671 8.12501 6.63174 8.12501 8.12505C8.12501 8.62575 8.27092 9.08938 8.50874 9.49208Z" fill="#686868"/>
                                            </svg>
                                        </button>
                                    </label>
                                    <ul class="form-input-errors" data-validate-input-errors="{{ form.plainPassword.second.vars.id }}">
                                    </ul>
                                </div>
                            </div>
                            <div class="l-flex-col-xl-12">
                                <button class="btn btn-primary btn-md btn-block btn-rounded" type="submit">
                                    {{ "save_txt"|trans }}
                                </button>
                            </div>
                        </div>
                    {{ form_end(form) }}
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {{ macros.assetCSS(asset('pages-assets/profile-change-password/profile-change-password.lazy.styles.css'), true) }}

    {{ macros.assetJS(asset('pages-assets/profile-change-password/profile-change-password.js')) }}
    {{ macros.assetJS(asset('pages-assets/profile-change-password/profile-change-password.lazy.js'), true) }}
{% endblock %}