{% extends 'adminTemplate/base.html.twig' %}
{% import 'adminTemplate/macros.html.twig' as macros %}
{% set page_title %}Create new project{% endset %}

{% block stylesheets %}
    {{ parent() }}
    <link type="text/css" rel="stylesheet"
          href="{{ asset('admin/js/plugins/bootstrap-timepicker/css/bootstrap-timepicker.min.css') }}"/>
{% endblock stylesheets %}

{% block breadcrumb %}
    <div class="breadcrumb-line">
        <ul class="breadcrumb">
            <li><a href="{{ path('dashboard') }}"><i class="icon-home2 position-left"></i>Dashboard</a></li>
            <li><a href="{{ path('project_index') }}">Projects List</a></li>
            <li class="active">{{ page_title }}</li>
        </ul>
    </div>
{% endblock %}
{% block body %}
    {{ form_start(form, {'attr':{"data-toggle":"validator",'novalidate':'novalidate'} }) }}
    <div class="row">
        <div class="col-md-9">
            {% set defaultTwig= include ("cms/admin/project/_form.html.twig") %}
            {{ include ("@PNLocale/new_or_edit_tab_structure.html.twig", {'defaultTwig': defaultTwig, "transTwigPath" : "cms/admin/project/_form_trans.html.twig"} ) }}
        </div>
        <div class="col-md-3">
            <div class="panel panel-flat">
                <div class="panel-body">
                    <div class="row">
                        {{ macros.checkbox(form.publish,12,null,null,'form-control switchery') }}
                    </div>
                    <div class="row">
                        {{ macros.checkbox(form.featured,12,null,null,'form-control switchery') }}
                    </div>
                    <div class="row">
                        <div class="col-xs-6">Creator</div>
                        <div class="col-xs-6">{% if project.creator %}{{ project.creator }}{% else %}--{% endif %}</div>
                    </div>
                    <div class="row mt-10">
                        <div class="col-xs-6">Created date</div>
                        <div class="col-xs-6">{% if project.created %}{{ project.created|dateFormat }}{% else %}--/--/----{% endif %}</div>
                    </div>
                    <div class="row mt-10">
                        <div class="col-xs-6">Modified by</div>
                        <div class="col-xs-6">{% if project.modifiedBy %}{{ project.modifiedBy }}{% else %}--{% endif %}</div>
                    </div>
                    <div class="row mt-10">
                        <div class="col-xs-6">Modified date</div>
                        <div class="col-xs-6">{% if project.modified %}{{ project.modified|dateFormat }}{% else %}--/--/----{% endif %}</div>
                    </div>
                </div>
                <div class="panel-footer">
                    {% include 'adminTemplate/saveAndResetFormFooter.html.twig' %}
                </div>
            </div>
        </div>
    </div>
    {{ form_end(form) }}
{% endblock %}
{% block javascripts %}
    {{ parent() }}
    {% include "cms/admin/project/_form_js.html.twig" %}
{% endblock javascripts %}