{% extends 'adminTemplate/base.html.twig' %}
{% import 'adminTemplate/macros.html.twig' as macros %}
{% set page_title %}Create new city{% endset %}
{% block breadcrumb %}
    <div class="breadcrumb-line">
        <ul class="breadcrumb">
            <li><a href="{{ path('dashboard') }}"><i class="icon-home2 position-left"></i>Dashboard</a></li>
            <li><a href="{{ path('city_index') }}">Cities List</a></li>
            <li class="active">{{ page_title }}</li>
        </ul>
    </div>
{% endblock %}
{% block body %}
    {{ form_start(form, {'attr':{"data-toggle":"validator",'novalidate':'novalidate', 'enctype':'multipart/form-data'}}) }}
    <div class="row">
        <div class="col-md-9">
            {% include "shipping/admin/city/_form.html.twig" %}
        </div>
        <div class="col-md-3">
            <div class="panel panel-flat">
                <div class="panel-body">
                    <div class="row">
                        {{ macros.checkbox(form.publish, 12) }}
                    </div>
                    <div class="row">
                        <div class="col-xs-6">Creator</div>
                        <div class="col-xs-6">{% if city.creator %}{{ city.creator }}{% else %}--{% endif %}</div>
                    </div>
                    <div class="row mt-10">
                        <div class="col-xs-6">Created date</div>
                        <div class="col-xs-6">{% if city.created %}{{ city.created|dateFormat }}{% else %}--/--/----{% endif %}</div>
                    </div>
                    <div class="row mt-10">
                        <div class="col-xs-6">Modified by</div>
                        <div class="col-xs-6">{% if city.modifiedBy %}{{ city.modifiedBy }}{% else %}--{% endif %}</div>
                    </div>
                    <div class="row mt-10">
                        <div class="col-xs-6">Modified date</div>
                        <div class="col-xs-6">{% if city.modified %}{{ city.modified|dateFormat }}{% else %}--/--/----{% endif %}</div>
                    </div>
                </div>
                <div class="panel-footer">
                    {% include 'adminTemplate/saveAndResetFormFooter.html.twig' %}
                </div>
            </div>
        </div>
    </div>
    {{ form_end(form) }}
{% endblock %}
{% block javascripts %}
    {{ parent() }}
    <script type="text/javascript" src="{{ asset('admin/js/plugins/forms/validation/validate.min.js') }}"></script>
    <script type="text/javascript" src="{{ asset('admin/js/pages/form_validation.js') }}"></script>
    <script type="text/javascript" src="{{ asset('admin/js/pages/form_layouts.js') }}"></script>
    <script type="text/javascript" src="{{ asset('admin/js/plugins/forms/styling/uniform.min.js') }}"></script>
    <script type="text/javascript" src="{{ asset('admin/js/plugins/forms/styling/switchery.min.js') }}"></script>
{% endblock javascripts %}