{
    "recordsTotal": {{ recordsTotal }},
    "recordsFiltered": {{ recordsFiltered }},
    "data": [
        {% for shippingTime in shippingTimes %}
        [
            "{{ shippingTime.id }}",
            "{{ shippingTime.name }}",
            "{% if shippingTime.noOfDeliveryDays > 0 %}{{ shippingTime.noOfDeliveryDays }}{% else %}N/A{% endif %}",
            "<ul class='icons-list'><li class='dropdown'><a href='#' class='dropdown-toggle' data-toggle='dropdown'><i class='icon-menu9'></i></a><ul class='dropdown-menu dropdown-menu-right'>{% if is_granted('ROLE_ADMIN') %}<li><a href='{{ path('shipping_time_edit',{'id':shippingTime.id}) }}'><i class='icon-pencil7'></i> Edit</a></li><li><a href='#' class='delete-btn' data-toggle='modal' data-target='#modal_delete' data-delete='{{ path('shipping_time_delete',{'id':shippingTime.id}) }}'><i class='icon-bin'></i> Remove</a></li>{% endif %}</ul></li></ul>"

        ]{% if loop.last == false %},{% endif %}
        {% endfor %}
    ]
}