{% import 'adminTemplate/macros.html.twig' as macros %}
<div class="panel panel-flat">
    <div class="panel-heading">
        <h6 class="panel-title"><i class="icon-pencil7"></i> Product Information</h6>
    </div>
    <div class="panel-body">
        {# Basic Product Details #}
        <div class="row">
            <div class="col-md-12">
                <h6 class="text-semibold text-uppercase text-muted mb-15">Basic Information</h6>
            </div>
        </div>
        <div class="row">
            {{ macros.input(form.title, 6) }}
            {{ macros.input(form.sku, 3) }}
            {{ macros.input(form.brand, 3) }}
        </div>
        <div class="row">
            {% if form.currency is defined %}
                {{ macros.input(form.currency, 3) }}
            {% endif %}
            {{ macros.input(form.vendor, 3) }}
            {{ macros.input(form.storeAddress, 6) }}
        </div>

        {# Category and Search #}
        <div class="row">
            {% if form.category.vars.block_prefixes.1 == "hidden" %}
                <div class="col-md-6">
                    <div class="form-group">
                        <label>Category</label>
                        <div class="input-group">
                            <span id="categoryName"
                                  class="form-control">{{ (product.category is not null) ? product.category.title : "Select category" }}</span>
                            <div class="input-group-btn">
                                <button class="btn btn-primary tree-opener" data-toggle="modal"
                                        data-target="#changeCategory" type="button">
                                    Change
                                </button>
                            </div>
                        </div>
                        {{ form_row(form.category) }}
                    </div>
                </div>
            {% else %}
                {{ macros.input(form.category, 6) }}
            {% endif %}
            {{ macros.input(form.searchTerms, 6) }}
        </div>

        {# Collections and Occasions #}
        {% if form.collections is defined or form.occasions is defined %}
            <div class="row">
                {% if form.collections is defined %}
                    {{ macros.input(form.collections, 6) }}
                {% endif %}
                {% if form.occasions is defined %}
                    {{ macros.input(form.occasions, 6) }}
                {% endif %}
            </div>
        {% endif %}

        {# Related Products #}
        <div class="row">
            <div class="col-md-12">
                <h6 class="text-semibold text-uppercase text-muted mb-15 mt-20">Related Products</h6>
            </div>
        </div>
        <div class="row">
            {{ macros.input(form.details.relatedProducts, 12) }}
        </div>

        {# AR and Specifications #}
        <div class="row">
            {{ macros.input(form.details.augmentedRealityUrl, 6) }}
        </div>

        <div id="sub-attributes-box">
            {% include 'product/admin/product/_form_specs.html.twig' %}
        </div>
        
        {% include 'product/admin/product/productPricesSnippet.html.twig' %}
        
        {# Product Description #}
        <div class="row">
            <div class="col-md-12">
                <h6 class="text-semibold text-uppercase text-muted mb-15 mt-20">Product Description</h6>
            </div>
        </div>
        <div class="row">
            {{ macros.input(form.post.description,12,null,null,'form-control ckeditor') }}
        </div>
    </div>
</div>

<div id="changeCategory" class="modal fade" tabindex="-1">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h5 class="modal-title">Change Category</h5>
            </div>
            <div class="modal-body">
                <div id="myFancyTreeID"></div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-link" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>
