{% import 'adminTemplate/macros.html.twig' as macros %}
<div class="panel panel-flat">
    <div class="panel-body">
        <div class="row">
            {{ macros.checkbox(form.publish, 12) }}
        </div>
        <div class="row">
            {{ macros.checkbox(form.featured, 12) }}
        </div>
        <div class="row">
            {{ macros.checkbox(form.newArrival, 12) }}
        </div>
        {% if form.enableVariants is defined %}
            <div class="row">
                {{ macros.checkbox(form.enableVariants, 12) }}
            </div>
        {% endif %}
        <div class="row">
            <div class="col-xs-6">Creator</div>
            <div class="col-xs-6">{% if product.creator %}{{ product.creator }}{% else %}--{% endif %}</div>
        </div>
        <div class="row mt-10">
            <div class="col-xs-6">Created date</div>
            <div class="col-xs-6">{% if product.created %}{{ product.created|dateFormat }}{% else %}--/--/----{% endif %}</div>
        </div>
        <div class="row mt-10">
            <div class="col-xs-6">Modified by</div>
            <div class="col-xs-6">{% if product.modifiedBy %}{{ product.modifiedBy }}{% else %}--{% endif %}</div>
        </div>
        <div class="row mt-10">
            <div class="col-xs-6">Modified date</div>
            <div class="col-xs-6">{% if product.modified %}{{ product.modified|dateFormat }}{% else %}--/--/----{% endif %}</div>
        </div>
    </div>
    <div class="panel-footer">
        {% include 'product/admin/product/_save_btns.html.twig' %}
    </div>
</div>