{% extends 'adminTemplate/base.html.twig' %}
{% set page_title %}Edit {{ product.title }}{% endset %}
{% block stylesheets %}
    {{ parent() }}
    <style>
        .box-loading {
            position: relative;
        }
        .box-loading:before {
            content: "";
            position: absolute;
            top: 0;
            bottom: 0;
            left: 0;
            right: 0;
            z-index: 1;
            background-color: rgba(255, 255, 255, 0.5);
        }

        .box-loading:after {
            content: "\eb51";
            font-family: 'icomoon';
            position: absolute;
            z-index: 2;
            top: 50%;
            left: 50%;
            -webkit-animation: rotation 1s linear infinite;
            -o-animation: rotation 1s linear infinite;
            animation: rotation 1s linear infinite;
        }
    </style>
{% endblock %}
{% block breadcrumb %}
    <div class="breadcrumb-line">
        <ul class="breadcrumb">
            <li><a href="{{ path('dashboard') }}"><i class="icon-home2 position-left"></i>Dashboard</a></li>
            <li><a href="{{ path('product_index') }}">Products List</a></li>
            <li class="active">{{ page_title }}</li>
        </ul>
        <ul class="breadcrumb-elements">
            <li>
                <a href="{{ path('fe_product_show', { 'slug': product.seo.slug}) }}" target="_blank">
                    <i class="icon-eye position-left"></i> Preview
                </a>
            </li>
            <li>
                <a href="{{ path('post_set_images', { 'id': product.post.id}) }}">
                    <i class="fa fa-image position-left"></i> Manage Image Gallery
                </a>
            </li>
            <li>
                <a href="{{ path('three_sixty_view_images', { 'id': product.threeSixtyView.id}) }}">
                    <i class="icon-cube4 position-left"></i> 360 View
                </a>
            </li>
            {% if constant("App\\BaseBundle\\SystemConfiguration::PRODUCT_PRICE_TYPE").value == constant("App\\BaseBundle\\ProductPriceTypeEnum::VARIANTS").value and product.enableVariants %}
                <li>
                    <a href="{{ path('product_variant_index', { 'id': product.id}) }}">
                        <i class="icon-tree7 position-left"></i> Variants
                    </a>
                </li>
            {% endif %}
        </ul>
    </div>
{% endblock %}
{% block body %}
    {{ form_start(form, {'attr':{"data-toggle":"validator",'novalidate':'novalidate'} }) }}
    <div class="row">
        <div class="col-lg-9">
            {% set defaultTwig= include ("product/admin/product/_form.html.twig") %}
            {{ include ("@PNLocale/new_or_edit_tab_structure.html.twig", {'defaultTwig': defaultTwig, "transTwigPath" : "product/admin/product/_form_trans.html.twig"} ) }}
        </div>
        <div class="col-lg-3">
            {% include "product/admin/product/_new_edit_aside.html.twig" %}
        </div>
    </div>
    {{ form_end(form) }}
{% endblock %}
{% block javascripts %}
    {{ parent() }}
    {% include 'product/admin/product/_form_js.html.twig' %}
{% endblock javascripts %}
