<section class="ui-featured-collections-section l-featured-collections-section">
    <div class="l-container l-container--phone-spacing">
        <div class="l-title-line l-title-line--spacing-bottom-30">
            <div class="ui-title-line-h-empty"></div>
            <div class="l-title-line-title ui-title-line-title ui-title-line-title--size-25">COLLECTIONS</div>
            <div class="ui-title-line-h-empty"></div>
        </div>
    </div>
    <div class="l-container l-container--phone-spacing l-container--position-relative ui-featured-collections-section-container">
        <div class="swiper l-slider-row" data-l-slider="featured-collections">
            <div class="l-flex-row l-flex-row--nowrap l-flex-row--align-center l-flex-row--spacing-0 swiper-wrapper">
                <% for(var i = 1; i < 10; i++) { %>
                <div class="l-flex-col-lg swiper-slide">
                    <a class="l-featured-collections-section-cat ui-featured-collections-section-cat" href="#">
                        <div class="l-featured-collections-section-cat-img-container ui-featured-collections-section-cat-img-container">
                            <picture>
                                <!--[if IE 9]><video style="display: none;><![endif]-->
                                <source
                                        data-srcset="//placehold.co/427x184/3e6f7<%= i %>/ffffff.webp?text=576"
                                        media="(max-width: 576px)" />
                                <source
                                        data-srcset="//placehold.co/397x171/3e6f7<%= i %>/ffffff.webp?text=768"
                                        media="(max-width: 768px)" />
                                <source
                                        data-srcset="//placehold.co/453x195/3e6f7<%= i %>/ffffff.webp?text=992"
                                        media="(max-width: 992px)" />
                                <source
                                        data-srcset="//placehold.co/313x135/3e6f7<%= i %>/ffffff.webp?text=1400"
                                        media="(max-width: 1400px)" />
                                <!--[if IE 9]></video><![endif]-->
                                <img
                                        class="l-featured-collections-section-cat-img ui-featured-collections-section-cat-img swiper-lazy"
                                        width="443"
                                        height="191"
                                        data-expand="-20"
                                        src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw=="
                                        data-src="//placehold.co/443x191/<%= i %>03e3e/ffffff.webp?text=1920"
                                        alt="New Collection"
                                />
                            </picture>
                            <div class="swiper-lazy-preloader"></div>
                        </div>
                        <h6 class="l-featured-collections-section-cat-title ui-featured-collections-section-cat-title">Name of collection</h6>
                        <p class="l-featured-collections-section-cat-subtitle ui-featured-collections-section-cat-subtitle"><%= i + Math.floor(Math.random() * 100) %> Products</p>
                    </a>
                </div>
                <% } %>
            </div>
        </div>
        <div class="swiper-pagination" data-l-slider-pagination="featured-collections"></div>
        <div class="swiper-button-prev" data-l-slider-navigation-prev="featured-collections"></div>
        <div class="swiper-button-next" data-l-slider-navigation-next="featured-collections"></div>
    </div>
    <div class="l-container l-container--phone-spacing">
        <div class="l-featured-collections-section-actions">
            <a href="#" class="l-featured-collections-section-action ui-featured-collections-section-action">
                All Collections <%- include ../_components/icons/arrow-right.svg.ejs %>
            </a>
        </div>
    </div>
</section>