<div class="ui-featured-offers-2-section ui-featured-offers-2-section--spacing-0">
    <div class="l-container l-container--phone-spacing">
        <div class="l-flex-row">
            <% for(var i = 1; i < 3; i++) { %>
                <!--Two banners 2 -DONE-->
                <div class="l-flex-col-lg-6 l-flex-col-md-12">
                    <a class="l-featured-offers-2-section-banner ui-featured-offers-2-section-banner" href="#">
                        <picture>
                            <!--[if IE 9]><video style="display: none;><![endif]-->
                            <source
                                    data-srcset="//placehold.co/559x272/73e6e<%= i %>/ffffff.webp?text=576"
                                    media="--small" />
                            <source
                                    data-srcset="//placehold.co/540x262/73e6e<%= i %>/ffffff.webp?text=768"
                                    media="--medium" />
                            <source
                                    data-srcset="//placehold.co/350x170/73e6e<%= i %>/ffffff.webp?text=992"
                                    media="--large" />
                            <source
                                    data-srcset="//placehold.co/585x285/73e6e<%= i %>/ffffff.webp?text=1400"
                                    media="--x-large" />
                            <!--[if IE 9]></video><![endif]-->
                            <img
                                    class="l-responsive-img l-featured-offers-2-section-banner-img lazyload"
                                    width="797"
                                    height="388"
                                    data-expand="-20"
                                    src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw=="
                                    data-src="//placehold.co/797x388/3e6f7<%= i %>/ffffff.webp"
                                    alt="Offer <%= i %>"
                            />
                        </picture>
                    </a>
                </div>
            <% } %>
        </div>
        <div class="l-flex-row">
            <div class="l-flex-col-lg-12">
                <!--One banner 1 -DONE-->
                <a class="l-featured-offers-2-section-banner ui-featured-offers-2-section-banner" href="#">
                    <picture>
                        <!--[if IE 9]><video style="display: none;><![endif]-->
                        <source
                                data-srcset="//placehold.co/559x142/3e6f7<%= i %>/ffffff.webp?text=576"
                                media="--small" />
                        <source
                                data-srcset="//placehold.co/450x115/3e6f7<%= i %>/ffffff.webp?text=768"
                                media="--medium" />
                        <source
                                data-srcset="//placehold.co/720x183/3e6f7<%= i %>/ffffff.webp?text=992"
                                media="--large" />
                        <source
                                data-srcset="//placehold.co/1190x303/3e6f7<%= i %>/ffffff.webp?text=1400"
                                media="--x-large" />
                        <!--[if IE 9]></video><![endif]-->
                        <img
                                class="l-responsive-img l-featured-offers-2-section-banner-img lazyload"
                                width="1612"
                                height="410"
                                data-expand="-20"
                                src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw=="
                                data-src="//placehold.co/1612x410/703e3e<%= i %>/ffffff.webp"
                                alt="Offer 1"
                        />
                    </picture>
                </a>
            </div>
        </div>
    </div>
</div>