<%- include ../_components/main/header/header.ejs %>
<%- include ../_components/main/body/body-header.ejs %>
<link rel="stylesheet" href="/pages-assets/product-view/product-view.styles.css">


<div class="l-featured-section l-featured-section--desktop-only ui-featured-section lazyload" data-bg="/assets/img/featured-section-bg.webp" data-delay="5000">
    <div class="l-featured-section-content">
        <div class="l-container">
            <div class="l-flex-row">
                <div class="l-flex-col-lg-2"></div>
                <div class="l-flex-col-lg-8">
                    <div class="l-featured-section-content-box">
                        <div class="l-page-title-box">
                            <h1 class="l-page-title ui-page-title ui-page-title--no-description">Bosch Brushless Cordless Impact Drill 18V 60 Nm 5.0 Ah</h1>
                        </div>
                    </div>
                </div>
                <div class="l-flex-col-lg-2"></div>
            </div>
        </div>
    </div>
</div>

<div class="l-product-view-overview-section ui-product-view-overview-section">
    <div class="l-container">
        <div class="l-breadcrumbs ui-breadcrumbs">
            <a class="ui-breadcrumbs-item" href="#">Power Tools</a>
            <span class="ui-breadcrumbs-item separator">/</span>
            <a class="ui-breadcrumbs-item" href="#">Drills</a>
            <span class="ui-breadcrumbs-item separator active">/</span>
            <span class="ui-breadcrumbs-item active">Bosch Brushless Cordless Impact Drill 18V 60 Nm 5.0 Aha</span>
        </div>
        <div class="l-product-view-overview-section-row l-flex-row">
            <div class="l-product-view-overview-section-col ui-product-view-overview-section-col l-product-view-overview-section-col-photo" data-l-gallery="product-imgs">

                <div class="l-product-details-mobile-title-ratings">
                    <div>
                        <div class="l-product-details-meta-specs-container">
                            <div class="l-product-details-meta-specs ui-product-details-meta-specs">
                                <strong>ProductId</strong> : 84818030 | <strong>SellerId</strong> : 84818030 |
                                <strong><a href="#">Edit Predefined specs</a></strong>
                            </div>
                        </div>
                        <span class="l-product-details-title-icon" data-tooltip="true" data-tippy-content="Fulfilled by JustPiece" aria-label="Fulfilled by JustPiece">
                            <svg viewBox="0 0 25 29" fill="none" xmlns="http://www.w3.org/2000/svg"><rect width="25" height="29" rx="5" fill="#37A446"></rect><path d="M8.38 9.201h-.126V15.854c0 .1-.057.304-.246.594-.18.276-.446.58-.774.864-.668.582-1.503 1.018-2.244 1.078l-.126.01.01.126.077.884.01.125.125-.01c1.082-.088 2.146-.687 2.922-1.361a5.45 5.45 0 0 0 .982-1.103c.238-.366.428-.79.428-1.207V9.201H8.38ZM11.723 12.843v-.126H10.56V19.453H11.723v-6.61Z" fill="#fff" stroke="#fff" stroke-width=".252"></path><path d="M18.775 13.433c0 1.886-1.573 3.42-3.52 3.42s-3.52-1.534-3.52-3.42 1.573-3.42 3.52-3.42 3.52 1.534 3.52 3.42Zm-3.52 4.56c2.583 0 4.684-2.038 4.684-4.56 0-2.521-2.1-4.56-4.684-4.56-2.583 0-4.683 2.039-4.683 4.56 0 2.521 2.1 4.56 4.683 4.56Z" fill="#fff" stroke="#fff" stroke-width=".252"></path></svg>
                        </span>
                        <p class="l-product-details-title ui-product-details-title">Bosch Brushless Cordless Impact Drill 18V 60 Nm 5.0 Ah</p>
                    </div>
                    <div class="l-product-details-rating">
                        <div class="l-product-details-rating-stars">
                            <span class="l-product-details-rating-star">
                                <svg viewBox="0 0 28 26" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M21.0472 15.1567L21.0471 15.1567L21.0387 15.1649C20.4539 15.7316 20.1867 16.5492 20.3194 17.3499L20.3206 17.3571L20.3219 17.3642L21.5163 23.9747C21.5163 23.9749 21.5164 23.9751 21.5164 23.9753C21.5473 24.1484 21.4745 24.3246 21.3276 24.426L21.3165 24.4336L21.3057 24.4416C21.1591 24.5487 20.9611 24.5635 20.7962 24.4751L20.7962 24.475L20.7861 24.4697L14.838 21.3674C14.4915 21.1838 14.1115 21.0876 13.7289 21.0767L13.7146 21.0763H13.7004H13.3362H13.2621L13.1889 21.0872C12.9551 21.122 12.7213 21.1967 12.5025 21.315L6.56595 24.4253C6.46364 24.4753 6.35022 24.4936 6.23909 24.4786C5.98638 24.4236 5.81796 24.1809 5.85663 23.9232L7.0506 17.3228L7.05203 17.3149L7.05333 17.3069C7.18528 16.5041 6.91916 15.6874 6.3395 15.1167L6.33952 15.1166L6.3339 15.1112L1.48201 10.4084C1.48194 10.4084 1.48187 10.4083 1.48181 10.4083C1.35425 10.2844 1.31148 10.1009 1.36877 9.93608L1.3688 9.93609L1.37145 9.92827C1.43214 9.74892 1.58546 9.61916 1.76987 9.58849L8.42295 8.62332C9.26223 8.52882 9.99654 8.0151 10.3741 7.25998L10.3741 7.26L10.3785 7.25115L13.3141 1.23239C13.3293 1.20455 13.3454 1.18126 13.3613 1.16224L13.4261 1.11185L13.4953 1.05805L13.5173 1.03363L13.5195 1.03285L13.5377 1.02615L13.5557 1.01874L13.6012 1H13.9037C14.0572 1.02753 14.1882 1.12329 14.26 1.25926L17.2351 7.25227C17.2356 7.25329 17.2361 7.25432 17.2366 7.25534C17.5971 7.98945 18.2944 8.49658 19.0972 8.61957L19.0972 8.6196L19.1051 8.62074L25.7835 9.58958L25.7856 9.58989C25.9756 9.61703 26.1357 9.74686 26.202 9.927C26.2529 10.0938 26.2051 10.2757 26.0759 10.3969L26.0727 10.3999L21.0472 15.1567Z" fill="#EEC337" stroke="#EEC337" stroke-width="2"></path>
                                </svg>
                            </span>
                            <span class="l-product-details-rating-star">
                                <svg viewBox="0 0 28 26" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M21.0472 15.1567L21.0471 15.1567L21.0387 15.1649C20.4539 15.7316 20.1867 16.5492 20.3194 17.3499L20.3206 17.3571L20.3219 17.3642L21.5163 23.9747C21.5163 23.9749 21.5164 23.9751 21.5164 23.9753C21.5473 24.1484 21.4745 24.3246 21.3276 24.426L21.3165 24.4336L21.3057 24.4416C21.1591 24.5487 20.9611 24.5635 20.7962 24.4751L20.7962 24.475L20.7861 24.4697L14.838 21.3674C14.4915 21.1838 14.1115 21.0876 13.7289 21.0767L13.7146 21.0763H13.7004H13.3362H13.2621L13.1889 21.0872C12.9551 21.122 12.7213 21.1967 12.5025 21.315L6.56595 24.4253C6.46364 24.4753 6.35022 24.4936 6.23909 24.4786C5.98638 24.4236 5.81796 24.1809 5.85663 23.9232L7.0506 17.3228L7.05203 17.3149L7.05333 17.3069C7.18528 16.5041 6.91916 15.6874 6.3395 15.1167L6.33952 15.1166L6.3339 15.1112L1.48201 10.4084C1.48194 10.4084 1.48187 10.4083 1.48181 10.4083C1.35425 10.2844 1.31148 10.1009 1.36877 9.93608L1.3688 9.93609L1.37145 9.92827C1.43214 9.74892 1.58546 9.61916 1.76987 9.58849L8.42295 8.62332C9.26223 8.52882 9.99654 8.0151 10.3741 7.25998L10.3741 7.26L10.3785 7.25115L13.3141 1.23239C13.3293 1.20455 13.3454 1.18126 13.3613 1.16224L13.4261 1.11185L13.4953 1.05805L13.5173 1.03363L13.5195 1.03285L13.5377 1.02615L13.5557 1.01874L13.6012 1H13.9037C14.0572 1.02753 14.1882 1.12329 14.26 1.25926L17.2351 7.25227C17.2356 7.25329 17.2361 7.25432 17.2366 7.25534C17.5971 7.98945 18.2944 8.49658 19.0972 8.61957L19.0972 8.6196L19.1051 8.62074L25.7835 9.58958L25.7856 9.58989C25.9756 9.61703 26.1357 9.74686 26.202 9.927C26.2529 10.0938 26.2051 10.2757 26.0759 10.3969L26.0727 10.3999L21.0472 15.1567Z" fill="#EEC337" stroke="#EEC337" stroke-width="2"></path>
                                </svg>
                            </span>
                            <span class="l-product-details-rating-star">
                                <svg viewBox="0 0 28 26" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M21.0472 15.1567L21.0471 15.1567L21.0387 15.1649C20.4539 15.7316 20.1867 16.5492 20.3194 17.3499L20.3206 17.3571L20.3219 17.3642L21.5163 23.9747C21.5163 23.9749 21.5164 23.9751 21.5164 23.9753C21.5473 24.1484 21.4745 24.3246 21.3276 24.426L21.3165 24.4336L21.3057 24.4416C21.1591 24.5487 20.9611 24.5635 20.7962 24.4751L20.7962 24.475L20.7861 24.4697L14.838 21.3674C14.4915 21.1838 14.1115 21.0876 13.7289 21.0767L13.7146 21.0763H13.7004H13.3362H13.2621L13.1889 21.0872C12.9551 21.122 12.7213 21.1967 12.5025 21.315L6.56595 24.4253C6.46364 24.4753 6.35022 24.4936 6.23909 24.4786C5.98638 24.4236 5.81796 24.1809 5.85663 23.9232L7.0506 17.3228L7.05203 17.3149L7.05333 17.3069C7.18528 16.5041 6.91916 15.6874 6.3395 15.1167L6.33952 15.1166L6.3339 15.1112L1.48201 10.4084C1.48194 10.4084 1.48187 10.4083 1.48181 10.4083C1.35425 10.2844 1.31148 10.1009 1.36877 9.93608L1.3688 9.93609L1.37145 9.92827C1.43214 9.74892 1.58546 9.61916 1.76987 9.58849L8.42295 8.62332C9.26223 8.52882 9.99654 8.0151 10.3741 7.25998L10.3741 7.26L10.3785 7.25115L13.3141 1.23239C13.3293 1.20455 13.3454 1.18126 13.3613 1.16224L13.4261 1.11185L13.4953 1.05805L13.5173 1.03363L13.5195 1.03285L13.5377 1.02615L13.5557 1.01874L13.6012 1H13.9037C14.0572 1.02753 14.1882 1.12329 14.26 1.25926L17.2351 7.25227C17.2356 7.25329 17.2361 7.25432 17.2366 7.25534C17.5971 7.98945 18.2944 8.49658 19.0972 8.61957L19.0972 8.6196L19.1051 8.62074L25.7835 9.58958L25.7856 9.58989C25.9756 9.61703 26.1357 9.74686 26.202 9.927C26.2529 10.0938 26.2051 10.2757 26.0759 10.3969L26.0727 10.3999L21.0472 15.1567Z" fill="#EEC337" stroke="#EEC337" stroke-width="2"></path>
                                </svg>
                            </span>
                            <span class="l-product-details-rating-star">
                                <svg viewBox="0 0 28 26" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M21.0472 15.1567L21.0471 15.1567L21.0387 15.1649C20.4539 15.7316 20.1867 16.5492 20.3194 17.3499L20.3206 17.3571L20.3219 17.3642L21.5163 23.9747C21.5163 23.9749 21.5164 23.9751 21.5164 23.9753C21.5473 24.1484 21.4745 24.3246 21.3276 24.426L21.3165 24.4336L21.3057 24.4416C21.1591 24.5487 20.9611 24.5635 20.7962 24.4751L20.7962 24.475L20.7861 24.4697L14.838 21.3674C14.4915 21.1838 14.1115 21.0876 13.7289 21.0767L13.7146 21.0763H13.7004H13.3362H13.2621L13.1889 21.0872C12.9551 21.122 12.7213 21.1967 12.5025 21.315L6.56595 24.4253C6.46364 24.4753 6.35022 24.4936 6.23909 24.4786C5.98638 24.4236 5.81796 24.1809 5.85663 23.9232L7.0506 17.3228L7.05203 17.3149L7.05333 17.3069C7.18528 16.5041 6.91916 15.6874 6.3395 15.1167L6.33952 15.1166L6.3339 15.1112L1.48201 10.4084C1.48194 10.4084 1.48187 10.4083 1.48181 10.4083C1.35425 10.2844 1.31148 10.1009 1.36877 9.93608L1.3688 9.93609L1.37145 9.92827C1.43214 9.74892 1.58546 9.61916 1.76987 9.58849L8.42295 8.62332C9.26223 8.52882 9.99654 8.0151 10.3741 7.25998L10.3741 7.26L10.3785 7.25115L13.3141 1.23239C13.3293 1.20455 13.3454 1.18126 13.3613 1.16224L13.4261 1.11185L13.4953 1.05805L13.5173 1.03363L13.5195 1.03285L13.5377 1.02615L13.5557 1.01874L13.6012 1H13.9037C14.0572 1.02753 14.1882 1.12329 14.26 1.25926L17.2351 7.25227C17.2356 7.25329 17.2361 7.25432 17.2366 7.25534C17.5971 7.98945 18.2944 8.49658 19.0972 8.61957L19.0972 8.6196L19.1051 8.62074L25.7835 9.58958L25.7856 9.58989C25.9756 9.61703 26.1357 9.74686 26.202 9.927C26.2529 10.0938 26.2051 10.2757 26.0759 10.3969L26.0727 10.3999L21.0472 15.1567Z" fill="#EEC337" stroke="#EEC337" stroke-width="2"></path>
                                </svg>
                            </span>
                            <span class="l-product-details-rating-star">
                                <svg viewBox="0 0 28 26" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M20.8284 15.1567L20.8284 15.1567L20.8199 15.1649C20.2352 15.7316 19.9679 16.5492 20.1006 17.3499L20.1018 17.3571L20.1031 17.3642L21.2976 23.9747C21.2976 23.9749 21.2976 23.9751 21.2977 23.9753C21.3285 24.1484 21.2557 24.3246 21.1089 24.426L21.0978 24.4336L21.0869 24.4416C20.9404 24.5487 20.7424 24.5635 20.5775 24.4751L20.5775 24.475L20.5673 24.4697L14.6192 21.3674C14.2727 21.1838 13.8927 21.0876 13.5102 21.0767L13.4959 21.0763H13.4816H13.1175H13.0434L12.9701 21.0872C12.7363 21.122 12.5025 21.1967 12.2837 21.315L6.34727 24.4253C6.24495 24.4753 6.13151 24.4936 6.02035 24.4786C5.76764 24.4236 5.59921 24.1809 5.63788 23.9232L6.83185 17.3228L6.83328 17.3149L6.83458 17.3069C6.96653 16.5041 6.70041 15.6874 6.12075 15.1167L6.12077 15.1166L6.11515 15.1112L1.26326 10.4084C1.26319 10.4084 1.26312 10.4083 1.26306 10.4083C1.1355 10.2844 1.09273 10.1009 1.15002 9.93608L1.15005 9.93609L1.1527 9.92827C1.21339 9.7489 1.36674 9.61914 1.55117 9.58848L8.20417 8.62333C9.04347 8.52883 9.77778 8.0151 10.1553 7.25998L10.1554 7.26L10.1597 7.25115L13.0954 1.23239C13.1105 1.20455 13.1266 1.18126 13.1426 1.16224L13.2073 1.11185L13.2765 1.05805L13.2986 1.03363L13.3007 1.03285L13.319 1.02615L13.337 1.01874L13.3825 1H13.685C13.8384 1.02752 13.9694 1.12327 14.0413 1.25923L17.0164 7.25227C17.0169 7.25329 17.0174 7.25432 17.0179 7.25534C17.3783 7.98945 18.0757 8.49658 18.8785 8.61957L18.8785 8.6196L18.8863 8.62074L25.5647 9.58958L25.5669 9.58989C25.7569 9.61703 25.917 9.74687 25.9833 9.92701C26.0341 10.0938 25.9864 10.2757 25.8572 10.3969L25.854 10.3999L20.8284 15.1567Z" stroke="#EEC337" stroke-width="2"></path>
                                </svg>
                            </span>
                        </div>
                        <button class="l-product-details-rating-btn ui-product-details-rating-btn" data-product-open-reviews-tab="true">1200 Ratings</button>
                    </div>
                </div>

                <div class="l-product-img ui-product-img">
                    <div class="l-product-img-actions ui-product-img-actions">
                        <div class="l-product-slide-header-actions">
                            <button type="button" class="l-product-slide-header-action ui-product-slide-header-action ui-product-slide-header-action--hoverable ui-product-slide-header-action--active" data-tooltip="true" data-tippy-content="Add to Wishlist" title="Add to Wishlist" aria-label="Add to Wishlist" role="button" data-toggle-product-wishlist="true" data-toggle-product-wishlist-url="http://localhost:3000/api/product/toggle-product-wishlist">
                                <%- include ../_components/icons/wish-list.svg.ejs %>
                            </button>
                            <button type="button" class="l-product-slide-header-action ui-product-slide-header-action ui-product-slide-header-action--hoverable" data-tooltip="true" data-tippy-content="Share" title="Share" aria-label="Share" role="button" data-l-modal-btn="share-product" data-share-product-modal-btn="https://justpiece.com/en/product/bosch-gop-accessories-universal-set13-pcs-for-multi-tool">
                                <%- include ../_components/icons/share.svg.ejs %>
                            </button>
                        </div>
                    </div>
                    <!-- IF -->
                    <!-- <img src="data:image/svg+xml,%0A%3Csvg width='560' height='560' viewBox='0 0 560 560' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Crect width='560' height='560' fill='%23E9EEF1'/%3E%3Cpath d='M351.25 214.688C354.516 214.688 357.188 217.359 357.188 220.625V339.301L355.332 336.889L304.863 271.576C303.193 269.387 300.559 268.125 297.812 268.125C295.066 268.125 292.469 269.387 290.762 271.576L259.961 311.432L248.643 295.586C246.973 293.248 244.301 291.875 241.406 291.875C238.512 291.875 235.84 293.248 234.17 295.623L204.482 337.186L202.812 339.486V220.625C202.812 217.359 205.484 214.688 208.75 214.688H351.25ZM208.75 196.875C195.65 196.875 185 207.525 185 220.625V339.375C185 352.475 195.65 363.125 208.75 363.125H351.25C364.35 363.125 375 352.475 375 339.375V220.625C375 207.525 364.35 196.875 351.25 196.875H208.75ZM238.438 268.125C240.777 268.125 243.093 267.664 245.254 266.769C247.415 265.874 249.379 264.562 251.033 262.908C252.687 261.254 253.999 259.29 254.894 257.129C255.789 254.968 256.25 252.652 256.25 250.312C256.25 247.973 255.789 245.657 254.894 243.496C253.999 241.335 252.687 239.371 251.033 237.717C249.379 236.063 247.415 234.751 245.254 233.856C243.093 232.961 240.777 232.5 238.438 232.5C236.098 232.5 233.782 232.961 231.621 233.856C229.46 234.751 227.496 236.063 225.842 237.717C224.188 239.371 222.876 241.335 221.981 243.496C221.086 245.657 220.625 247.973 220.625 250.312C220.625 252.652 221.086 254.968 221.981 257.129C222.876 259.29 224.188 261.254 225.842 262.908C227.496 264.562 229.46 265.874 231.621 266.769C233.782 267.664 236.098 268.125 238.438 268.125Z' fill='%23BABEC1'/%3E%3C/svg%3E%0A" class="l-product-img-full" data-delay="5000" /> -->
                    <!-- ELSE -->
                    <div class="swiper" data-l-slider="product-imgs-slider" data-l-gallery-slider="product-imgs">
                        <div class="swiper-wrapper">
                             <div class="swiper-slide">
                                 <div id="three-sixty-view-container"
                                    data-folder="https://scaleflex.cloudimg.io/v7/demo/suv-orange-car-360/"
                                    data-filename-x="orange-{index}.jpg"
                                    data-amount-x="73">
                                 </div>
                            </div>
                            <% for(var i = 1; i < 10; i++) { %>
                            <div class="swiper-slide">
                                <img class="lazyload l-product-img-full ui-product-img-clickable" width="400" height="400" data-expand="-20" src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" data-thumb="http://placehold.jp/40x40.png?text=<%= i %>" data-src="http://placehold.jp/900x600.png?text=<%= i %>" data-fancybox="gallery" data-l-gallery-lightbox="product-imgs" />
                            </div>
                            <% } %>
                        </div>
                    </div>
                    <!-- ENDIF -->
                </div>
                <!-- IF -->
                <div class="l-product-thumbs">

                    <button class="l-product-thumb ui-product-thumb active" data-l-gallery-thumb="product-imgs" data-l-gallery-thumb-id="0">
                        360
                    </button>
                    <% for(var i = 1; i < 10; i++) { %>
                    <button class="l-product-thumb ui-product-thumb" data-l-gallery-thumb="product-imgs" data-l-gallery-thumb-id="<%= i %>">
                        <img src="http://placehold.jp/40x40.png?text=<%= i + 1 %>" alt="" />
                    </button>
                    <% } %>
                </div>
                <!-- ENDIF -->
            </div>
            <div class="l-product-view-overview-section-col ui-product-view-overview-section-col l-product-view-overview-section-col-details">
                <div class="l-product-details-desktop-title-ratings">
                    <div>
                        <div class="l-product-details-meta-specs-container">
                            <div class="l-product-details-meta-specs ui-product-details-meta-specs">
                                <strong>ProductId</strong> : 84818030 | <strong>SellerId</strong> : 84818030 |
                                <strong><a href="#">Edit Predefined specs</a></strong>
                            </div>
                        </div>
                        <span class="l-product-details-title-icon" data-tooltip="true" data-tippy-content="Fulfilled by JustPiece" title="Fulfilled by JustPiece" aria-label="Fulfilled by JustPiece">
                            <%- include ../_components/icons/logo-badge.svg.ejs %>
                        </span>
                        <p class="l-product-details-title ui-product-details-title">Bosch Brushless Cordless Impact Drill 18V 60 Nm 5.0 Ah</p>
                    </div>
                    <div class="l-product-details-rating">
                        <div class="l-product-details-rating-stars">
                            <span class="l-product-details-rating-star">
                                <svg viewBox="0 0 28 26" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M21.0472 15.1567L21.0471 15.1567L21.0387 15.1649C20.4539 15.7316 20.1867 16.5492 20.3194 17.3499L20.3206 17.3571L20.3219 17.3642L21.5163 23.9747C21.5163 23.9749 21.5164 23.9751 21.5164 23.9753C21.5473 24.1484 21.4745 24.3246 21.3276 24.426L21.3165 24.4336L21.3057 24.4416C21.1591 24.5487 20.9611 24.5635 20.7962 24.4751L20.7962 24.475L20.7861 24.4697L14.838 21.3674C14.4915 21.1838 14.1115 21.0876 13.7289 21.0767L13.7146 21.0763H13.7004H13.3362H13.2621L13.1889 21.0872C12.9551 21.122 12.7213 21.1967 12.5025 21.315L6.56595 24.4253C6.46364 24.4753 6.35022 24.4936 6.23909 24.4786C5.98638 24.4236 5.81796 24.1809 5.85663 23.9232L7.0506 17.3228L7.05203 17.3149L7.05333 17.3069C7.18528 16.5041 6.91916 15.6874 6.3395 15.1167L6.33952 15.1166L6.3339 15.1112L1.48201 10.4084C1.48194 10.4084 1.48187 10.4083 1.48181 10.4083C1.35425 10.2844 1.31148 10.1009 1.36877 9.93608L1.3688 9.93609L1.37145 9.92827C1.43214 9.74892 1.58546 9.61916 1.76987 9.58849L8.42295 8.62332C9.26223 8.52882 9.99654 8.0151 10.3741 7.25998L10.3741 7.26L10.3785 7.25115L13.3141 1.23239C13.3293 1.20455 13.3454 1.18126 13.3613 1.16224L13.4261 1.11185L13.4953 1.05805L13.5173 1.03363L13.5195 1.03285L13.5377 1.02615L13.5557 1.01874L13.6012 1H13.9037C14.0572 1.02753 14.1882 1.12329 14.26 1.25926L17.2351 7.25227C17.2356 7.25329 17.2361 7.25432 17.2366 7.25534C17.5971 7.98945 18.2944 8.49658 19.0972 8.61957L19.0972 8.6196L19.1051 8.62074L25.7835 9.58958L25.7856 9.58989C25.9756 9.61703 26.1357 9.74686 26.202 9.927C26.2529 10.0938 26.2051 10.2757 26.0759 10.3969L26.0727 10.3999L21.0472 15.1567Z" fill="#EEC337" stroke="#EEC337" stroke-width="2" />
                                </svg>
                            </span>
                            <span class="l-product-details-rating-star">
                                <svg viewBox="0 0 28 26" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M21.0472 15.1567L21.0471 15.1567L21.0387 15.1649C20.4539 15.7316 20.1867 16.5492 20.3194 17.3499L20.3206 17.3571L20.3219 17.3642L21.5163 23.9747C21.5163 23.9749 21.5164 23.9751 21.5164 23.9753C21.5473 24.1484 21.4745 24.3246 21.3276 24.426L21.3165 24.4336L21.3057 24.4416C21.1591 24.5487 20.9611 24.5635 20.7962 24.4751L20.7962 24.475L20.7861 24.4697L14.838 21.3674C14.4915 21.1838 14.1115 21.0876 13.7289 21.0767L13.7146 21.0763H13.7004H13.3362H13.2621L13.1889 21.0872C12.9551 21.122 12.7213 21.1967 12.5025 21.315L6.56595 24.4253C6.46364 24.4753 6.35022 24.4936 6.23909 24.4786C5.98638 24.4236 5.81796 24.1809 5.85663 23.9232L7.0506 17.3228L7.05203 17.3149L7.05333 17.3069C7.18528 16.5041 6.91916 15.6874 6.3395 15.1167L6.33952 15.1166L6.3339 15.1112L1.48201 10.4084C1.48194 10.4084 1.48187 10.4083 1.48181 10.4083C1.35425 10.2844 1.31148 10.1009 1.36877 9.93608L1.3688 9.93609L1.37145 9.92827C1.43214 9.74892 1.58546 9.61916 1.76987 9.58849L8.42295 8.62332C9.26223 8.52882 9.99654 8.0151 10.3741 7.25998L10.3741 7.26L10.3785 7.25115L13.3141 1.23239C13.3293 1.20455 13.3454 1.18126 13.3613 1.16224L13.4261 1.11185L13.4953 1.05805L13.5173 1.03363L13.5195 1.03285L13.5377 1.02615L13.5557 1.01874L13.6012 1H13.9037C14.0572 1.02753 14.1882 1.12329 14.26 1.25926L17.2351 7.25227C17.2356 7.25329 17.2361 7.25432 17.2366 7.25534C17.5971 7.98945 18.2944 8.49658 19.0972 8.61957L19.0972 8.6196L19.1051 8.62074L25.7835 9.58958L25.7856 9.58989C25.9756 9.61703 26.1357 9.74686 26.202 9.927C26.2529 10.0938 26.2051 10.2757 26.0759 10.3969L26.0727 10.3999L21.0472 15.1567Z" fill="#EEC337" stroke="#EEC337" stroke-width="2" />
                                </svg>
                            </span>
                            <span class="l-product-details-rating-star">
                                <svg viewBox="0 0 28 26" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M21.0472 15.1567L21.0471 15.1567L21.0387 15.1649C20.4539 15.7316 20.1867 16.5492 20.3194 17.3499L20.3206 17.3571L20.3219 17.3642L21.5163 23.9747C21.5163 23.9749 21.5164 23.9751 21.5164 23.9753C21.5473 24.1484 21.4745 24.3246 21.3276 24.426L21.3165 24.4336L21.3057 24.4416C21.1591 24.5487 20.9611 24.5635 20.7962 24.4751L20.7962 24.475L20.7861 24.4697L14.838 21.3674C14.4915 21.1838 14.1115 21.0876 13.7289 21.0767L13.7146 21.0763H13.7004H13.3362H13.2621L13.1889 21.0872C12.9551 21.122 12.7213 21.1967 12.5025 21.315L6.56595 24.4253C6.46364 24.4753 6.35022 24.4936 6.23909 24.4786C5.98638 24.4236 5.81796 24.1809 5.85663 23.9232L7.0506 17.3228L7.05203 17.3149L7.05333 17.3069C7.18528 16.5041 6.91916 15.6874 6.3395 15.1167L6.33952 15.1166L6.3339 15.1112L1.48201 10.4084C1.48194 10.4084 1.48187 10.4083 1.48181 10.4083C1.35425 10.2844 1.31148 10.1009 1.36877 9.93608L1.3688 9.93609L1.37145 9.92827C1.43214 9.74892 1.58546 9.61916 1.76987 9.58849L8.42295 8.62332C9.26223 8.52882 9.99654 8.0151 10.3741 7.25998L10.3741 7.26L10.3785 7.25115L13.3141 1.23239C13.3293 1.20455 13.3454 1.18126 13.3613 1.16224L13.4261 1.11185L13.4953 1.05805L13.5173 1.03363L13.5195 1.03285L13.5377 1.02615L13.5557 1.01874L13.6012 1H13.9037C14.0572 1.02753 14.1882 1.12329 14.26 1.25926L17.2351 7.25227C17.2356 7.25329 17.2361 7.25432 17.2366 7.25534C17.5971 7.98945 18.2944 8.49658 19.0972 8.61957L19.0972 8.6196L19.1051 8.62074L25.7835 9.58958L25.7856 9.58989C25.9756 9.61703 26.1357 9.74686 26.202 9.927C26.2529 10.0938 26.2051 10.2757 26.0759 10.3969L26.0727 10.3999L21.0472 15.1567Z" fill="#EEC337" stroke="#EEC337" stroke-width="2" />
                                </svg>
                            </span>
                            <span class="l-product-details-rating-star">
                                <svg viewBox="0 0 28 26" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M21.0472 15.1567L21.0471 15.1567L21.0387 15.1649C20.4539 15.7316 20.1867 16.5492 20.3194 17.3499L20.3206 17.3571L20.3219 17.3642L21.5163 23.9747C21.5163 23.9749 21.5164 23.9751 21.5164 23.9753C21.5473 24.1484 21.4745 24.3246 21.3276 24.426L21.3165 24.4336L21.3057 24.4416C21.1591 24.5487 20.9611 24.5635 20.7962 24.4751L20.7962 24.475L20.7861 24.4697L14.838 21.3674C14.4915 21.1838 14.1115 21.0876 13.7289 21.0767L13.7146 21.0763H13.7004H13.3362H13.2621L13.1889 21.0872C12.9551 21.122 12.7213 21.1967 12.5025 21.315L6.56595 24.4253C6.46364 24.4753 6.35022 24.4936 6.23909 24.4786C5.98638 24.4236 5.81796 24.1809 5.85663 23.9232L7.0506 17.3228L7.05203 17.3149L7.05333 17.3069C7.18528 16.5041 6.91916 15.6874 6.3395 15.1167L6.33952 15.1166L6.3339 15.1112L1.48201 10.4084C1.48194 10.4084 1.48187 10.4083 1.48181 10.4083C1.35425 10.2844 1.31148 10.1009 1.36877 9.93608L1.3688 9.93609L1.37145 9.92827C1.43214 9.74892 1.58546 9.61916 1.76987 9.58849L8.42295 8.62332C9.26223 8.52882 9.99654 8.0151 10.3741 7.25998L10.3741 7.26L10.3785 7.25115L13.3141 1.23239C13.3293 1.20455 13.3454 1.18126 13.3613 1.16224L13.4261 1.11185L13.4953 1.05805L13.5173 1.03363L13.5195 1.03285L13.5377 1.02615L13.5557 1.01874L13.6012 1H13.9037C14.0572 1.02753 14.1882 1.12329 14.26 1.25926L17.2351 7.25227C17.2356 7.25329 17.2361 7.25432 17.2366 7.25534C17.5971 7.98945 18.2944 8.49658 19.0972 8.61957L19.0972 8.6196L19.1051 8.62074L25.7835 9.58958L25.7856 9.58989C25.9756 9.61703 26.1357 9.74686 26.202 9.927C26.2529 10.0938 26.2051 10.2757 26.0759 10.3969L26.0727 10.3999L21.0472 15.1567Z" fill="#EEC337" stroke="#EEC337" stroke-width="2" />
                                </svg>
                            </span>
                            <span class="l-product-details-rating-star">
                                <svg viewBox="0 0 28 26" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M20.8284 15.1567L20.8284 15.1567L20.8199 15.1649C20.2352 15.7316 19.9679 16.5492 20.1006 17.3499L20.1018 17.3571L20.1031 17.3642L21.2976 23.9747C21.2976 23.9749 21.2976 23.9751 21.2977 23.9753C21.3285 24.1484 21.2557 24.3246 21.1089 24.426L21.0978 24.4336L21.0869 24.4416C20.9404 24.5487 20.7424 24.5635 20.5775 24.4751L20.5775 24.475L20.5673 24.4697L14.6192 21.3674C14.2727 21.1838 13.8927 21.0876 13.5102 21.0767L13.4959 21.0763H13.4816H13.1175H13.0434L12.9701 21.0872C12.7363 21.122 12.5025 21.1967 12.2837 21.315L6.34727 24.4253C6.24495 24.4753 6.13151 24.4936 6.02035 24.4786C5.76764 24.4236 5.59921 24.1809 5.63788 23.9232L6.83185 17.3228L6.83328 17.3149L6.83458 17.3069C6.96653 16.5041 6.70041 15.6874 6.12075 15.1167L6.12077 15.1166L6.11515 15.1112L1.26326 10.4084C1.26319 10.4084 1.26312 10.4083 1.26306 10.4083C1.1355 10.2844 1.09273 10.1009 1.15002 9.93608L1.15005 9.93609L1.1527 9.92827C1.21339 9.7489 1.36674 9.61914 1.55117 9.58848L8.20417 8.62333C9.04347 8.52883 9.77778 8.0151 10.1553 7.25998L10.1554 7.26L10.1597 7.25115L13.0954 1.23239C13.1105 1.20455 13.1266 1.18126 13.1426 1.16224L13.2073 1.11185L13.2765 1.05805L13.2986 1.03363L13.3007 1.03285L13.319 1.02615L13.337 1.01874L13.3825 1H13.685C13.8384 1.02752 13.9694 1.12327 14.0413 1.25923L17.0164 7.25227C17.0169 7.25329 17.0174 7.25432 17.0179 7.25534C17.3783 7.98945 18.0757 8.49658 18.8785 8.61957L18.8785 8.6196L18.8863 8.62074L25.5647 9.58958L25.5669 9.58989C25.7569 9.61703 25.917 9.74687 25.9833 9.92701C26.0341 10.0938 25.9864 10.2757 25.8572 10.3969L25.854 10.3999L20.8284 15.1567Z" stroke="#EEC337" stroke-width="2" />
                                </svg>
                            </span>
                        </div>
                        <button class="l-product-details-rating-btn ui-product-details-rating-btn" data-product-open-reviews-tab="true">1200 Ratings</button>
                    </div>
                </div>
                <div class="l-product-details-price-container">
                    <div class="l-product-details-price-meta-top ui-product-details-price-meta-top">
                        Fulfilled by JustPiece
                    </div>
                    <!-- IF -->
                    <!-- <div class="ui-product-details-price">
                        <div class="ui-product-details-buy-price" data-price="400">400 EGP</div>
                    </div> -->
                    <!-- ELSE -->
                    <div class="ui-product-details-price">
                        <table class="ui-product-details-price-table">
                            <tr class="ui-product-details-price-table-row" data-price-row="true" hidden="hidden">
                                <td class="ui-product-details-price-table-label-col">Was:</td>
                                <td class="ui-product-details-price-table-price-col">
                                    <abbr class="ui-product-details-list-price" data-list-price="560">560 EGP</abbr>
                                </td>
                            </tr>
                            <tr class="ui-product-details-price-table-row" data-price-row="true">
                                <td class="ui-product-details-price-table-label-col" data-price-title="true" data-price-labels="List Price,Now">With Deal:</td>
                                <td class="ui-product-details-price-table-price-col">
                                    <span class="ui-product-details-buy-price" data-price="400">400 EGP</span>
                                </td>
                            </tr>
                            <tr class="ui-product-details-price-table-row" data-price-row="true" hidden="hidden">
                                <td class="ui-product-details-price-table-label-col">Saving:</td>
                                <td class="ui-product-details-price-table-price-col">
                                    <span class="ui-product-details-discount-price" data-discount="160" data-discount-percent="10">160 EGP (10%)</span>
                                </td>
                            </tr>
                        </table>
                    </div>
                    <!-- ENDIF -->
                    <div class="ui-product-details-price-meta-bottom l-product-details-price-meta-bottom">
                        All prices include VAT.
                    </div>
                    <br>
                    <div class="l-product-meta ui-product-meta">
                        <div class="l-product-meta-item ui-product-meta-item">Measurement unit: Piece</div>
                        <div class="l-product-meta-item ui-product-meta-item stock">In Stock</div>
                        <!-- <div class="l-product-meta-item ui-product-meta-item out-of-stock">Out of Stock</div> -->
                        <div class="l-product-meta-shipping-fees ui-product-meta-shipping-fees">
                            <p>Calculating shipping fees :</p>
                            <div class="l-product-meta-shipping-fees-row">
                                <div class="l-dropdown" data-shipping-fees-dropdown="true" data-l-dropdown="true">
                                    <button class="l-dropdown-button ui-dropdown-button" data-shipping-fees-dropdown-button="true" data-shipping-fees-dropdown-button-url="http://localhost:3000/api/product-view/get-shipping-fee" data-l-dropdown-button="true">
                                        Alexandria
                                    </button>
                                    <div class="l-dropdown-menu ui-dropdown-menu" data-l-dropdown-menu="true">
                                        <button class="l-dropdown-menu-item ui-dropdown-menu-item active" data-shipping-fees-dropdown-item-zone-id="100" data-shipping-fees-dropdown-item="true">Alexandria</button>
                                        <button class="l-dropdown-menu-item ui-dropdown-menu-item" data-shipping-fees-dropdown-item-zone-id="10" data-shipping-fees-dropdown-item="true">Cairo</button>
                                        <button class="l-dropdown-menu-item ui-dropdown-menu-item" data-shipping-fees-dropdown-item-zone-id="20" data-shipping-fees-dropdown-item="true">Assyiut</button>
                                        <button class="l-dropdown-menu-item ui-dropdown-menu-item" data-shipping-fees-dropdown-item-zone-id="2" data-shipping-fees-dropdown-item="true">Hurghada</button>
                                    </div>
                                </div>
                                <span class="ui-product-meta-shipping-fee l-product-meta-shipping-fee loading" data-shipping-fees-dropdown-text="true">
                                    <!-- <span class="ui-product-meta-shipping-fee-price">20</span> EGP -->
                                    &nbsp;
                                </span>
                            </div>
                        </div>
                    </div>
                    <!--<div class="ui-product-tab-specs l-product-tab-specs" data-tab-specs-container="true" data-tab-specs-url="/partials-product-view-specs.html"></div>-->
                </div>
                <div class="l-flex-row" data-l-product-add-to-cart-single-price="true" hidden>
                    <div class="l-flex-col-6">
                        <div class="l-product-cart-qty-box ui-product-cart-qty-box">
                            <div class="l-dropdown" data-qty-dropdown="true" data-l-dropdown="true">
                                <button class="l-dropdown-button ui-dropdown-button" data-qty-dropdown-button="true" data-l-dropdown-button="true" data-qty-dropdown-btn="true">
                                    <span class="l-product-cart-qty-text-desktop">Quantity</span>
                                    <span class="l-product-cart-qty-text-mobile">QTY:&nbsp;</span>
                                    <span class="ui-product-cart-qty" data-qty-dropdown-text="true" data-qty="true">1</span>
                                </button>
                                <div class="l-dropdown-menu ui-dropdown-menu" data-l-dropdown-menu="true" data-qty-menu="true">
                                    <button class="l-dropdown-menu-item ui-dropdown-menu-item active" data-qty-dropdown-item-value="1" data-qty-dropdown-item="true">1</button>
                                    <button class="l-dropdown-menu-item ui-dropdown-menu-item" data-qty-dropdown-item-value="2" data-qty-dropdown-item="true">2</button>
                                    <button class="l-dropdown-menu-item ui-dropdown-menu-item" data-qty-dropdown-item-value="3" data-qty-dropdown-item="true">3</button>
                                    <button class="l-dropdown-menu-item ui-dropdown-menu-item" data-qty-dropdown-item-value="4" data-qty-dropdown-item="true">4</button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="l-flex-col-6">
                        <div class="l-product-cart-qty-box ui-product-cart-qty-box">
                            <div class="l-product-cart-btn-box ui-product-cart-btn-box">
                                <!-- IF -->
                                <button class="l-product-cart-btn ui-product-cart-btn" data-cart-btn="true" data-cart-btn-labels="Add To Cart,Out of Stock" data-header-cart-sidebar-btn="true" data-header-cart-sidebar-add-product-btn="50926" data-header-cart-sidebar-add-product-btn-qty="1" data-qty-dropdown-cart-btn="true">
                                    Add To Cart
                                </button>
                                <!-- ELSE -->
                                <!-- <button class="l-product-cart-btn ui-product-cart-btn out-of-stock" data-cart-btn="true" data-cart-btn-labels="Add To Cart,Out of Stock" disabled>
                                    Out of Stock
                                </button> -->
                                <!-- ENDIF -->
                            </div>
                        </div>
                    </div>
                    <div class="l-flex-col-12">
                        <br>
                        <a href="#" class="l-product-cart-bottom-action ui-product-cart-bottom-action">Download Data Sheet</a>
                        <br>
                    </div>
                </div>
            </div>
            <div class="l-product-view-overview-section-col ui-product-view-overview-section-col l-product-view-overview-section-col-meta-actions" hidden data-meta-actions-col="true">
                <div class="l-flex-row">
                    <div class="l-flex-col-lg-12">
                        <div class="product-variants" data-product-variants-container="true" data-product-variants-id="22"></div>
                        <template data-product-variants-template="true">
                            <div class="product-variant" data-product-variant="true">
                                <div class="header" data-product-variant-header="true">
                                    <div class="details">
                                        <strong data-product-variant-header-title="true"></strong>
                                        <span data-product-variant-header-value="true"></span>
                                    </div>
                                    <div class="icon">
                                        <svg width="14" height="8" viewBox="0 0 14 8" fill="none" xmlns="http://www.w3.org/2000/svg">
                                            <path d="M7.03314 7.45847L12.8404 1.65115C12.9748 1.51684 13.0488 1.33754 13.0488 1.14636C13.0488 0.955172 12.9748 0.775872 12.8404 0.641556L12.4128 0.213887C12.1342 -0.0643996 11.6814 -0.0643996 11.4032 0.213887L6.52664 5.09043L1.64469 0.208476C1.51026 0.0741598 1.33107 -5.12199e-07 1.13999 -5.20552e-07C0.948704 -5.28913e-07 0.769509 0.0741598 0.634981 0.208476L0.207525 0.636144C0.0731029 0.770567 -0.000950855 0.949761 -0.000950863 1.14094C-0.000950872 1.33213 0.0731029 1.51143 0.207525 1.64574L6.02004 7.45847C6.15489 7.59311 6.33493 7.66705 6.52633 7.66663C6.71846 7.66705 6.8984 7.59311 7.03314 7.45847Z" fill="#686868"/>
                                        </svg>
                                    </div>
                                </div>
                                <div class="content" data-product-variant-content="true">
                                </div>
                            </div>
                        </template>
                    </div>
                    <div class="l-flex-col-lg-12">
                        <div class="l-product-cart-add-to-cart-box ui-product-cart-add-to-cart-box">
                            <div class="l-flex-col-12">
                                <div class="l-flex-row" data-l-product-add-to-cart-multi-prices="true" hidden>
                                    <div class="l-flex-col-6">
                                        <div class="l-product-cart-qty-box ui-product-cart-qty-box">
                                            <div class="l-dropdown" data-qty-dropdown="true" data-l-dropdown="true">
                                                <button class="l-dropdown-button ui-dropdown-button" data-qty-dropdown-button="true" data-l-dropdown-button="true" data-qty-dropdown-btn="true">
                                                    <span class="l-product-cart-qty-text-desktop">Quantity</span>
                                                    <span class="l-product-cart-qty-text-mobile">QTY:&nbsp;</span>
                                                    <span class="ui-product-cart-qty" data-qty-dropdown-text="true" data-qty="true">1</span>
                                                </button>
                                                <div class="l-dropdown-menu ui-dropdown-menu" data-l-dropdown-menu="true" data-qty-menu="true">
                                                    <button class="l-dropdown-menu-item ui-dropdown-menu-item active" data-qty-dropdown-item-value="1" data-qty-dropdown-item="true">1</button>
                                                    <button class="l-dropdown-menu-item ui-dropdown-menu-item" data-qty-dropdown-item-value="2" data-qty-dropdown-item="true">2</button>
                                                    <button class="l-dropdown-menu-item ui-dropdown-menu-item" data-qty-dropdown-item-value="3" data-qty-dropdown-item="true">3</button>
                                                    <button class="l-dropdown-menu-item ui-dropdown-menu-item" data-qty-dropdown-item-value="4" data-qty-dropdown-item="true">4</button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="l-flex-col-6">
                                        <div class="l-product-cart-qty-box ui-product-cart-qty-box">
                                            <div class="l-product-cart-btn-box ui-product-cart-btn-box">
                                                <!-- IF -->
                                                <button class="l-product-cart-btn ui-product-cart-btn" data-cart-btn="true" data-cart-btn-labels="Add To Cart,Out of Stock" data-header-cart-sidebar-btn="true" data-header-cart-sidebar-add-product-btn="50926" data-header-cart-sidebar-add-product-btn-qty="1" data-qty-dropdown-cart-btn="true">
                                                    Add To Cart
                                                </button>
                                                <!-- ELSE -->
                                                <!-- <button class="l-product-cart-btn ui-product-cart-btn out-of-stock" data-cart-btn="true" data-cart-btn-labels="Add To Cart,Out of Stock" disabled>
                                                    Out of Stock
                                                </button> -->
                                                <!-- ENDIF -->
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="l-product-cart-bottom-actions">
                            <br>
                            <div class="l-product-cart-bottom-checkbox-action" hidden data-out-of-stock-notify-checkbox-container="true">
                                <input class="l-form-checkbox ui-form-checkbox" type="checkbox" name="notify" id="notify" data-out-of-stock-notify-checkbox="true" data-out-of-stock-notify-checkbox-id="44" data-out-of-stock-notify-checkbox-url="http://localhost:3000/api/product-view/get-shipping-fee" />
                                <label class="l-form-checkbox-label ui-form-checkbox-label ui-form-checkbox-label--lg ui-form-checkbox-label--color-black" for="notify">Notify me when this item is back in stock</label>
                            </div>
                            <br>
                            <a href="#" class="l-product-cart-bottom-action ui-product-cart-bottom-action">Download Data Sheet</a>
                            <div class="l-product-details-seller-products-link-container">
                                <a class="l-product-details-seller-products-link ui-product-details-seller-products-link" href="#">
                                    <span class="ui-product-details-seller-see-all l-product-details-seller-see-all">See all products of this seller</span>
                                    <span class="ui-product-details-seller-rating l-product-details-seller-rating">(81.3 % Positive Rating)</span>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="ui-product-view-overview-section-col">
                <div class="l-product-similar-products" data-similar-products-section="true">
                    <div class="l-lazy-section ui-lazy-section" data-l-lazy-section="similar-products" data-l-lazy-section-type="products" data-l-lazy-section-url="/api/similar-section.json"></div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="ui-product-view-content-tabs-section">
    <div class="l-container" data-l-tabs-container="true">
        <div class="ui-tabs l-tabs" data-product-view-tabs="true" data-l-tabs="true">
            <button class="l-tab-btn ui-tab-btn active" data-l-tab-btn="desc">Description</button>
            <button class="l-tab-btn ui-tab-btn" data-l-tab-btn="specs">Specifications</button>
            <button class="l-tab-btn ui-tab-btn" data-l-tab-btn="reviews">Reviews</button>
        </div>
        <div>
            <div class="l-tab ui-tab loading show" data-tab-desc="true" data-l-tab="desc">
                <div class="ui-product-tab-desc l-product-tab-desc" data-tab-desc-container="true" data-tab-desc-url="/partials-product-view-desc.html"></div>
            </div>
            <div class="l-tab ui-tab loading" data-tab-specs="true" data-l-tab="specs">
                <div class="ui-product-tab-specs l-product-tab-specs" data-tab-specs-container="true" data-tab-specs-url="/partials-product-view-specs.html"></div>
            </div>
            <div class="l-tab ui-tab loading" data-tab-reviews="true" data-l-tab="reviews">
                <div class="ui-product-tab-reviews l-product-tab-reviews" data-tab-reviews-container="true" data-tab-reviews-url="/api/product-view-get-rating.json">
                    <div class="l-product-reviews-row l-flex-row">
                        <div class="ui-product-reviews-col ui-product-reviews-col-stats l-product-reviews-col-stats" data-tab-reviews-overall="true"></div>
                        <div class="ui-product-reviews-col l-product-reviews-col-list">
                            <span class="ui-product-reviews-col-title l-product-reviews-col-title">6 Customer Reviews</span>
                            <div class="l-product-reviews-customer-reviews-list" data-tab-reviews-list="true"></div>
                            <div class="l-product-reviews-load-more-container ui-product-reviews-load-more-container" data-tab-reviews-load-more-btn-container="true">
                                <button class="l-product-reviews-load-more-btn ui-product-reviews-load-more-btn" data-tab-reviews-load-more-btn="true">
                                    View More
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<br><br>

<div class="l-lazy-section ui-lazy-section" data-l-lazy-section="related-products" data-l-lazy-section-type="products" data-l-lazy-section-url="/api/products-multi-sections-2.json"></div>


<%- include ../_components/main/body/body-footer.ejs %>
<link rel="stylesheet" href="/pages-assets/product-view/product-view.lazy.styles.css" fetchpriority="low">
<script src="/pages-assets/product-view/product-view.js"></script>
<script src="/pages-assets/product-view/product-view.lazy.js" fetchpriority="low"></script>
<%- include ../_components/main/footer/footer.ejs %>


<!-- <span class="ui-product-reviews-col-title l-product-reviews-col-title">Overall rating</span>
    <span class="ui-product-reviews-total-rating l-product-reviews-total-rating">4.2</span>
    <div class="l-product-reviews-total-rating-stars">
        <div class="l-product-reviews-total-rating-star">
            <svg width="27" height="26" viewBox="0 0 27 26" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M20.7034 15.1567L20.7034 15.1567L20.6949 15.1649C20.1102 15.7316 19.8429 16.5492 19.9756 17.3499L19.9768 17.3571L19.9781 17.3642L21.1726 23.9747C21.1726 23.9749 21.1726 23.9751 21.1727 23.9753C21.2035 24.1484 21.1307 24.3246 20.9839 24.426L20.9728 24.4336L20.9619 24.4416C20.8154 24.5487 20.6174 24.5635 20.4525 24.4751L20.4525 24.475L20.4423 24.4697L14.4942 21.3674C14.1477 21.1838 13.7677 21.0876 13.3852 21.0767L13.3709 21.0763H13.3566H12.9925H12.9184L12.8451 21.0872C12.6113 21.122 12.3775 21.1967 12.1587 21.315L6.22227 24.4253C6.11995 24.4753 6.00651 24.4936 5.89535 24.4786C5.64264 24.4236 5.47421 24.1809 5.51288 23.9232L6.70685 17.3228L6.70828 17.3149L6.70958 17.3069C6.84153 16.5041 6.57541 15.6874 5.99575 15.1167L5.99577 15.1166L5.99015 15.1112L1.13826 10.4084C1.13819 10.4084 1.13812 10.4083 1.13806 10.4083C1.0105 10.2844 0.967735 10.1009 1.02502 9.93608L1.02505 9.93609L1.0277 9.92827C1.08839 9.7489 1.24174 9.61914 1.42617 9.58848L8.07917 8.62333C8.91847 8.52883 9.65278 8.0151 10.0303 7.25998L10.0304 7.26L10.0347 7.25115L12.9704 1.23239C12.9855 1.20455 13.0016 1.18126 13.0176 1.16224L13.0823 1.11185L13.1515 1.05805L13.1736 1.03363L13.1757 1.03285L13.194 1.02615L13.212 1.01874L13.2575 1H13.56C13.7134 1.02752 13.8444 1.12327 13.9163 1.25923L16.8914 7.25227C16.8919 7.25329 16.8924 7.25432 16.8929 7.25534C17.2533 7.98945 17.9507 8.49658 18.7535 8.61957L18.7535 8.6196L18.7613 8.62074L25.4397 9.58958L25.4419 9.58989C25.6319 9.61703 25.792 9.74687 25.8583 9.92701C25.9091 10.0938 25.8614 10.2757 25.7322 10.3969L25.729 10.3999L20.7034 15.1567Z" fill="#EEC337" stroke="#EEC337" stroke-width="2"/>
            </svg>
        </div>
        <div class="l-product-reviews-total-rating-star">
            <svg width="27" height="26" viewBox="0 0 27 26" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M20.7034 15.1567L20.7034 15.1567L20.6949 15.1649C20.1102 15.7316 19.8429 16.5492 19.9756 17.3499L19.9768 17.3571L19.9781 17.3642L21.1726 23.9747C21.1726 23.9749 21.1726 23.9751 21.1727 23.9753C21.2035 24.1484 21.1307 24.3246 20.9839 24.426L20.9728 24.4336L20.9619 24.4416C20.8154 24.5487 20.6174 24.5635 20.4525 24.4751L20.4525 24.475L20.4423 24.4697L14.4942 21.3674C14.1477 21.1838 13.7677 21.0876 13.3852 21.0767L13.3709 21.0763H13.3566H12.9925H12.9184L12.8451 21.0872C12.6113 21.122 12.3775 21.1967 12.1587 21.315L6.22227 24.4253C6.11995 24.4753 6.00651 24.4936 5.89535 24.4786C5.64264 24.4236 5.47421 24.1809 5.51288 23.9232L6.70685 17.3228L6.70828 17.3149L6.70958 17.3069C6.84153 16.5041 6.57541 15.6874 5.99575 15.1167L5.99577 15.1166L5.99015 15.1112L1.13826 10.4084C1.13819 10.4084 1.13812 10.4083 1.13806 10.4083C1.0105 10.2844 0.967735 10.1009 1.02502 9.93608L1.02505 9.93609L1.0277 9.92827C1.08839 9.7489 1.24174 9.61914 1.42617 9.58848L8.07917 8.62333C8.91847 8.52883 9.65278 8.0151 10.0303 7.25998L10.0304 7.26L10.0347 7.25115L12.9704 1.23239C12.9855 1.20455 13.0016 1.18126 13.0176 1.16224L13.0823 1.11185L13.1515 1.05805L13.1736 1.03363L13.1757 1.03285L13.194 1.02615L13.212 1.01874L13.2575 1H13.56C13.7134 1.02752 13.8444 1.12327 13.9163 1.25923L16.8914 7.25227C16.8919 7.25329 16.8924 7.25432 16.8929 7.25534C17.2533 7.98945 17.9507 8.49658 18.7535 8.61957L18.7535 8.6196L18.7613 8.62074L25.4397 9.58958L25.4419 9.58989C25.6319 9.61703 25.792 9.74687 25.8583 9.92701C25.9091 10.0938 25.8614 10.2757 25.7322 10.3969L25.729 10.3999L20.7034 15.1567Z" fill="#EEC337" stroke="#EEC337" stroke-width="2"/>
            </svg>
        </div>
        <div class="l-product-reviews-total-rating-star">
            <svg width="27" height="26" viewBox="0 0 27 26" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M20.7034 15.1567L20.7034 15.1567L20.6949 15.1649C20.1102 15.7316 19.8429 16.5492 19.9756 17.3499L19.9768 17.3571L19.9781 17.3642L21.1726 23.9747C21.1726 23.9749 21.1726 23.9751 21.1727 23.9753C21.2035 24.1484 21.1307 24.3246 20.9839 24.426L20.9728 24.4336L20.9619 24.4416C20.8154 24.5487 20.6174 24.5635 20.4525 24.4751L20.4525 24.475L20.4423 24.4697L14.4942 21.3674C14.1477 21.1838 13.7677 21.0876 13.3852 21.0767L13.3709 21.0763H13.3566H12.9925H12.9184L12.8451 21.0872C12.6113 21.122 12.3775 21.1967 12.1587 21.315L6.22227 24.4253C6.11995 24.4753 6.00651 24.4936 5.89535 24.4786C5.64264 24.4236 5.47421 24.1809 5.51288 23.9232L6.70685 17.3228L6.70828 17.3149L6.70958 17.3069C6.84153 16.5041 6.57541 15.6874 5.99575 15.1167L5.99577 15.1166L5.99015 15.1112L1.13826 10.4084C1.13819 10.4084 1.13812 10.4083 1.13806 10.4083C1.0105 10.2844 0.967735 10.1009 1.02502 9.93608L1.02505 9.93609L1.0277 9.92827C1.08839 9.7489 1.24174 9.61914 1.42617 9.58848L8.07917 8.62333C8.91847 8.52883 9.65278 8.0151 10.0303 7.25998L10.0304 7.26L10.0347 7.25115L12.9704 1.23239C12.9855 1.20455 13.0016 1.18126 13.0176 1.16224L13.0823 1.11185L13.1515 1.05805L13.1736 1.03363L13.1757 1.03285L13.194 1.02615L13.212 1.01874L13.2575 1H13.56C13.7134 1.02752 13.8444 1.12327 13.9163 1.25923L16.8914 7.25227C16.8919 7.25329 16.8924 7.25432 16.8929 7.25534C17.2533 7.98945 17.9507 8.49658 18.7535 8.61957L18.7535 8.6196L18.7613 8.62074L25.4397 9.58958L25.4419 9.58989C25.6319 9.61703 25.792 9.74687 25.8583 9.92701C25.9091 10.0938 25.8614 10.2757 25.7322 10.3969L25.729 10.3999L20.7034 15.1567Z" fill="#EEC337" stroke="#EEC337" stroke-width="2"/>
            </svg>
        </div>
        <div class="l-product-reviews-total-rating-star">
            <svg width="27" height="26" viewBox="0 0 27 26" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M20.7034 15.1567L20.7034 15.1567L20.6949 15.1649C20.1102 15.7316 19.8429 16.5492 19.9756 17.3499L19.9768 17.3571L19.9781 17.3642L21.1726 23.9747C21.1726 23.9749 21.1726 23.9751 21.1727 23.9753C21.2035 24.1484 21.1307 24.3246 20.9839 24.426L20.9728 24.4336L20.9619 24.4416C20.8154 24.5487 20.6174 24.5635 20.4525 24.4751L20.4525 24.475L20.4423 24.4697L14.4942 21.3674C14.1477 21.1838 13.7677 21.0876 13.3852 21.0767L13.3709 21.0763H13.3566H12.9925H12.9184L12.8451 21.0872C12.6113 21.122 12.3775 21.1967 12.1587 21.315L6.22227 24.4253C6.11995 24.4753 6.00651 24.4936 5.89535 24.4786C5.64264 24.4236 5.47421 24.1809 5.51288 23.9232L6.70685 17.3228L6.70828 17.3149L6.70958 17.3069C6.84153 16.5041 6.57541 15.6874 5.99575 15.1167L5.99577 15.1166L5.99015 15.1112L1.13826 10.4084C1.13819 10.4084 1.13812 10.4083 1.13806 10.4083C1.0105 10.2844 0.967735 10.1009 1.02502 9.93608L1.02505 9.93609L1.0277 9.92827C1.08839 9.7489 1.24174 9.61914 1.42617 9.58848L8.07917 8.62333C8.91847 8.52883 9.65278 8.0151 10.0303 7.25998L10.0304 7.26L10.0347 7.25115L12.9704 1.23239C12.9855 1.20455 13.0016 1.18126 13.0176 1.16224L13.0823 1.11185L13.1515 1.05805L13.1736 1.03363L13.1757 1.03285L13.194 1.02615L13.212 1.01874L13.2575 1H13.56C13.7134 1.02752 13.8444 1.12327 13.9163 1.25923L16.8914 7.25227C16.8919 7.25329 16.8924 7.25432 16.8929 7.25534C17.2533 7.98945 17.9507 8.49658 18.7535 8.61957L18.7535 8.6196L18.7613 8.62074L25.4397 9.58958L25.4419 9.58989C25.6319 9.61703 25.792 9.74687 25.8583 9.92701C25.9091 10.0938 25.8614 10.2757 25.7322 10.3969L25.729 10.3999L20.7034 15.1567Z" fill="#EEC337" stroke="#EEC337" stroke-width="2"/>
            </svg>
        </div>
        <div class="l-product-reviews-total-rating-star">
            <svg width="28" height="26" viewBox="0 0 28 26" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M20.8284 15.1567L20.8284 15.1567L20.8199 15.1649C20.2352 15.7316 19.9679 16.5492 20.1006 17.3499L20.1018 17.3571L20.1031 17.3642L21.2976 23.9747C21.2976 23.9749 21.2976 23.9751 21.2977 23.9753C21.3285 24.1484 21.2557 24.3246 21.1089 24.426L21.0978 24.4336L21.0869 24.4416C20.9404 24.5487 20.7424 24.5635 20.5775 24.4751L20.5775 24.475L20.5673 24.4697L14.6192 21.3674C14.2727 21.1838 13.8927 21.0876 13.5102 21.0767L13.4959 21.0763H13.4816H13.1175H13.0434L12.9701 21.0872C12.7363 21.122 12.5025 21.1967 12.2837 21.315L6.34727 24.4253C6.24495 24.4753 6.13151 24.4936 6.02035 24.4786C5.76764 24.4236 5.59921 24.1809 5.63788 23.9232L6.83185 17.3228L6.83328 17.3149L6.83458 17.3069C6.96653 16.5041 6.70041 15.6874 6.12075 15.1167L6.12077 15.1166L6.11515 15.1112L1.26326 10.4084C1.26319 10.4084 1.26312 10.4083 1.26306 10.4083C1.1355 10.2844 1.09273 10.1009 1.15002 9.93608L1.15005 9.93609L1.1527 9.92827C1.21339 9.7489 1.36674 9.61914 1.55117 9.58848L8.20417 8.62333C9.04347 8.52883 9.77778 8.0151 10.1553 7.25998L10.1554 7.26L10.1597 7.25115L13.0954 1.23239C13.1105 1.20455 13.1266 1.18126 13.1426 1.16224L13.2073 1.11185L13.2765 1.05805L13.2986 1.03363L13.3007 1.03285L13.319 1.02615L13.337 1.01874L13.3825 1H13.685C13.8384 1.02752 13.9694 1.12327 14.0413 1.25923L17.0164 7.25227C17.0169 7.25329 17.0174 7.25432 17.0179 7.25534C17.3783 7.98945 18.0757 8.49658 18.8785 8.61957L18.8785 8.6196L18.8863 8.62074L25.5647 9.58958L25.5669 9.58989C25.7569 9.61703 25.917 9.74687 25.9833 9.92701C26.0341 10.0938 25.9864 10.2757 25.8572 10.3969L25.854 10.3999L20.8284 15.1567Z" stroke="#EEC337" stroke-width="2"/>
            </svg>
        </div>
    </div>
    <span class="l-product-reviews-ratings-count-text ui-product-reviews-ratings-count-text">Based on 1200 ratings</span>
    <table class="l-product-reviews-ratings-count-table ui-product-reviews-ratings-count-table">
        <tr class="ui-product-reviews-ratings-count-table-row">
            <td class="l-product-reviews-ratings-count-table-count-col ui-product-reviews-ratings-count-table-count-col">5</td>
            <td class="l-product-reviews-ratings-count-table-progress-col ui-product-reviews-ratings-count-table-progress-col">
                <div class="l-product-reviews-ratings-count-table-progress ui-product-reviews-ratings-count-table-progress">
                    <div class="l-product-reviews-ratings-count-table-progress-percent ui-product-reviews-ratings-count-table-progress-percent" style="width: 53%;"></div>
                </div>
            </td>
            <td class="l-product-reviews-ratings-count-table-percent-col ui-product-reviews-ratings-count-table-percent-col">53%</td>
        </tr>
        <tr class="ui-product-reviews-ratings-count-table-row">
            <td class="l-product-reviews-ratings-count-table-count-col ui-product-reviews-ratings-count-table-count-col">4</td>
            <td class="l-product-reviews-ratings-count-table-progress-col ui-product-reviews-ratings-count-table-progress-col">
                <div class="l-product-reviews-ratings-count-table-progress ui-product-reviews-ratings-count-table-progress">
                    <div class="l-product-reviews-ratings-count-table-progress-percent ui-product-reviews-ratings-count-table-progress-percent" style="width: 13%;"></div>
                </div>
            </td>
            <td class="l-product-reviews-ratings-count-table-percent-col ui-product-reviews-ratings-count-table-percent-col">13%</td>
        </tr>
        <tr class="ui-product-reviews-ratings-count-table-row">
            <td class="l-product-reviews-ratings-count-table-count-col ui-product-reviews-ratings-count-table-count-col">3</td>
            <td class="l-product-reviews-ratings-count-table-progress-col ui-product-reviews-ratings-count-table-progress-col">
                <div class="l-product-reviews-ratings-count-table-progress ui-product-reviews-ratings-count-table-progress">
                    <div class="l-product-reviews-ratings-count-table-progress-percent ui-product-reviews-ratings-count-table-progress-percent" style="width: 22%;"></div>
                </div>
            </td>
            <td class="l-product-reviews-ratings-count-table-percent-col ui-product-reviews-ratings-count-table-percent-col">22%</td>
        </tr>
        <tr class="ui-product-reviews-ratings-count-table-row">
            <td class="l-product-reviews-ratings-count-table-count-col ui-product-reviews-ratings-count-table-count-col">2</td>
            <td class="l-product-reviews-ratings-count-table-progress-col ui-product-reviews-ratings-count-table-progress-col">
                <div class="l-product-reviews-ratings-count-table-progress ui-product-reviews-ratings-count-table-progress">
                    <div class="l-product-reviews-ratings-count-table-progress-percent ui-product-reviews-ratings-count-table-progress-percent" style="width: 66%;"></div>
                </div>
            </td>
            <td class="l-product-reviews-ratings-count-table-percent-col ui-product-reviews-ratings-count-table-percent-col">66%</td>
        </tr>
        <tr class="ui-product-reviews-ratings-count-table-row">
            <td class="l-product-reviews-ratings-count-table-count-col ui-product-reviews-ratings-count-table-count-col">1</td>
            <td class="l-product-reviews-ratings-count-table-progress-col ui-product-reviews-ratings-count-table-progress-col">
                <div class="l-product-reviews-ratings-count-table-progress ui-product-reviews-ratings-count-table-progress">
                    <div class="l-product-reviews-ratings-count-table-progress-percent ui-product-reviews-ratings-count-table-progress-percent" style="width: 1%;"></div>
                </div>
            </td>
            <td class="l-product-reviews-ratings-count-table-percent-col ui-product-reviews-ratings-count-table-percent-col">1%</td>
        </tr>
    </table> -->


<!-- <div class="l-product-reviews-customer-review ui-product-reviews-customer-review">
        <div class="l-product-reviews-customer-review-header ui-product-reviews-customer-review-header">
            <div class="l-product-reviews-customer-box ui-product-reviews-customer-box">
                <div class="l-product-reviews-customer-avatar ui-product-reviews-customer-avatar">
                    <span class="l-product-reviews-customer-avatar-text ui-product-reviews-customer-avatar-text">MG</span>
                    <img src="http://placehold.jp/404x384.png" alt="" class="customer-avatar-img">
                </div>
                <div class="l-product-reviews-customer-details ui-product-reviews-customer-details">
                    <span class="l-product-reviews-customer-name ui-product-reviews-customer-name">Mohamed G.</span>
                    <div class="l-product-reviews-customer-stars ui-product-reviews-customer-stars">
                        <span class="l-product-reviews-customer-star ui-product-reviews-customer-star">
                            <svg width="22" height="21" viewBox="0 0 22 21" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path d="M16.6717 12.2052L16.6717 12.2052L16.6649 12.2118C16.194 12.6681 15.9788 13.3265 16.0857 13.9713L16.0856 13.9713L16.0877 13.9828L17.0495 19.306C17.0746 19.4455 17.016 19.5877 16.8976 19.6694L16.8887 19.6756L16.8799 19.682C16.7619 19.7682 16.6025 19.7801 16.4697 19.7089L16.4697 19.7089L16.4615 19.7046L11.6751 17.2083C11.674 17.2077 11.6729 17.207 11.6717 17.2064C11.3927 17.0586 11.0867 16.9812 10.7786 16.9724L10.7671 16.972H10.7556H10.4624H10.4027L10.3438 16.9808C10.1555 17.0089 9.96722 17.069 9.79104 17.1642L5.01057 19.6689C4.92817 19.7091 4.83682 19.7238 4.7473 19.7118C4.54381 19.6675 4.40819 19.472 4.43933 19.2645L5.4008 13.9494L5.4009 13.9495L5.403 13.9367C5.50925 13.2902 5.29496 12.6325 4.82817 12.1729L4.82819 12.1729L4.82366 12.1685L0.916598 8.38156C0.813757 8.28179 0.77926 8.13395 0.825412 8.00118L0.825438 8.00119L0.827568 7.9949C0.876441 7.85046 0.999918 7.74597 1.14843 7.72128L6.50589 6.94407C7.18174 6.86797 7.77306 6.45428 8.07709 5.84621L8.07713 5.84623L8.08061 5.8391L10.4446 0.992402C10.4568 0.969978 10.4698 0.951224 10.4826 0.935908L10.5348 0.89533L10.5905 0.852009L10.6082 0.832345L10.6099 0.831715L10.6247 0.826319L10.6391 0.820356L10.6758 0.805266H10.9194C11.0429 0.82743 11.1484 0.904543 11.2063 1.01403L13.602 5.84C13.6024 5.84075 13.6028 5.8415 13.6031 5.84225C13.8934 6.43353 14.455 6.84199 15.1015 6.94104L15.1015 6.94107L15.1079 6.94199L20.4857 7.72216L20.4875 7.72241C20.6404 7.74426 20.7694 7.84881 20.8228 7.99387C20.8637 8.12818 20.8253 8.27465 20.7212 8.37228L20.7187 8.37469L16.6717 12.2052Z" fill="#EEC337" stroke="#EEC337" stroke-width="1.61053"/>
                            </svg>
                        </span>
                        <span class="l-product-reviews-customer-star ui-product-reviews-customer-star">
                            <svg width="22" height="21" viewBox="0 0 22 21" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path d="M16.6717 12.2052L16.6717 12.2052L16.6649 12.2118C16.194 12.6681 15.9788 13.3265 16.0857 13.9713L16.0856 13.9713L16.0877 13.9828L17.0495 19.306C17.0746 19.4455 17.016 19.5877 16.8976 19.6694L16.8887 19.6756L16.8799 19.682C16.7619 19.7682 16.6025 19.7801 16.4697 19.7089L16.4697 19.7089L16.4615 19.7046L11.6751 17.2083C11.674 17.2077 11.6729 17.207 11.6717 17.2064C11.3927 17.0586 11.0867 16.9812 10.7786 16.9724L10.7671 16.972H10.7556H10.4624H10.4027L10.3438 16.9808C10.1555 17.0089 9.96722 17.069 9.79104 17.1642L5.01057 19.6689C4.92817 19.7091 4.83682 19.7238 4.7473 19.7118C4.54381 19.6675 4.40819 19.472 4.43933 19.2645L5.4008 13.9494L5.4009 13.9495L5.403 13.9367C5.50925 13.2902 5.29496 12.6325 4.82817 12.1729L4.82819 12.1729L4.82366 12.1685L0.916598 8.38156C0.813757 8.28179 0.77926 8.13395 0.825412 8.00118L0.825438 8.00119L0.827568 7.9949C0.876441 7.85046 0.999918 7.74597 1.14843 7.72128L6.50589 6.94407C7.18174 6.86797 7.77306 6.45428 8.07709 5.84621L8.07713 5.84623L8.08061 5.8391L10.4446 0.992402C10.4568 0.969978 10.4698 0.951224 10.4826 0.935908L10.5348 0.89533L10.5905 0.852009L10.6082 0.832345L10.6099 0.831715L10.6247 0.826319L10.6391 0.820356L10.6758 0.805266H10.9194C11.0429 0.82743 11.1484 0.904543 11.2063 1.01403L13.602 5.84C13.6024 5.84075 13.6028 5.8415 13.6031 5.84225C13.8934 6.43353 14.455 6.84199 15.1015 6.94104L15.1015 6.94107L15.1079 6.94199L20.4857 7.72216L20.4875 7.72241C20.6404 7.74426 20.7694 7.84881 20.8228 7.99387C20.8637 8.12818 20.8253 8.27465 20.7212 8.37228L20.7187 8.37469L16.6717 12.2052Z" fill="#EEC337" stroke="#EEC337" stroke-width="1.61053"/>
                            </svg>
                        </span>
                        <span class="l-product-reviews-customer-star ui-product-reviews-customer-star">
                            <svg width="22" height="21" viewBox="0 0 22 21" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path d="M16.6717 12.2052L16.6717 12.2052L16.6649 12.2118C16.194 12.6681 15.9788 13.3265 16.0857 13.9713L16.0856 13.9713L16.0877 13.9828L17.0495 19.306C17.0746 19.4455 17.016 19.5877 16.8976 19.6694L16.8887 19.6756L16.8799 19.682C16.7619 19.7682 16.6025 19.7801 16.4697 19.7089L16.4697 19.7089L16.4615 19.7046L11.6751 17.2083C11.674 17.2077 11.6729 17.207 11.6717 17.2064C11.3927 17.0586 11.0867 16.9812 10.7786 16.9724L10.7671 16.972H10.7556H10.4624H10.4027L10.3438 16.9808C10.1555 17.0089 9.96722 17.069 9.79104 17.1642L5.01057 19.6689C4.92817 19.7091 4.83682 19.7238 4.7473 19.7118C4.54381 19.6675 4.40819 19.472 4.43933 19.2645L5.4008 13.9494L5.4009 13.9495L5.403 13.9367C5.50925 13.2902 5.29496 12.6325 4.82817 12.1729L4.82819 12.1729L4.82366 12.1685L0.916598 8.38156C0.813757 8.28179 0.77926 8.13395 0.825412 8.00118L0.825438 8.00119L0.827568 7.9949C0.876441 7.85046 0.999918 7.74597 1.14843 7.72128L6.50589 6.94407C7.18174 6.86797 7.77306 6.45428 8.07709 5.84621L8.07713 5.84623L8.08061 5.8391L10.4446 0.992402C10.4568 0.969978 10.4698 0.951224 10.4826 0.935908L10.5348 0.89533L10.5905 0.852009L10.6082 0.832345L10.6099 0.831715L10.6247 0.826319L10.6391 0.820356L10.6758 0.805266H10.9194C11.0429 0.82743 11.1484 0.904543 11.2063 1.01403L13.602 5.84C13.6024 5.84075 13.6028 5.8415 13.6031 5.84225C13.8934 6.43353 14.455 6.84199 15.1015 6.94104L15.1015 6.94107L15.1079 6.94199L20.4857 7.72216L20.4875 7.72241C20.6404 7.74426 20.7694 7.84881 20.8228 7.99387C20.8637 8.12818 20.8253 8.27465 20.7212 8.37228L20.7187 8.37469L16.6717 12.2052Z" fill="#EEC337" stroke="#EEC337" stroke-width="1.61053"/>
                            </svg>
                        </span>
                        <span class="l-product-reviews-customer-star ui-product-reviews-customer-star">
                            <svg width="22" height="21" viewBox="0 0 22 21" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path d="M16.6717 12.2052L16.6717 12.2052L16.6649 12.2118C16.194 12.6681 15.9788 13.3265 16.0857 13.9713L16.0856 13.9713L16.0877 13.9828L17.0495 19.306C17.0746 19.4455 17.016 19.5877 16.8976 19.6694L16.8887 19.6756L16.8799 19.682C16.7619 19.7682 16.6025 19.7801 16.4697 19.7089L16.4697 19.7089L16.4615 19.7046L11.6751 17.2083C11.674 17.2077 11.6729 17.207 11.6717 17.2064C11.3927 17.0586 11.0867 16.9812 10.7786 16.9724L10.7671 16.972H10.7556H10.4624H10.4027L10.3438 16.9808C10.1555 17.0089 9.96722 17.069 9.79104 17.1642L5.01057 19.6689C4.92817 19.7091 4.83682 19.7238 4.7473 19.7118C4.54381 19.6675 4.40819 19.472 4.43933 19.2645L5.4008 13.9494L5.4009 13.9495L5.403 13.9367C5.50925 13.2902 5.29496 12.6325 4.82817 12.1729L4.82819 12.1729L4.82366 12.1685L0.916598 8.38156C0.813757 8.28179 0.77926 8.13395 0.825412 8.00118L0.825438 8.00119L0.827568 7.9949C0.876441 7.85046 0.999918 7.74597 1.14843 7.72128L6.50589 6.94407C7.18174 6.86797 7.77306 6.45428 8.07709 5.84621L8.07713 5.84623L8.08061 5.8391L10.4446 0.992402C10.4568 0.969978 10.4698 0.951224 10.4826 0.935908L10.5348 0.89533L10.5905 0.852009L10.6082 0.832345L10.6099 0.831715L10.6247 0.826319L10.6391 0.820356L10.6758 0.805266H10.9194C11.0429 0.82743 11.1484 0.904543 11.2063 1.01403L13.602 5.84C13.6024 5.84075 13.6028 5.8415 13.6031 5.84225C13.8934 6.43353 14.455 6.84199 15.1015 6.94104L15.1015 6.94107L15.1079 6.94199L20.4857 7.72216L20.4875 7.72241C20.6404 7.74426 20.7694 7.84881 20.8228 7.99387C20.8637 8.12818 20.8253 8.27465 20.7212 8.37228L20.7187 8.37469L16.6717 12.2052Z" fill="#EEC337" stroke="#EEC337" stroke-width="1.61053"/>
                            </svg>
                        </span>
                        <span class="l-product-reviews-customer-star ui-product-reviews-customer-star">
                            <svg width="23" height="21" viewBox="0 0 23 21" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path d="M17.0311 12.2052L17.0311 12.2052L17.0243 12.2118C16.5534 12.6681 16.3382 13.3265 16.4451 13.9713L16.445 13.9713L16.4471 13.9828L17.4089 19.306C17.434 19.4455 17.3754 19.5877 17.2569 19.6694L17.248 19.6756L17.2393 19.682C17.1213 19.7682 16.9618 19.7801 16.829 19.7089L16.8291 19.7089L16.8209 19.7046L12.0345 17.2083C12.0334 17.2077 12.0322 17.207 12.0311 17.2064C11.7521 17.0586 11.446 16.9812 11.138 16.9724L11.1265 16.972H11.115H10.8218H10.7621L10.7031 16.9808C10.5149 17.0089 10.3266 17.069 10.1504 17.1642L5.36994 19.6689C5.28754 19.7091 5.19619 19.7238 5.10668 19.7118C4.90319 19.6675 4.76756 19.472 4.79871 19.2645L5.76017 13.9494L5.76027 13.9495L5.76237 13.9367C5.86862 13.2902 5.65433 12.6325 5.18755 12.1729L5.18756 12.1729L5.18304 12.1685L1.27597 8.38156C1.17313 8.28179 1.13863 8.13395 1.18479 8.00118L1.18481 8.00119L1.18694 7.9949C1.23582 7.85046 1.35929 7.74597 1.5078 7.72128L6.86526 6.94407C7.54112 6.86797 8.13243 6.45428 8.43647 5.84621L8.4365 5.84623L8.43998 5.8391L10.804 0.992402C10.8162 0.969978 10.8292 0.951224 10.842 0.935908L10.8941 0.89533L10.9498 0.852009L10.9676 0.832345L10.9693 0.831715L10.984 0.826319L10.9985 0.820356L11.0352 0.805266H11.2787C11.4023 0.82743 11.5078 0.904543 11.5657 1.01403L13.9614 5.84C13.9618 5.84075 13.9621 5.8415 13.9625 5.84225C14.2527 6.43353 14.8144 6.84199 15.4609 6.94104L15.4609 6.94107L15.4672 6.94199L20.8451 7.72216L20.8468 7.72241C20.9998 7.74426 21.1288 7.84881 21.1822 7.99387C21.2231 8.12818 21.1847 8.27465 21.0806 8.37228L21.0781 8.37469L17.0311 12.2052Z" stroke="#EEC337" stroke-width="1.61053"/>
                            </svg>
                        </span>
                    </div>
                </div>
            </div>
            <div class="l-product-reviews-customer-review-meta ui-product-reviews-customer-review-meta">
                <div class="l-product-reviews-verified ui-product-reviews-verified">
                    <span class="l-product-reviews-verified-circle ui-product-reviews-verified-circle"></span>
                    <span>Verified Purchase</span>
                </div>
                <div>
                    29 Oct, 2022
                </div>
            </div>
        </div>
        <div class="l-product-reviews-customer-review-body ui-product-reviews-customer-review-body">
            <h5 class="l-product-reviews-customer-review-body-title ui-product-reviews-customer-review-body-title">Good material good finish</h5>
            <p class="l-product-reviews-customer-review-body-text ui-product-reviews-customer-review-body-text">This was great at a pool party. Releases a lot of bubbles at the same time. Kids loved playing with it and it created some fun times where they were busy and occupied playing with it.</p>
        </div>
    </div>
    <div class="l-product-reviews-customer-review ui-product-reviews-customer-review">
        <div class="l-product-reviews-customer-review-header ui-product-reviews-customer-review-header">
            <div class="l-product-reviews-customer-box ui-product-reviews-customer-box">
                <div class="l-product-reviews-customer-avatar ui-product-reviews-customer-avatar">
                    <span class="l-product-reviews-customer-avatar-text ui-product-reviews-customer-avatar-text">MG</span>
                    <img src="http://placehold.jp/404x384.png" alt="" class="customer-avatar-img">
                </div>
                <div class="l-product-reviews-customer-details ui-product-reviews-customer-details">
                    <span class="l-product-reviews-customer-name ui-product-reviews-customer-name">Mohamed G.</span>
                    <div class="l-product-reviews-customer-stars ui-product-reviews-customer-stars">
                        <span class="l-product-reviews-customer-star ui-product-reviews-customer-star">
                            <svg width="22" height="21" viewBox="0 0 22 21" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path d="M16.6717 12.2052L16.6717 12.2052L16.6649 12.2118C16.194 12.6681 15.9788 13.3265 16.0857 13.9713L16.0856 13.9713L16.0877 13.9828L17.0495 19.306C17.0746 19.4455 17.016 19.5877 16.8976 19.6694L16.8887 19.6756L16.8799 19.682C16.7619 19.7682 16.6025 19.7801 16.4697 19.7089L16.4697 19.7089L16.4615 19.7046L11.6751 17.2083C11.674 17.2077 11.6729 17.207 11.6717 17.2064C11.3927 17.0586 11.0867 16.9812 10.7786 16.9724L10.7671 16.972H10.7556H10.4624H10.4027L10.3438 16.9808C10.1555 17.0089 9.96722 17.069 9.79104 17.1642L5.01057 19.6689C4.92817 19.7091 4.83682 19.7238 4.7473 19.7118C4.54381 19.6675 4.40819 19.472 4.43933 19.2645L5.4008 13.9494L5.4009 13.9495L5.403 13.9367C5.50925 13.2902 5.29496 12.6325 4.82817 12.1729L4.82819 12.1729L4.82366 12.1685L0.916598 8.38156C0.813757 8.28179 0.77926 8.13395 0.825412 8.00118L0.825438 8.00119L0.827568 7.9949C0.876441 7.85046 0.999918 7.74597 1.14843 7.72128L6.50589 6.94407C7.18174 6.86797 7.77306 6.45428 8.07709 5.84621L8.07713 5.84623L8.08061 5.8391L10.4446 0.992402C10.4568 0.969978 10.4698 0.951224 10.4826 0.935908L10.5348 0.89533L10.5905 0.852009L10.6082 0.832345L10.6099 0.831715L10.6247 0.826319L10.6391 0.820356L10.6758 0.805266H10.9194C11.0429 0.82743 11.1484 0.904543 11.2063 1.01403L13.602 5.84C13.6024 5.84075 13.6028 5.8415 13.6031 5.84225C13.8934 6.43353 14.455 6.84199 15.1015 6.94104L15.1015 6.94107L15.1079 6.94199L20.4857 7.72216L20.4875 7.72241C20.6404 7.74426 20.7694 7.84881 20.8228 7.99387C20.8637 8.12818 20.8253 8.27465 20.7212 8.37228L20.7187 8.37469L16.6717 12.2052Z" fill="#EEC337" stroke="#EEC337" stroke-width="1.61053"/>
                            </svg>
                        </span>
                        <span class="l-product-reviews-customer-star ui-product-reviews-customer-star">
                            <svg width="22" height="21" viewBox="0 0 22 21" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path d="M16.6717 12.2052L16.6717 12.2052L16.6649 12.2118C16.194 12.6681 15.9788 13.3265 16.0857 13.9713L16.0856 13.9713L16.0877 13.9828L17.0495 19.306C17.0746 19.4455 17.016 19.5877 16.8976 19.6694L16.8887 19.6756L16.8799 19.682C16.7619 19.7682 16.6025 19.7801 16.4697 19.7089L16.4697 19.7089L16.4615 19.7046L11.6751 17.2083C11.674 17.2077 11.6729 17.207 11.6717 17.2064C11.3927 17.0586 11.0867 16.9812 10.7786 16.9724L10.7671 16.972H10.7556H10.4624H10.4027L10.3438 16.9808C10.1555 17.0089 9.96722 17.069 9.79104 17.1642L5.01057 19.6689C4.92817 19.7091 4.83682 19.7238 4.7473 19.7118C4.54381 19.6675 4.40819 19.472 4.43933 19.2645L5.4008 13.9494L5.4009 13.9495L5.403 13.9367C5.50925 13.2902 5.29496 12.6325 4.82817 12.1729L4.82819 12.1729L4.82366 12.1685L0.916598 8.38156C0.813757 8.28179 0.77926 8.13395 0.825412 8.00118L0.825438 8.00119L0.827568 7.9949C0.876441 7.85046 0.999918 7.74597 1.14843 7.72128L6.50589 6.94407C7.18174 6.86797 7.77306 6.45428 8.07709 5.84621L8.07713 5.84623L8.08061 5.8391L10.4446 0.992402C10.4568 0.969978 10.4698 0.951224 10.4826 0.935908L10.5348 0.89533L10.5905 0.852009L10.6082 0.832345L10.6099 0.831715L10.6247 0.826319L10.6391 0.820356L10.6758 0.805266H10.9194C11.0429 0.82743 11.1484 0.904543 11.2063 1.01403L13.602 5.84C13.6024 5.84075 13.6028 5.8415 13.6031 5.84225C13.8934 6.43353 14.455 6.84199 15.1015 6.94104L15.1015 6.94107L15.1079 6.94199L20.4857 7.72216L20.4875 7.72241C20.6404 7.74426 20.7694 7.84881 20.8228 7.99387C20.8637 8.12818 20.8253 8.27465 20.7212 8.37228L20.7187 8.37469L16.6717 12.2052Z" fill="#EEC337" stroke="#EEC337" stroke-width="1.61053"/>
                            </svg>
                        </span>
                        <span class="l-product-reviews-customer-star ui-product-reviews-customer-star">
                            <svg width="22" height="21" viewBox="0 0 22 21" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path d="M16.6717 12.2052L16.6717 12.2052L16.6649 12.2118C16.194 12.6681 15.9788 13.3265 16.0857 13.9713L16.0856 13.9713L16.0877 13.9828L17.0495 19.306C17.0746 19.4455 17.016 19.5877 16.8976 19.6694L16.8887 19.6756L16.8799 19.682C16.7619 19.7682 16.6025 19.7801 16.4697 19.7089L16.4697 19.7089L16.4615 19.7046L11.6751 17.2083C11.674 17.2077 11.6729 17.207 11.6717 17.2064C11.3927 17.0586 11.0867 16.9812 10.7786 16.9724L10.7671 16.972H10.7556H10.4624H10.4027L10.3438 16.9808C10.1555 17.0089 9.96722 17.069 9.79104 17.1642L5.01057 19.6689C4.92817 19.7091 4.83682 19.7238 4.7473 19.7118C4.54381 19.6675 4.40819 19.472 4.43933 19.2645L5.4008 13.9494L5.4009 13.9495L5.403 13.9367C5.50925 13.2902 5.29496 12.6325 4.82817 12.1729L4.82819 12.1729L4.82366 12.1685L0.916598 8.38156C0.813757 8.28179 0.77926 8.13395 0.825412 8.00118L0.825438 8.00119L0.827568 7.9949C0.876441 7.85046 0.999918 7.74597 1.14843 7.72128L6.50589 6.94407C7.18174 6.86797 7.77306 6.45428 8.07709 5.84621L8.07713 5.84623L8.08061 5.8391L10.4446 0.992402C10.4568 0.969978 10.4698 0.951224 10.4826 0.935908L10.5348 0.89533L10.5905 0.852009L10.6082 0.832345L10.6099 0.831715L10.6247 0.826319L10.6391 0.820356L10.6758 0.805266H10.9194C11.0429 0.82743 11.1484 0.904543 11.2063 1.01403L13.602 5.84C13.6024 5.84075 13.6028 5.8415 13.6031 5.84225C13.8934 6.43353 14.455 6.84199 15.1015 6.94104L15.1015 6.94107L15.1079 6.94199L20.4857 7.72216L20.4875 7.72241C20.6404 7.74426 20.7694 7.84881 20.8228 7.99387C20.8637 8.12818 20.8253 8.27465 20.7212 8.37228L20.7187 8.37469L16.6717 12.2052Z" fill="#EEC337" stroke="#EEC337" stroke-width="1.61053"/>
                            </svg>
                        </span>
                        <span class="l-product-reviews-customer-star ui-product-reviews-customer-star">
                            <svg width="22" height="21" viewBox="0 0 22 21" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path d="M16.6717 12.2052L16.6717 12.2052L16.6649 12.2118C16.194 12.6681 15.9788 13.3265 16.0857 13.9713L16.0856 13.9713L16.0877 13.9828L17.0495 19.306C17.0746 19.4455 17.016 19.5877 16.8976 19.6694L16.8887 19.6756L16.8799 19.682C16.7619 19.7682 16.6025 19.7801 16.4697 19.7089L16.4697 19.7089L16.4615 19.7046L11.6751 17.2083C11.674 17.2077 11.6729 17.207 11.6717 17.2064C11.3927 17.0586 11.0867 16.9812 10.7786 16.9724L10.7671 16.972H10.7556H10.4624H10.4027L10.3438 16.9808C10.1555 17.0089 9.96722 17.069 9.79104 17.1642L5.01057 19.6689C4.92817 19.7091 4.83682 19.7238 4.7473 19.7118C4.54381 19.6675 4.40819 19.472 4.43933 19.2645L5.4008 13.9494L5.4009 13.9495L5.403 13.9367C5.50925 13.2902 5.29496 12.6325 4.82817 12.1729L4.82819 12.1729L4.82366 12.1685L0.916598 8.38156C0.813757 8.28179 0.77926 8.13395 0.825412 8.00118L0.825438 8.00119L0.827568 7.9949C0.876441 7.85046 0.999918 7.74597 1.14843 7.72128L6.50589 6.94407C7.18174 6.86797 7.77306 6.45428 8.07709 5.84621L8.07713 5.84623L8.08061 5.8391L10.4446 0.992402C10.4568 0.969978 10.4698 0.951224 10.4826 0.935908L10.5348 0.89533L10.5905 0.852009L10.6082 0.832345L10.6099 0.831715L10.6247 0.826319L10.6391 0.820356L10.6758 0.805266H10.9194C11.0429 0.82743 11.1484 0.904543 11.2063 1.01403L13.602 5.84C13.6024 5.84075 13.6028 5.8415 13.6031 5.84225C13.8934 6.43353 14.455 6.84199 15.1015 6.94104L15.1015 6.94107L15.1079 6.94199L20.4857 7.72216L20.4875 7.72241C20.6404 7.74426 20.7694 7.84881 20.8228 7.99387C20.8637 8.12818 20.8253 8.27465 20.7212 8.37228L20.7187 8.37469L16.6717 12.2052Z" fill="#EEC337" stroke="#EEC337" stroke-width="1.61053"/>
                            </svg>
                        </span>
                        <span class="l-product-reviews-customer-star ui-product-reviews-customer-star">
                            <svg width="23" height="21" viewBox="0 0 23 21" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path d="M17.0311 12.2052L17.0311 12.2052L17.0243 12.2118C16.5534 12.6681 16.3382 13.3265 16.4451 13.9713L16.445 13.9713L16.4471 13.9828L17.4089 19.306C17.434 19.4455 17.3754 19.5877 17.2569 19.6694L17.248 19.6756L17.2393 19.682C17.1213 19.7682 16.9618 19.7801 16.829 19.7089L16.8291 19.7089L16.8209 19.7046L12.0345 17.2083C12.0334 17.2077 12.0322 17.207 12.0311 17.2064C11.7521 17.0586 11.446 16.9812 11.138 16.9724L11.1265 16.972H11.115H10.8218H10.7621L10.7031 16.9808C10.5149 17.0089 10.3266 17.069 10.1504 17.1642L5.36994 19.6689C5.28754 19.7091 5.19619 19.7238 5.10668 19.7118C4.90319 19.6675 4.76756 19.472 4.79871 19.2645L5.76017 13.9494L5.76027 13.9495L5.76237 13.9367C5.86862 13.2902 5.65433 12.6325 5.18755 12.1729L5.18756 12.1729L5.18304 12.1685L1.27597 8.38156C1.17313 8.28179 1.13863 8.13395 1.18479 8.00118L1.18481 8.00119L1.18694 7.9949C1.23582 7.85046 1.35929 7.74597 1.5078 7.72128L6.86526 6.94407C7.54112 6.86797 8.13243 6.45428 8.43647 5.84621L8.4365 5.84623L8.43998 5.8391L10.804 0.992402C10.8162 0.969978 10.8292 0.951224 10.842 0.935908L10.8941 0.89533L10.9498 0.852009L10.9676 0.832345L10.9693 0.831715L10.984 0.826319L10.9985 0.820356L11.0352 0.805266H11.2787C11.4023 0.82743 11.5078 0.904543 11.5657 1.01403L13.9614 5.84C13.9618 5.84075 13.9621 5.8415 13.9625 5.84225C14.2527 6.43353 14.8144 6.84199 15.4609 6.94104L15.4609 6.94107L15.4672 6.94199L20.8451 7.72216L20.8468 7.72241C20.9998 7.74426 21.1288 7.84881 21.1822 7.99387C21.2231 8.12818 21.1847 8.27465 21.0806 8.37228L21.0781 8.37469L17.0311 12.2052Z" stroke="#EEC337" stroke-width="1.61053"/>
                            </svg>
                        </span>
                    </div>
                </div>
            </div>
            <div class="l-product-reviews-customer-review-meta ui-product-reviews-customer-review-meta">
                <div class="l-product-reviews-verified ui-product-reviews-verified">
                    <span class="l-product-reviews-verified-circle ui-product-reviews-verified-circle"></span>
                    <span>Verified Purchase</span>
                </div>
                <div>
                    29 Oct, 2022
                </div>
            </div>
        </div>
        <div class="l-product-reviews-customer-review-body ui-product-reviews-customer-review-body">
            <h5 class="l-product-reviews-customer-review-body-title ui-product-reviews-customer-review-body-title">Good material good finish</h5>
            <p class="l-product-reviews-customer-review-body-text ui-product-reviews-customer-review-body-text">This was great at a pool party. Releases a lot of bubbles at the same time. Kids loved playing with it and it created some fun times where they were busy and occupied playing with it.</p>
        </div>
    </div> -->

    <!-- <div class="l-flex-row">
        <div class="l-flex-col-lg-6">
           <table class="ui-striped-table l-striped-table">
              <tbody>
                 <tr>
                    <td>Audio Jack</td>
                    <td>3.5 mm</td>
                 </tr>
                 <tr>
                    <td>Battery Size</td>
                    <td>5000 mAh</td>
                 </tr>
                 <tr>
                    <td>Battery Type</td>
                    <td>Lithium Polymer</td>
                 </tr>
                 <tr>
                    <td>Camera Type</td>
                    <td>Primary Camera + Secondary Camera</td>
                 </tr>
                 <tr>
                    <td>Charging Type</td>
                    <td>Lightning to USB</td>
                 </tr>
                 <tr>
                    <td>Colour Name</td>
                    <td>Black</td>
                 </tr>
                 <tr>
                    <td>Country of Origin</td>
                    <td>China</td>
                 </tr>
                 <tr>
                    <td>Display Resolution</td>
                    <td>720x1600</td>
                 </tr>
                 <tr>
                    <td>Display Resolution Type</td>
                    <td>HD</td>
                 </tr>
                 <tr>
                    <td>Network</td>
                    <td>4G</td>
                 </tr>
                 <tr>
                    <td>Expandable Memory Type</td>
                    <td>MicroSD</td>
                 </tr>
                 <tr>
                    <td>Fast Charging</td>
                    <td>Yes</td>
                 </tr>
                 <tr>
                    <td>Flash</td>
                    <td>LED</td>
                 </tr>
                 <tr>
                    <td>Internal Memory</td>
                    <td>32 GB</td>
                 </tr>
                 <tr>
                    <td>Maximum Expandable Memory</td>
                    <td>128 GB</td>
                 </tr>
                 <tr>
                    <td>Model Name</td>
                    <td><a href="#" class="special">Smart 6s</a></td>
                 </tr>
                 <tr>
                    <td>Model Number</td>
                    <td><a href="#">X6511B</a></td>
                 </tr>
                 <tr>
                    <td>Model Year</td>
                    <td>2021</td>
                 </tr>
              </tbody>
           </table>
        </div>
        <div class="l-flex-col-lg-6">
            <table class="ui-striped-table l-striped-table">
               <tbody>
                  <tr>
                     <td>Audio Jack</td>
                     <td>3.5 mm</td>
                  </tr>
                  <tr>
                     <td>Battery Size</td>
                     <td>5000 mAh</td>
                  </tr>
                  <tr>
                     <td>Battery Type</td>
                     <td>Lithium Polymer</td>
                  </tr>
                  <tr>
                     <td>Camera Type</td>
                     <td>Primary Camera + Secondary Camera</td>
                  </tr>
                  <tr>
                     <td>Charging Type</td>
                     <td>Lightning to USB</td>
                  </tr>
                  <tr>
                     <td>Colour Name</td>
                     <td>Black</td>
                  </tr>
                  <tr>
                     <td>Country of Origin</td>
                     <td>China</td>
                  </tr>
                  <tr>
                     <td>Display Resolution</td>
                     <td>720x1600</td>
                  </tr>
                  <tr>
                     <td>Display Resolution Type</td>
                     <td>HD</td>
                  </tr>
                  <tr>
                     <td>Network</td>
                     <td>4G</td>
                  </tr>
                  <tr>
                     <td>Expandable Memory Type</td>
                     <td>MicroSD</td>
                  </tr>
                  <tr>
                     <td>Fast Charging</td>
                     <td>Yes</td>
                  </tr>
                  <tr>
                     <td>Flash</td>
                     <td>LED</td>
                  </tr>
                  <tr>
                     <td>Internal Memory</td>
                     <td>32 GB</td>
                  </tr>
                  <tr>
                     <td>Maximum Expandable Memory</td>
                     <td>128 GB</td>
                  </tr>
                  <tr>
                     <td>Model Name</td>
                     <td><a href="#" class="special">Smart 6s</a></td>
                  </tr>
                  <tr>
                     <td>Model Number</td>
                     <td><a href="#">X6511B</a></td>
                  </tr>
                  <tr>
                     <td>Model Year</td>
                     <td>2021</td>
                  </tr>
               </tbody>
            </table>
        </div>
    </div> -->


    <!-- <div class="ui-editor-content-box">
        <h2>Professional Set: Rotary Hammer GBH 2-26 F + 5 pcs SDS plus-5 hammer bit set in L-Case</h2>
        <p>&nbsp;</p>
        <ul>
            <li>SKU 0611.2A4.001-UUU</li>
            <li>Improved performance for a fast drilling rate and high chiselling removal rate</li>
            <li>Reliable and robust with long lifetime due to high-quality components</li>
            <li>Wide range of applications for drilling, hammer drilling and chiselling</li>
        </ul>
        <p>&nbsp;</p>
        <p>Infinix Mobile is a Hong Kong-based smartphone company founded in 2013 by Transsion Holdings. Infinix mobile phones are manufactured in France, India, Korea, China, Pakistan and are available in Asia and in about 30 countries in the Middle East and Africa, including Morocco, Kenya, Nigeria, Egypt, Iran, Iraq, Cameroon and Algeria. The company has research and development centres sprawling between France and Korea and designs its phones in France. Infinix Mobile became the first smartphone brand manufacturing in Pakistan. In 2017, Infinix Mobile gained market shares in Egypt, rising to third place after Samsung and Huawei. On 8 May 2018, Infinix Mobile Nigeria signed an endorsement deal with David Adedeji Adeleke (Davido) as the 2018 Nigerian Mobile Brand Ambassador. On 25 June 2020, Infinix Mobility announced the first range of smart TVs to the Nigerian electronics market.</p>
    </div> -->