{% use 'bootstrap_3_layout.html.twig' %}
{% apply spaceless %}
    <!DOCTYPE html>
    <html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>{% if page_title is defined %}{{ page_title }}{% else %}Admin panel{% endif %} | {{ getSiteSetting("website-title") }}</title>
        <link rel="shortcut icon" href="{{ asset('favicon.ico') }}" />
        {% block stylesheets %}
            <!-- Global stylesheets -->
            <link href="https://fonts.googleapis.com/css?family=Roboto:400,300,100,500,700,900" rel="stylesheet" type="text/css">
            <link href="{{ asset('admin/css/icons/icomoon/styles.css') }}" rel="stylesheet" type="text/css">
            <link href="{{ asset('admin/css/icons/fontawesome/styles.min.css') }}" rel="stylesheet" type="text/css">
            <link href="{{ asset('admin/css/bootstrap.css') }}" rel="stylesheet" type="text/css">
            <link href="{{ asset('admin/css/core.css') }}" rel="stylesheet" type="text/css">
            <link href="{{ asset('admin/css/components.css') }}" rel="stylesheet" type="text/css">
            <link href="{{ asset('admin/css/colors.css') }}" rel="stylesheet" type="text/css">
            <link href="{{ asset('admin/css/pn.style.css') }}" rel="stylesheet" type="text/css">
            <!-- /global stylesheets -->
        {% endblock stylesheets %}

    </head>

    <body class="login-container">

    <!-- Page container -->
    <div class="page-container">
        <!-- Page content -->
        <div class="page-content">
            <!-- Main content -->
            <div class="content-wrapper">
                <!-- Content area -->
                <div class="content">
                    {% block body %}{% endblock %}
                    <!-- Footer -->
                    <div class="footer text-muted text-center">
                        &copy; {{ 'now'|date('Y') }} {{ getSiteSetting("website-title") }}. Developed by <a href="http://perfectneeds.com" target="_blank">perfectNeeds</a>
                    </div>
                    <!-- /footer -->

                </div>
                <!-- /content area -->

            </div>
            <!-- /main content -->
        </div>
        <!-- /page content -->
    </div>

    <!-- /page container -->
    {% block javascripts %}
        <!-- Core JS files -->
        <script type="text/javascript" src="{{ asset('admin/js/core/libraries/jquery.min.js') }}"></script>
        <script type="text/javascript" src="{{ asset('admin/js/core/libraries/bootstrap.min.js') }}"></script>
        <!-- /core JS files -->

        <!-- Theme JS files -->
        <script type="text/javascript" src="{{ asset('admin/js/app.js') }}"></script>
        <script type="text/javascript" src="{{ asset('admin/js/pages/layout_fixed_custom.js') }}"></script>
        <script type="text/javascript" src="{{ asset('admin/js/plugins/forms/validation/validate.min.js') }}"></script>
        <script type="text/javascript" src="{{ asset('admin/js/pages/form_validation.js') }}"></script>
        <!-- /theme JS files -->
    {% endblock javascripts %}
    <script type="text/javascript" src="{{ asset('admin/js/pn.app.js') }}"></script>
    </body>
    </html>
{% endapply %}