<div class="sidebar sidebar-main sidebar-fixed">
    <div class="sidebar-content">
        <!-- Main navigation -->
        <div class="sidebar-category sidebar-category-visible">
            <div class="category-content no-padding">
                <ul class="navigation navigation-main navigation-accordion">
                    <!-- Main -->
                    <li {% if cr in ['dashboard'] %} class="active" {% endif %}>
                        <a href="{{ path('dashboard') }}"><i class="icon-home4"></i> <span>Dashboard</span></a>
                    </li>
                    {% if is_granted('ROLE_ADMIN') %}
                        <li {% if cr in ['order_index','order_show'] %} class="active" {% endif %}>
                            <a href="{{ path('order_index') }}"><i class="icon-cart-add"></i>
                                <span>Orders List</span></a>
                        </li>
                    {% endif %}
                    {% if is_granted('ROLE_ADMIN') %}
                        <li {% if cr in ['admin_index', 'admin_new', 'admin_edit'] %} class="active" {% endif %}>
                            <a href="{{ path('admin_index') }}"><i
                                        class="icon-user-tie"></i><span>Administrators List</span></a>
                        </li>
                        <li {% if cr in ['user_index', 'user_edit', 'user_show'] %} class="active" {% endif %}>
                            <a href="{{ path('user_index') }}"><i class="icon-users"></i><span>Users List</span></a>
                        </li>
                    {% endif %}
                    {#<li {% if cr in ['project_index', 'project_new', 'project_edit'] %} class="active" {% endif %}>
                        <a href="{{ path('project_index') }}">
                            <i class="fa fa-sitemap"></i> <span>Projects List</span>
                        </a>
                    </li>#}
                    <li {% if cr in ['vendor_index', 'vendor_new', 'vendor_edit', 'vendor_show'] %} class="active" {% endif %}>
                        <a href="{{ path('vendor_index') }}"><i
                                    class="fa fa-industry"></i><span>Vendors List</span></a>
                    </li>
                    {#                    <li {% if cr in ['service_index', 'service_new', 'service_edit'] %} class="active" {% endif %}> #}
                    {#                        <a href="{{ path('service_index') }}"><i class="icon-compose"></i><span>Services List</span></a> #}
                    {#                    </li> #}
                    {#                    <li {% if cr in ['team_index', 'team_new', 'team_edit'] %} class="active" {% endif %}> #}
                    {#                        <a href="{{ path('team_index') }}"><i class="fa fa-male"></i><span>Team Members List</span></a> #}
                    {#                    </li> #}
                    <li {% if cr in ['brand_index','brand_new', 'brand_edit', 'product_group_update_index', 'product_group_update_action','product_index','product_new', 'product_edit','category_index','category_new', 'category_edit', 'attribute_index','attribute_new', 'attribute_edit','collection_index', 'collection_edit', 'collection_new', 'collection_clone', 'collection_manage_product', 'occasion_index', 'occasion_edit', 'occasion_new', 'occasion_clone', 'occasion_manage_product'] %} class="active" {% endif %}>
                        <a href="#"><i class="icon-basket"></i> <span>Products Catalog</span></a>
                        <ul>
                            <li {% if cr in ['product_index','product_new', 'product_edit'] %}class="active"{% endif %}>
                                <a href="{{ path('product_index') }}">Products List</a>
                            </li>
                            <li {% if cr in ['category_index','category_new', 'category_edit', 'attribute_index','attribute_new', 'attribute_edit'] %}class="active"{% endif %}>
                                <a href="{{ path('category_index') }}">Categories List</a>
                            </li>
                            <li {% if cr in ['brand_index','brand_new', 'brand_edit'] %}class="active"{% endif %}>
                                <a href="{{ path('brand_index') }}">Brands List</a>
                            </li>
                            {% if constant("App\\BaseBundle\\SystemConfiguration::ENABLE_COLLECTION") %}
                                <li {% if cr in  ['collection_index', 'collection_edit', 'collection_new', 'collection_clone', 'collection_manage_product'] %}class="active"{% endif %}>
                                    <a href="{{ path('collection_index') }}">Collections List</a>
                                </li>
                            {% endif %}
                            {% if constant("App\\BaseBundle\\SystemConfiguration::ENABLE_OCCASION") %}
                                <li {% if cr in  ['occasion_index', 'occasion_edit', 'occasion_new', 'occasion_clone', 'occasion_manage_product'] %}class="active"{% endif %}>
                                    <a href="{{ path('occasion_index') }}">Occasions List</a>
                                </li>
                            {% endif %}
                            <li {% if cr in ['product_group_update_index','product_group_update_action'] %}class="active"{% endif %}>
                                <a href="{{ path('product_group_update_index') }}">Bulk Update</a>
                            </li>
                        </ul>
                    </li>
                    {% if is_granted('ROLE_ADMIN') %}
                        <li {% if cr in ["report_product_dashboard", "report_product_order_items"] %}class="active"{% endif %}>
                            <a href="#"><i class="icon-stats-dots"></i> <span> Reports</span></a>
                            <ul>
                                <li {% if cr in ["report_product_dashboard", "report_product_order_items"] %}class="active" {% endif %}>
                                    <a href="{{ path('report_product_index') }}">Products Sales</a>
                                </li>
                            </ul>
                        </li>
                    {% endif %}

                    {% if is_granted('ROLE_ADMIN') %}
                        <li {% if cr in ['payment_method_index', 'payment_method_edit','shippingtime_index', 'shippingtime_new','shippingtime_edit','city_index', 'city_new','city_edit','zoneindex', 'zone','zone_edit','shipper_index','shipper_new','shipper_edit', 'coupon_index', 'coupon_new','coupon_edit','coupon_manage_product'] %} class="active" {% endif %}>
                            <a href="#"><i class="icon-coin-dollar"></i> <span>ECommerce</span></a>
                            <ul>
                                <li {% if cr in ['coupon_index', 'coupon_new','coupon_edit','coupon_manage_product'] %}class="active" {% endif %}>
                                    <a href="{{ path('coupon_index') }}">Coupons List</a>
                                </li>
                                <li {% if cr in ['payment_method_index', 'payment_method_edit'] %}class="active" {% endif %}>
                                    <a href="{{ path('payment_method_index') }}">Payment Methods List</a>
                                </li>
                                <li {% if cr in ['city_index', 'city_new','city_edit','zoneindex', 'zone','zone_edit'] %}class="active" {% endif %}>
                                    <a href="{{ path('city_index') }}">Cities List</a>
                                </li>
                            </ul>
                        </li>
                    {% endif %}
                    {% if is_granted('ROLE_ADMIN') %}
                        <li {% if cr in ['shipping_time_index', 'shipping_time_new', 'shipping_time_edit', 'courier_index', 'courier_new', 'courier_edit', 'shipping_zone_index', 'shipping_zone_new', 'shipping_zone_edit', 'shipping_zone_price_index', 'shipping_zone_price_new', 'shipping_zone_price_edit','shipping_zone_price_site_countries_index', 'shipping_zone_price_shipping_times_index', 'shipping_zone_price_site_country_edit','store_address_fulfilled_index', 'store_address_fulfilled_new'] %}class="active"{% endif %}>
                                <a href="#"><i class="icon-truck"></i> <span> Shipping</span>
                                <span class="badge badge-danger">New</span>
                            </a>
                            <ul>
                                <li {% if cr in ['zone_index', 'zone_new', 'zone_edit', 'shipping_zone_price_site_countries_index', 'shipping_zone_price_shipping_times_index', 'shipping_zone_price_site_country_edit','shipping_zone_price_index', 'shipping_zone_price_new', 'shipping_zone_price_edit'] %}class="active"{% endif %}>
                                    <a href="{{ path('shipping_zone_price_shipping_times_index') }}">Shipping Prices</a>
                                </li>
                                <li {% if cr in ['courier_index', 'courier_new', 'courier_edit'] %}class="active"{% endif %}>
                                    <a href="{{ path('courier_index') }}">Couriers list</a>
                                </li>
                                <li {% if cr in ['shipping_zone_index', 'shipping_zone_new', 'shipping_zone_edit'] %}class="active"{% endif %}>
                                    <a href="{{ path('shipping_zone_index') }}">Shipping Zones list</a>
                                </li>
                                <li {% if cr in ['zone_index', 'zone_new', 'zone_edit'] %}class="active" {% endif %}>
                                    <a href="{{ path('zone_index') }}">Zones List</a>
                                </li>
                                <li {% if cr in ['shipping_time_index', 'shipping_time_new', 'shipping_time_edit'] %}class="active" {% endif %}>
                                    <a href="{{ path('shipping_time_index') }}">Shipping Times List</a>
                                </li>
                            </ul>
                        </li>
                    {% endif %}

                    {% if is_granted('ROLE_ADMIN') %}
                        {% if constant("App\\BaseBundle\\SystemConfiguration::ENABLE_MULTI_CURRENCIES") %}
                            <li {% if cr in ['currency_index', "currency_edit", "currency_new", "exchange_rate"] %} class="active" {% endif %}>
                                <a href="#"><i class="icon-gear"></i> <span>Configuration</span></a>
                                <ul>
                                    {% if constant("App\\BaseBundle\\SystemConfiguration::ENABLE_MULTI_CURRENCIES") %}
                                        <li {% if cr in ['currency_index', "currency_edit", "currency_new"] %} class="active" {% endif %}>
                                            <a href="{{ path('currency_index') }}">Currencies</a>
                                        </li>
                                        <li {% if cr in ['exchange_rate'] %} class="active" {% endif %}>
                                            <a href="{{ path('exchange_rate') }}">Exchange Rates</a>
                                        </li>
                                    {% endif %}
                                </ul>
                            </li>
                        {% endif %}
                    {% endif %}
                    {% if is_granted('ROLE_ADMIN') %}
                        <li {% if cr in ['banner_index', 'banner_new', 'banner_edit'] %} class="active" {% endif %}>
                            <a href="{{ path('banner_index') }}"><i
                                        class="icon-images2"></i><span>Banners List</span></a>
                        </li>
                        <li {% if cr in ['blog_index','blog_new', 'blog_edit', 'blog_tag_index','blog_tag_new', 'blog_tag_edit', 'blog_category_index','blog_category_new', 'blog_category_edit'] %} class="active" {% endif %}>
                            <a href="{{ path('blog_index') }}"><i class="icon-paragraph-center2"></i>
                                <span>Blogs List</span>
                            </a>
                        </li>
                        <li {% if cr in ['faq_index', 'faq_new', 'faq_edit'] %} class="active" {% endif %}>
                            <a href="{{ path('faq_index') }}"><i class="icon-question3"></i><span>FAQs List</span></a>
                        </li>
                    {% endif %}
                    <li {% if cr in ['dynamic_page_index', 'dynamic_page_new', 'dynamic_page_edit'] %} class="active" {% endif %}>
                        <a href="{{ path('dynamic_page_index') }}"><i
                                    class=" icon-files-empty"></i><span>Dynamic page</span></a>
                    </li>
                    <!-- /main -->
                    {% include "custom/_menu.html.twig" %}

                </ul>
            </div>
        </div>
        <!-- /main navigation -->

    </div>
</div>