{% extends 'fe/base.html.twig' %}
{% block title %}{{ "reset_password_txt"|trans }}{% endblock %}
{% import 'fe/macros.html.twig' as macros %}
{% block stylesheets %}
    {{ parent() }}
    {{ macros.assetCSS(asset('pages-assets/reset-password/reset-password.styles.css')) }}
{% endblock %}

{% block content %}
    {% include "fe/_pages_header.html.twig" with {"pageTitle": "reset_password_txt"|trans } %}

    <div class="l-container sign-form">
        <br>
        <br>
        <div class="l-flex-row">
            <div class="l-flex-col-xl-5">
                <div>
                    <div data-l-product-list-grid-products-container="true">
                        <div class="l-product-list-grid-col-products-header">
                            <div class="l-flex-row">
                                <div class="l-flex-col-lg-6">
                                    {% include "fe/_breadcrumb.html.twig" %}
                                </div>
                                <div class="l-flex-col-lg-6">
                                </div>
                            </div>
                        </div>
                        <br>
                        <br>
                            {{ form_start(form, {"attr": {"data-form-validate": "true", "data-sign-form": "true"}}) }}
                            <div class="l-flex-row">
                                <div class="l-flex-col-xl-8">
                                    <h2 class="title">{{ "reset_password_txt"|trans }}</h2>
                                    <br>
                                </div>
                                <div class="l-flex-col-xl-4">
                                </div>
                                <div class="l-flex-col-xl-12">
                                    <div class="form-input-box" data-form-validate-input-box="true">
                                        <label class="stack-input stack-input-icon stack-input-block" data-stack-input="true">
                                            <div class="stack-input stack-input-inner stack-input-block">
                                                <span class="label" data-stack-input-label="true">
                                                    {{ form.plainPassword.first.vars.label|trans }}
                                                </span>
                                                {{ form_widget(form.plainPassword.first) }}
{#                                                <input type="password" class="input" data-stack-input-input="true" name="password" autocomplete="password" data-validate-input="password" data-form-validate-input-rules="required" placeholder="New Password" data-ui-form-password="sign-password" />#}
                                            </div>
                                            <button class="btn stack-input-prefix" type="button">
                                                <svg width="28" height="24" viewBox="0 0 28 24" fill="none" xmlns="http://www.w3.org/2000/svg" data-ui-form-password-btn="sign-password">
                                                    <path d="M17.4761 12.4391L19.0664 10.7042C19.1821 11.1765 19.25 11.6702 19.25 12.1819C19.25 15.34 16.8949 17.9091 14 17.9091C13.531 17.9091 13.0784 17.8352 12.6455 17.7089L14.2358 15.974C15.9746 15.8447 17.3575 14.336 17.4761 12.4391ZM27.8897 11.7182C27.7821 11.507 26.2556 8.58921 23.2719 6.11647L21.9985 7.50556C24.1742 9.25071 25.5528 11.286 26.0955 12.1833C25.0584 13.906 20.9901 19.8182 14 19.8182C12.9517 19.8182 11.977 19.6719 11.0598 19.4385L9.62191 21.0071C10.9438 21.4493 12.3967 21.7273 14 21.7273C23.1597 21.7273 27.7009 13.0161 27.8897 12.6455C28.0367 12.357 28.0367 12.0067 27.8897 11.7182ZM24.2436 2.35676L4.99361 23.3567C4.82277 23.5431 4.59877 23.6364 4.37499 23.6364C4.15121 23.6364 3.92721 23.5431 3.75637 23.3567C3.41446 22.9837 3.41446 22.3797 3.75637 22.007L6.20548 19.3352C2.24612 16.7276 0.234281 12.8892 0.11025 12.6455C-0.0367499 12.357 -0.0367499 12.0065 0.11025 11.718C0.29903 11.3476 4.84027 2.63644 14 2.63644C16.3684 2.63644 18.4198 3.22587 20.1735 4.09737L23.0063 1.00704C23.3482 0.634048 23.9019 0.634048 24.2436 1.00704C24.5852 1.38002 24.5855 1.98401 24.2436 2.35676ZM7.51032 17.9118L9.7256 15.4951C9.11376 14.5587 8.74998 13.4168 8.74998 12.1819C8.74998 9.02376 11.105 6.45461 14 6.45461C15.132 6.45461 16.1787 6.85146 17.0371 7.51869L18.8284 5.5645C17.4131 4.9462 15.8049 4.54553 14 4.54553C7.00983 4.54553 2.94152 10.4577 1.90465 12.1804C2.56309 13.2691 4.45571 16.0249 7.51032 17.9118ZM10.9959 14.1091L15.7666 8.90468C15.2462 8.5694 14.647 8.3637 14 8.3637C12.0702 8.3637 10.5 10.0766 10.5 12.1819C10.5 12.8878 10.6885 13.5414 10.9959 14.1091Z" fill="#929292"></path>
                                                </svg>
                                            </button>
                                        </label>
                                        <ul class="form-input-errors" data-validate-input-errors="password">
                                            {{ form_errors(form.plainPassword.first) }}
                                        </ul>
                                    </div>
                                </div>
                                <div class="l-flex-col-xl-12">
                                    <div class="form-input-box" data-form-validate-input-box="true">
                                        <label class="stack-input stack-input-icon stack-input-block" data-stack-input="true">
                                            <div class="stack-input stack-input-inner stack-input-block">
                                                <span class="label" data-stack-input-label="true">
                                                    {{ form.plainPassword.second.vars.label|trans }}
                                                </span>
                                                {{ form_widget(form.plainPassword.second) }}
{#                                                <input type="password" class="input" data-stack-input-input="true" name="confirm_password" autocomplete="password" data-validate-input="confirm_password" data-form-validate-input-rules="required|passwordMatch:[data-validate-input=password]" placeholder="Confirm New Password" data-ui-form-password="sign-password" />#}
                                            </div>
                                            <button class="btn stack-input-prefix" type="button">
                                                <svg width="28" height="24" viewBox="0 0 28 24" fill="none" xmlns="http://www.w3.org/2000/svg" data-ui-form-password-btn="sign-password">
                                                    <path d="M17.4761 12.4391L19.0664 10.7042C19.1821 11.1765 19.25 11.6702 19.25 12.1819C19.25 15.34 16.8949 17.9091 14 17.9091C13.531 17.9091 13.0784 17.8352 12.6455 17.7089L14.2358 15.974C15.9746 15.8447 17.3575 14.336 17.4761 12.4391ZM27.8897 11.7182C27.7821 11.507 26.2556 8.58921 23.2719 6.11647L21.9985 7.50556C24.1742 9.25071 25.5528 11.286 26.0955 12.1833C25.0584 13.906 20.9901 19.8182 14 19.8182C12.9517 19.8182 11.977 19.6719 11.0598 19.4385L9.62191 21.0071C10.9438 21.4493 12.3967 21.7273 14 21.7273C23.1597 21.7273 27.7009 13.0161 27.8897 12.6455C28.0367 12.357 28.0367 12.0067 27.8897 11.7182ZM24.2436 2.35676L4.99361 23.3567C4.82277 23.5431 4.59877 23.6364 4.37499 23.6364C4.15121 23.6364 3.92721 23.5431 3.75637 23.3567C3.41446 22.9837 3.41446 22.3797 3.75637 22.007L6.20548 19.3352C2.24612 16.7276 0.234281 12.8892 0.11025 12.6455C-0.0367499 12.357 -0.0367499 12.0065 0.11025 11.718C0.29903 11.3476 4.84027 2.63644 14 2.63644C16.3684 2.63644 18.4198 3.22587 20.1735 4.09737L23.0063 1.00704C23.3482 0.634048 23.9019 0.634048 24.2436 1.00704C24.5852 1.38002 24.5855 1.98401 24.2436 2.35676ZM7.51032 17.9118L9.7256 15.4951C9.11376 14.5587 8.74998 13.4168 8.74998 12.1819C8.74998 9.02376 11.105 6.45461 14 6.45461C15.132 6.45461 16.1787 6.85146 17.0371 7.51869L18.8284 5.5645C17.4131 4.9462 15.8049 4.54553 14 4.54553C7.00983 4.54553 2.94152 10.4577 1.90465 12.1804C2.56309 13.2691 4.45571 16.0249 7.51032 17.9118ZM10.9959 14.1091L15.7666 8.90468C15.2462 8.5694 14.647 8.3637 14 8.3637C12.0702 8.3637 10.5 10.0766 10.5 12.1819C10.5 12.8878 10.6885 13.5414 10.9959 14.1091Z" fill="#929292"></path>
                                                </svg>
                                            </button>
                                        </label>
                                        <ul class="form-input-errors" data-validate-input-errors="confirm_password">
                                            {{ form_errors(form.plainPassword.second) }}
                                        </ul>
                                    </div>
                                </div>
                                <div class="l-flex-col-xl-12">
                                    <div class="buttons">
                                        <button class="btn btn-primary btn-lg btn-block" disabled type="submit">{{ "change_password_txt"|trans }}</button>
                                    </div>
                                </div>
                            </div>
                        {{ form_end(form) }}
                        <br>
                        <br>
                        <br>
                    </div>
                </div>
            </div>
            <div class="l-flex-col-xl-1"></div>
            <div class="l-flex-col-xl-6">
                {% set image = getDCA(9, false) %}
                {% if image is empty %}
                    {% set image = asset('assets/img/sign-img-2.webp') %}
                {% endif %}
                {{ editDCA(9) }}
                <img class="aside-img" src="{{ image }}" alt="{{ "reset_password_txt"|trans }}"/>
            </div>
        </div>
    </div>

{% endblock %}


{% block javascripts %}
    {{ parent() }}
    {{ macros.assetCSS(asset('pages-assets/reset-password/reset-password.lazy.styles.css'), true) }}

    {{ macros.assetJS(asset('pages-assets/reset-password/reset-password.js')) }}
    {{ macros.assetJS(asset('pages-assets/reset-password/reset-password.lazy.js'), true) }}
{% endblock %}