{% extends 'adminTemplate/base.html.twig' %}
{% import 'adminTemplate/macros.html.twig' as macros %}
{% set page_title %}Edit {{ attribute.title }}{% endset %}

{% block stylesheets %}
    {{ parent() }}
    <style>
        #new-sub-attribute-form .validation-valid-label {
            color: #ffffff;
        }
    </style>
{% endblock %}
{% block breadcrumb %}
    <div class="breadcrumb-line">
        <ul class="breadcrumb">
            <li><a href="{{ path('dashboard') }}"><i class="icon-home2 position-left"></i>Dashboard</a></li>
            <li><a href="{{ path('category_index') }}">Categories</a></li>
            {% for categoryParent in categoryParents %}
                <li>
                    {% if loop.last == false %}
                        <a href="{{ path('category_index',{"parentCategory":categoryParent.id}) }}">
                            {{ categoryParent.title }}
                        </a>
                    {% else %}
                        {{ categoryParent.title }}
                    {% endif %}
                </li>
            {% endfor %}
            <li>
                <a href="{{ path('attribute_index', {"id": attribute.category.id}) }}">{{ attribute.category.title }}'s Specs List</a>
            </li>
            <li class="active">{{ page_title }}</li>
        </ul>
    </div>
{% endblock %}
{% block body %}
    <div class="row">
        {{ form_start(form, {'attr':{"data-toggle":"validator",'novalidate':'novalidate'} }) }}
        <div class="col-md-12">
            {% set defaultTwig= include ("product/admin/attribute/_form.html.twig") %}
            {{ include ("@PNLocale/new_or_edit_tab_structure.html.twig", {'defaultTwig': defaultTwig, "transTwigPath" : "product/admin/attribute/_form_trans.html.twig"} ) }}
        </div>
        {{ form_end(form) }}
        <div class="col-md-12">
            {% include "product/admin/attribute/subAttribute/_list.html.twig" %}
        </div>
    </div>
{% endblock %}
{% block javascripts %}
    {{ parent() }}
    <script type="text/javascript" src="{{ asset('admin/js/plugins/forms/validation/validate.min.js') }}"></script>
    <script type="text/javascript" src="{{ asset('admin/js/pages/form_validation.js') }}"></script>
    <script type="text/javascript" src="{{ asset('admin/js/pages/form_layouts.js') }}"></script>
    <script type="text/javascript" src="{{ asset('admin/js/plugins/forms/styling/switchery.min.js') }}"></script>
    <script type="text/javascript" src="{{ asset('admin/js/plugins/notifications/bootbox.min.js') }}"></script>
    <script type="text/javascript" src="{{ asset('admin/js/pages/form_select2.js') }}"></script>
    <script type="text/javascript" src="{{ asset('admin/js/plugins/forms/selects/select2.min.js') }}"></script>
    <script type="text/javascript" src="{{ asset('admin/js/plugins/notifications/jgrowl.min.js') }}"></script>
    <script>
        $(document).ready(function () {
            showHideSubAttributesBox();
            $("select[name*='[type]']").on('change', function (e) {
                showHideSubAttributesBox();
            });
            $("#new-sub-attribute-form").submit(function (e) {
                e.preventDefault();
                let $this = $(this);
                if ($this.valid() === true) {
                    let action = $this.attr("action");
                    $this.find(':button').attr('disabled', 'disabled');
                    $this.find('button[type=submit]').text("Loading ...");
                    let formSerialize = $this.serialize();
                    $.post(action, formSerialize, function (json) {
                        $this.find(':button').removeAttr('disabled');
                        $this.find('button[type=submit]').text('Save');
                        if (json.error == 0) {
                            $("#edit-sub-attributes-container").empty().append(json.html);
                            $.jGrowl(json.message, {theme: 'bg-success'});
                            $this[0].reset();
                        }
                    });
                }
            });
            $(document.body).on("click", ".delete", function (e) {
                var $this = $(this);
                bootbox.confirm({
                    title: 'Confirm dialog',
                    message: 'Are you sure you want to delete?',
                    buttons: {
                        confirm: {
                            label: 'OK',
                            className: 'btn-primary'
                        },
                        cancel: {
                            label: 'Cancel',
                            className: 'btn-link'
                        }
                    },
                    callback: function (result) {
                        if (result === true) {
                            let url = $this.data("url");
                            $.post(url, {"_method": "DELETE"}, function (json) {
                                $this.find(':button').removeAttr('disabled');
                                $this.find('button[type=submit]').text('Save');
                                if (json.error == 0) {
                                    $.jGrowl(json.message, {theme: 'bg-success'});
                                    $this.closest("tr").remove();
                                } else {
                                    $.jGrowl(json.message, {theme: 'bg-danger'});
                                }
                            });

                        }
                    }
                });
            });
        });

        function showHideSubAttributesBox() {
            let value = $("select[name*='[type]']").val();
            let searchField = $("input[name*='[search]']").closest("div[class*='col-']");
            let subAttributesBox = $("#sub-attributes-box");

            if (value == '{{ constant('App\\ProductBundle\\Entity\\Attribute::TYPE_TEXT') }}') {
                searchField.slideUp();
                subAttributesBox.slideUp();
            } else if (value == '{{ constant('App\\ProductBundle\\Entity\\Attribute::TYPE_NUMBER') }}') {
                searchField.slideUp();
                subAttributesBox.slideUp();
            } else if (value == '{{ constant('App\\ProductBundle\\Entity\\Attribute::TYPE_DROPDOWN') }}') {
                searchField.slideDown();
                subAttributesBox.slideDown();
            } else {
                searchField.slideDown();
                subAttributesBox.slideDown();
            }
        }
    </script>
{% endblock javascripts %}
