<div class="wrapper-card">
    <div class="wrapper-card-header">
        <h6 class="wrapper-card-header-title">{{ "contact_information_txt"|trans }}</h6>
    </div>
    <div class="wrapper-empty-addresses-placeholder" style="display: none;" data-no-addresses-wrapper="true">
        <svg width="92" height="120" viewBox="0 0 92 120" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M88.626 105.613C88.626 109.903 83.9971 113.58 75.2422 116.243C67.2783 118.665 56.729 120 45.5303 120C34.3315 120 23.7822 118.665 15.8184 116.243C7.06348 113.58 2.43457 109.903 2.43457 105.613C2.43457 101.324 7.06348 97.6494 15.8184 94.9858C18.2769 94.2388 20.9844 93.5942 23.8799 93.0596C30.3594 91.8657 37.791 91.2285 45.5303 91.2285C53.2695 91.2285 60.6987 91.8657 67.1782 93.0596C70.0737 93.5918 72.7813 94.2388 75.2422 94.9858C83.9971 97.6494 88.626 101.324 88.626 105.613Z"
                  fill="#79BBC3"/>
            <path d="M67.1782 93.0596L51.1382 109.085C49.6416 110.582 47.6494 111.407 45.5303 111.407C43.4111 111.407 41.4189 110.582 39.9199 109.085L23.8799 93.0596C30.3594 91.8657 37.791 91.2285 45.5303 91.2285C53.2695 91.2285 60.6987 91.8657 67.1782 93.0596Z"
                  fill="#304726"/>
            <path d="M92 44.0551C92 -12.7864 3.95774 -15.519 0.0929396 41.0767C-1.65112 66.6149 21.4884 92.1464 41.1227 109.203C42.4568 110.36 44.1874 111 45.9816 111C47.7758 111 49.5067 110.361 50.8413 109.205C69.5451 92.9563 92 68.3265 92 44.0551Z"
                  fill="#EEC337"/>
            <path d="M80 43.4871C80 62.4756 64.5378 77.9254 45.5308 77.9254C44.4894 77.9254 43.4562 77.878 42.4375 77.7893C24.874 76.22 11.0615 61.4342 11.0615 43.4871C11.0615 25.538 24.874 10.7542 42.4375 9.18493C43.4562 9.09626 44.4894 9.04883 45.5308 9.04883C64.5378 9.04883 80 24.4966 80 43.4871Z"
                  fill="#EEF0F5"/>
            <path d="M80 43.4871C80 62.4756 64.5378 77.9254 45.5308 77.9254C44.4894 77.9254 43.4562 77.878 42.4375 77.7893C60.001 76.22 73.8135 61.4342 73.8135 43.4871C73.8135 25.538 60.001 10.7542 42.4375 9.18493C43.4562 9.09626 44.4894 9.04883 45.5308 9.04883C64.5378 9.04883 80 24.4966 80 43.4871Z"
                  fill="#DAE1EA"/>
            <path d="M62.2999 37.5881L46.4832 25.2151C45.9233 24.7773 45.1372 24.7773 44.5774 25.2151L28.7607 37.5881C28.386 37.8814 28.167 38.3307 28.167 38.8062V58.2728C28.167 59.1271 28.8595 59.8194 29.7136 59.8194H61.347C62.2011 59.8194 62.8936 59.1271 62.8936 58.2728V38.8062C62.8936 38.3307 62.6746 37.8814 62.2999 37.5881Z"
                  fill="#EEC337"/>
            <path d="M66.5271 39.0391L46.4835 23.3596C45.9237 22.9218 45.1376 22.9218 44.5777 23.3596L24.5342 39.0391C23.8613 39.5654 23.7427 40.5375 24.269 41.2102C24.795 41.8827 25.7672 42.0021 26.44 41.4754L45.5306 26.5413L64.6212 41.4754C64.9041 41.6967 65.2398 41.8039 65.5731 41.8039C66.0325 41.8039 66.4875 41.6001 66.7925 41.2102C67.3185 40.5373 67.1999 39.5652 66.5271 39.0391Z"
                  fill="#79BBC3"/>
            <path d="M38.3113 43.1035C37.4571 43.1035 36.7646 43.7958 36.7646 44.6501V50.9099C36.7646 51.7642 37.4571 52.4565 38.3113 52.4565C39.1654 52.4565 39.8579 51.7642 39.8579 50.9099V44.6504C39.8579 43.796 39.1654 43.1035 38.3113 43.1035Z"
                  fill="white"/>
            <path d="M45.5291 43.1035C44.6749 43.1035 43.9824 43.7958 43.9824 44.6501V50.9099C43.9824 51.7642 44.6749 52.4565 45.5291 52.4565C46.3832 52.4565 47.0757 51.7642 47.0757 50.9099V44.6504C47.0757 43.796 46.3832 43.1035 45.5291 43.1035Z"
                  fill="white"/>
            <path d="M52.7468 43.1035C51.8927 43.1035 51.2002 43.7958 51.2002 44.6501V50.9099C51.2002 51.7642 51.8927 52.4565 52.7468 52.4565C53.601 52.4565 54.2935 51.7642 54.2935 50.9099V44.6504C54.2935 43.796 53.601 43.1035 52.7468 43.1035Z"
                  fill="white"/>
            <path d="M45.5291 33.7773C44.6749 33.7773 43.9824 34.4696 43.9824 35.324V37.5967C43.9824 38.4511 44.6749 39.1433 45.5291 39.1433C46.3832 39.1433 47.0757 38.4511 47.0757 37.5967V35.324C47.0757 34.4696 46.3832 33.7773 45.5291 33.7773Z"
                  fill="white"/>
        </svg>
        <p>{{ "didnt_have_address_txt"|trans }}</p>
        <button type="button" class="btn btn-primary btn-md btn-rounded" data-l-modal-btn="address-add">
            <span class="text">{{ "add_new_address_txt"|trans }}</span>
        </button>
    </div>

    <input type="hidden" name="address" data-default-address-input="true" {% if cart.shippingAddress is not empty %}value="{{ cart.shippingAddress.id }}"{% endif %}/>
    <div class="wrapper-card-section" style="display: none;" data-default-address-wrapper="true">
        <div class="wrapper-card-section-header">
            <h6 class="wrapper-card-section-header-title">Selected Address</h6>
            <div class="wrapper-card-section-header-action">
                <button data-l-modal-btn="address-list" type="button">
                    {{ "choose_another_address_txt"|trans }}
                    <svg xmlns="http://www.w3.org/2000/svg" width="14" height="14" viewBox="0 0 14 14" fill="none" >
                        <path d="M13.5592 6.34616L7.48184 0.268705C7.30836 0.0952232 7.07715 0 6.83061 0C6.58379 0 6.35271 0.09536 6.17923 0.268705L5.62745 0.820616C5.45411 0.993824 5.35861 1.22518 5.35861 1.47186C5.35861 1.7184 5.45411 1.95755 5.62745 2.13076L9.17288 5.68398H0.998979C0.491122 5.68398 0.0898438 6.08156 0.0898438 6.58956V7.36981C0.0898438 7.8778 0.491122 8.31548 0.998979 8.31548H9.21311L5.62759 11.8885C5.45425 12.062 5.35875 12.2871 5.35875 12.5338C5.35875 12.7802 5.45425 13.0085 5.62759 13.1818L6.17937 13.732C6.35285 13.9055 6.58393 14 6.83074 14C7.07728 14 7.3085 13.9042 7.48198 13.7307L13.5593 7.65343C13.7332 7.4794 13.8288 7.24709 13.8281 7.00014C13.8287 6.75237 13.7332 6.51992 13.5592 6.34616Z" fill="#FFC500" style="fill: var(--primary-color)"/>
                    </svg>
                </button>
            </div>
        </div>
        <div class="wrapper-address-list" data-default-address="true">
        </div>
        <template data-address-template="true">
            <div class="address-card" data-address-card="true">
                <p class="name">__name__</p>
                <table class="details-table">
                    <tbody>
                    <tr>
                        <th>{{ "address_txt"|trans }}</th>
                        <td>__address__</td>
                    </tr>
                    <tr>
                        <th>{{ "mobile_txt"|trans }}</th>
                        <td>__mobile__</td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </template>
    </div>
    <div class="wrapper-card-section-2">
        <a href="{{ path('fe_cart_show') }}" class="btn btn-icon-2 btn-plain">
            <span class="icon">
                <svg width="10" height="16" viewBox="0 0 10 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M7.47074 15.1133L9.22656 13.3508L3.52325 7.61328L9.22656 1.87578L7.47074 0.113281L-0.000850975 7.61328L7.47074 15.1133Z"
                          fill="#686868"/>
                </svg>
            </span>
            <span class="text">{{ "return_to_cart_txt"|trans }}</span>
        </a>
    </div>
</div>
