<table class="summary-table">
    <tbody>
    <tr data-cart-summary-subtotal="true">
        <th>{{ "subtotal_txt"|trans }} (<span data-cart-items-count="true">0</span> {{ "items_txt"|trans }})</th>
        <td>
            <span data-cart-summary-subtotal-value="true">0</span>&nbsp;<span
                    data-cart-summary-subtotal-currency="true"></span>
        </td>
    </tr>
    <tr data-cart-summary-discount="true">
        <th>{{ "discount_txt"|trans }}</th>
        <td class="active">
            <span data-cart-summary-discount-value="true">0</span>&nbsp;<span
                    data-cart-summary-discount-currency="true"></span>
        </td>
    </tr>
    <tr data-cart-summary-shipping-fee="true">
        <th>{{ "shipping_fee_txt"|trans }}</th>
        <td class="active">
            <span data-cart-summary-shipping-fee-value="true">0</span>&nbsp;<span
                    data-cart-summary-shipping-fee-currency="true"></span>
        </td>
    </tr>
    <tr data-cart-summary-extra-fees="true">
        <th>{{ "extra_fees_txt"|trans }}</th>
        <td class="active">
            <span data-cart-summary-extra-fees-value="true">0</span>&nbsp;<span
                    data-cart-summary-extra-fees-currency="true"></span></td>
    </tr>
    </tbody>
    <tfoot>
    <tr>
        <th></th>
        <th></th>
    </tr>
    <tr data-cart-summary-grand-total="true">
        <th>{{ "grand_total_txt"|trans }}</th>
        <td class="active">
            <span data-cart-summary-grand-total-value="true">0</span>&nbsp;<span
                    data-cart-summary-grand-total-currency="true"></span>
        </td>
    </tr>
    </tfoot>
</table>