{% extends 'fe/base.html.twig' %}
{% block title %}{{ "shopping_cart_txt"|trans }}{% endblock %}
{% import 'fe/macros.html.twig' as macros %}

{% block stylesheets %}
    {{ parent() }}

    {{ macros.assetCSS(asset('pages-assets/cart/cart.styles.css')) }}
{% endblock %}

{% block content %}
    {% include "fe/_pages_header.html.twig" with {"pageTitle": "shopping_cart_txt"|trans, "marginBottomZero": true } %}
    <div class="u-bg-light">
        <div class="l-container">
            <div class="wrapper-cart-empty" data-cart-empty-wrapper="true">
                <div class="wrapper-cart-empty-card">
                    <div class="wrapper-cart-empty-card-icon">
                        <svg width="102" height="102" viewBox="0 0 102 102" fill="none"
                             xmlns="http://www.w3.org/2000/svg">
                            <path d="M51 95.625C75.6457 95.625 95.625 75.6457 95.625 51C95.625 26.3543 75.6457 6.375 51 6.375C26.3543 6.375 6.375 26.3543 6.375 51C6.375 75.6457 26.3543 95.625 51 95.625Z"
                                  fill="#79BBC3" fill-opacity="0.3" style="fill:var(--primary-color)"/>
                            <path d="M34.2492 64.6097L27.1092 65.7094L18.9492 19.5703H26.2805L34.2492 64.6097Z"
                                  fill="#EBF6EC"/>
                            <path d="M87.5131 19.5703V48.9431C87.5117 50.5659 87.0048 52.148 86.0628 53.4694C85.3684 54.4251 84.4701 55.2145 83.4331 55.7803L80.0384 57.6131L34.25 64.6097L26.2812 19.5703H87.5131Z"
                                  fill="#BBDBDF" fill-opacity="0.6" style="fill: var(--primary-color);"/>
                            <path d="M69.9653 19.125C69.9906 21.6772 69.2569 24.1794 67.8573 26.3138C66.4578 28.4482 64.4555 30.1185 62.1048 31.1128C59.7541 32.107 57.1609 32.3803 54.6546 31.8979C52.1483 31.4155 49.8418 30.1992 48.0281 28.4035C46.2144 26.6077 44.9752 24.3135 44.4679 21.812C43.9606 19.3106 44.208 16.7149 45.1788 14.3544C46.1497 11.9939 47.8 9.97515 49.9204 8.55443C52.0408 7.13371 54.5355 6.37514 57.0878 6.37501C60.4824 6.37068 63.7411 7.70855 66.1534 10.0969C68.5656 12.4853 69.9359 15.7305 69.9653 19.125Z"
                                  fill="#E16565"/>
                            <path d="M65.3454 23.7781C65.3453 25.3822 65.0425 26.9719 64.4529 28.4637C64.2279 29.0915 63.9507 29.6992 63.6242 30.2806C61.1739 31.71 58.3203 32.2903 55.5063 31.9315C52.6924 31.5727 50.0757 30.2947 48.0626 28.2962C46.0495 26.2976 44.7526 23.6902 44.3734 20.879C43.9942 18.0677 44.5538 15.2099 45.9654 12.7494C46.5532 12.3829 47.1718 12.0683 47.8142 11.8091C49.334 11.1993 50.9579 10.8908 52.5954 10.9006C55.9886 10.9342 59.2314 12.3058 61.6189 14.7171C64.0064 17.1285 65.3456 20.3848 65.3454 23.7781Z"
                                  fill="#FFCBCB"/>
                            <path d="M65.3442 23.7781C65.3441 25.3822 65.0413 26.9719 64.4517 28.4637C62.9329 29.077 61.3084 29.3857 59.6705 29.3722C56.2551 29.3722 52.9797 28.0154 50.5647 25.6004C48.1497 23.1854 46.793 19.91 46.793 16.4947C46.8335 14.8823 47.1797 13.2924 47.813 11.8091C49.3328 11.1993 50.9567 10.8908 52.5942 10.9006C55.9874 10.9342 59.2302 12.3058 61.6177 14.7171C64.0052 17.1285 65.3444 20.3848 65.3442 23.7781Z"
                                  fill="#ED9696"/>
                            <path d="M36.4809 95.7197C39.6849 95.7197 42.2822 93.1224 42.2822 89.9184C42.2822 86.7145 39.6849 84.1172 36.4809 84.1172C33.277 84.1172 30.6797 86.7145 30.6797 89.9184C30.6797 93.1224 33.277 95.7197 36.4809 95.7197Z"
                                  fill="black"/>
                            <path d="M81.5044 95.7197C84.7083 95.7197 87.3056 93.1224 87.3056 89.9184C87.3056 86.7145 84.7083 84.1172 81.5044 84.1172C78.3004 84.1172 75.7031 86.7145 75.7031 89.9184C75.7031 93.1224 78.3004 95.7197 81.5044 95.7197Z"
                                  fill="black"/>
                            <path d="M36.4653 95.7041C39.6693 95.7041 42.2666 93.1068 42.2666 89.9028C42.2666 86.6989 39.6693 84.1016 36.4653 84.1016C33.2614 84.1016 30.6641 86.6989 30.6641 89.9028C30.6641 93.1068 33.2614 95.7041 36.4653 95.7041Z"
                                  fill="black"/>
                            <path d="M81.4887 95.7041C84.6927 95.7041 87.29 93.1068 87.29 89.9028C87.29 86.6989 84.6927 84.1016 81.4887 84.1016C78.2848 84.1016 75.6875 86.6989 75.6875 89.9028C75.6875 93.1068 78.2848 95.7041 81.4887 95.7041Z"
                                  fill="black"/>
                            <path d="M38.826 92.693C38.8296 93.6829 38.5711 94.6562 38.0769 95.5139C37.6106 95.6101 37.1341 95.6476 36.6585 95.6255C35.6457 95.6321 34.649 95.3719 33.7686 94.8712C32.8882 94.3705 32.1552 93.6468 31.6432 92.773C31.1311 91.8991 30.8581 90.9059 30.8517 89.8931C30.8452 88.8803 31.1055 87.8836 31.6063 87.0033C32.4605 86.7866 33.353 86.7685 34.2154 86.9503C35.0777 87.1322 35.8869 87.5092 36.5808 88.0523C37.2748 88.5955 37.8351 89.2905 38.2188 90.0839C38.6025 90.8772 38.7993 91.748 38.7941 92.6292L38.826 92.693Z"
                                  fill="#A1CED4"/>
                            <path d="M83.847 92.6937C83.8562 93.6822 83.6033 94.6556 83.1139 95.5146C82.2602 95.7305 81.3684 95.7487 80.5066 95.5677C79.6448 95.3867 78.8356 95.0114 78.1408 94.4704C77.446 93.9293 76.8839 93.2367 76.4974 92.4455C76.1108 91.6543 75.91 90.7852 75.9102 89.9046C75.9105 88.9101 76.1685 87.9327 76.6592 87.0677C77.5134 86.8511 78.4059 86.8329 79.2683 87.0148C80.1306 87.1966 80.9398 87.5736 81.6337 88.1168C82.3277 88.66 82.888 89.3549 83.2717 90.1483C83.6554 90.9417 83.8522 91.8124 83.847 92.6937Z"
                                  fill="#A1CED4"/>
                            <path d="M95.6259 78.0938H27.8597C20.2734 78.0938 20.2734 74.6034 20.2734 73.3125C20.3091 72.737 20.4703 72.1764 20.7456 71.6698C21.0209 71.1632 21.4037 70.723 21.8672 70.38C23.258 69.3386 24.9162 68.714 26.6484 68.5791L27.27 68.4675H27.4134L87.0675 58.9688C89.78 58.5489 92.2517 57.1692 94.0329 55.0809C95.8142 52.9925 96.7867 50.3342 96.7734 47.5894V19.125C96.7734 18.7023 96.6055 18.2969 96.3066 17.998C96.0077 17.6992 95.6024 17.5312 95.1797 17.5312H71.5284C71.0915 14.0351 69.3928 10.8189 66.7514 8.48704C64.1101 6.15523 60.708 4.86839 57.1847 4.86839C53.6613 4.86839 50.2593 6.15523 47.6179 8.48704C44.9766 10.8189 43.2778 14.0351 42.8409 17.5312H19.9228L18.7753 11.1562C18.4712 9.37584 17.5481 7.76 16.1689 6.59369C14.7898 5.42737 13.0431 4.7855 11.2369 4.78125H5.92969C5.507 4.78125 5.10162 4.94916 4.80274 5.24805C4.50385 5.54693 4.33594 5.95231 4.33594 6.375C4.33594 6.79769 4.50385 7.20306 4.80274 7.50195C5.10162 7.80084 5.507 7.96875 5.92969 7.96875H11.2369C12.2827 7.96999 13.2951 8.33722 14.0986 9.00675C14.902 9.67629 15.4458 10.6059 15.6356 11.6344L25.1981 65.5509C23.2257 65.8711 21.3637 66.6761 19.7794 67.8937C18.956 68.5401 18.2871 69.3618 17.8212 70.2992C17.3553 71.2365 17.1041 72.2659 17.0859 73.3125C17.0859 76.2928 18.4884 81.2812 27.8597 81.2812H95.6259C96.0486 81.2812 96.454 81.1133 96.7529 80.8145C97.0518 80.5156 97.2197 80.1102 97.2197 79.6875C97.2197 79.2648 97.0518 78.8594 96.7529 78.5605C96.454 78.2617 96.0486 78.0938 95.6259 78.0938ZM57.1528 7.96875C59.3899 7.96889 61.5765 8.63402 63.4348 9.87962C65.293 11.1252 66.7391 12.8951 67.5893 14.9644C68.4394 17.0336 68.6553 19.3089 68.2095 21.5012C67.7637 23.6934 66.6763 25.7037 65.0854 27.2765C63.4946 28.8494 61.4721 29.9139 59.275 30.3348C57.0778 30.7556 54.8051 30.5139 52.7456 29.6403C50.6861 28.7667 48.9328 27.3006 47.7084 25.4283C46.484 23.556 45.8438 21.362 45.8691 19.125C45.9068 16.1558 47.1117 13.3208 49.2233 11.2331C51.3349 9.14534 54.1834 7.9727 57.1528 7.96875ZM42.8091 20.8463C43.246 24.3424 44.9447 27.5586 47.5861 29.8905C50.2274 32.2223 53.6295 33.5091 57.1528 33.5091C60.6762 33.5091 64.0782 32.2223 66.7196 29.8905C69.3609 27.5586 71.0597 24.3424 71.4966 20.8463H93.5859V47.6372C93.597 49.6234 92.893 51.5474 91.6025 53.0573C90.312 54.5673 88.5212 55.5625 86.5575 55.8609L28.4175 65.1047L20.4966 20.7188L42.8091 20.8463Z"
                                  fill="#616161"/>
                            <path d="M36.5278 82.5078C35.0645 82.5078 33.6342 82.9419 32.4177 83.7552C31.2013 84.5685 30.2534 85.7244 29.6942 87.0766C29.135 88.4287 28.9894 89.9165 29.2761 91.3514C29.5627 92.7863 30.2686 94.1039 31.3044 95.1375C32.3402 96.1711 33.6594 96.8741 35.0949 97.1577C36.5304 97.4412 38.0178 97.2925 39.3688 96.7303C40.7198 96.1682 41.8736 95.2178 42.6843 93.9996C43.4949 92.7815 43.926 91.3501 43.9228 89.8869C43.9186 87.9284 43.1376 86.0515 41.7512 84.6681C40.3649 83.2847 38.4863 82.5078 36.5278 82.5078ZM36.5278 94.0944C35.6956 94.0944 34.8822 93.8476 34.1902 93.3853C33.4983 92.923 32.959 92.2658 32.6406 91.497C32.3221 90.7282 32.2388 89.8822 32.4011 89.066C32.5635 88.2499 32.9642 87.5002 33.5526 86.9117C34.1411 86.3233 34.8908 85.9226 35.707 85.7602C36.5231 85.5979 37.3691 85.6812 38.1379 85.9996C38.9068 86.3181 39.5639 86.8574 40.0262 87.5493C40.4885 88.2412 40.7353 89.0547 40.7353 89.8869C40.7186 90.9917 40.2679 92.0456 39.4806 92.8209C38.6934 93.5962 37.6327 94.0308 36.5278 94.0306V94.0944Z"
                                  fill="#616161"/>
                            <path d="M81.5512 82.5078C80.088 82.5078 78.6576 82.9419 77.4411 83.7552C76.2247 84.5685 75.2769 85.7244 74.7176 87.0766C74.1584 88.4287 74.0129 89.9165 74.2995 91.3514C74.5861 92.7863 75.292 94.1039 76.3278 95.1375C77.3637 96.1711 78.6828 96.8741 80.1183 97.1577C81.5539 97.4412 83.0413 97.2925 84.3922 96.7303C85.7432 96.1682 86.8971 95.2178 87.7077 93.9996C88.5184 92.7815 88.9494 91.3501 88.9462 89.8869C88.942 87.9284 88.161 86.0515 86.7747 84.6681C85.3883 83.2847 83.5098 82.5078 81.5512 82.5078ZM81.5512 94.0944C80.7191 94.0944 79.9056 93.8476 79.2137 93.3853C78.5218 92.923 77.9825 92.2658 77.664 91.497C77.3456 90.7282 77.2622 89.8822 77.4246 89.066C77.5869 88.2499 77.9877 87.5002 78.5761 86.9117C79.1645 86.3233 79.9142 85.9226 80.7304 85.7602C81.5466 85.5979 82.3926 85.6812 83.1614 85.9996C83.9302 86.3181 84.5873 86.8574 85.0496 87.5493C85.512 88.2412 85.7587 89.0547 85.7587 89.8869C85.742 90.9917 85.2913 92.0456 84.5041 92.8209C83.7168 93.5962 82.6562 94.0308 81.5512 94.0306V94.0944Z"
                                  fill="#616161"/>
                            <path d="M50.9062 25.325C51.2048 25.6218 51.6088 25.7884 52.0298 25.7884C52.4509 25.7884 52.8548 25.6218 53.1534 25.325L57.0422 21.4362L60.9309 25.325C61.0785 25.4755 61.2545 25.5954 61.4488 25.6774C61.643 25.7595 61.8516 25.8022 62.0625 25.8031C62.379 25.8049 62.689 25.7125 62.9528 25.5375C63.2165 25.3625 63.4223 25.1129 63.5436 24.8205C63.665 24.5281 63.6966 24.2063 63.6343 23.8959C63.5721 23.5855 63.4188 23.3007 63.194 23.0778L59.3053 19.1253L63.194 15.3003C63.3416 15.1517 63.4584 14.9755 63.5379 14.7817C63.6173 14.588 63.6578 14.3805 63.6571 14.171C63.6564 13.9616 63.6144 13.7544 63.5336 13.5612C63.4527 13.368 63.3347 13.1927 63.1861 13.0451C63.0375 12.8976 62.8613 12.7807 62.6675 12.7013C62.4737 12.6218 62.2662 12.5813 62.0568 12.582C61.8474 12.5828 61.6402 12.6248 61.447 12.7056C61.2538 12.7864 61.0785 12.9045 60.9309 13.0531L57.0422 16.9418L53.1534 13.0531C52.8548 12.7562 52.4509 12.5896 52.0298 12.5896C51.6088 12.5896 51.2048 12.7562 50.9062 13.0531C50.6094 13.3517 50.4428 13.7556 50.4428 14.1767C50.4428 14.5977 50.6094 15.0017 50.9062 15.3003L54.795 19.1253L50.9062 23.014C50.7495 23.1629 50.6247 23.3421 50.5394 23.5408C50.4541 23.7394 50.4102 23.9533 50.4102 24.1695C50.4102 24.3857 50.4541 24.5996 50.5394 24.7982C50.6247 24.9969 50.7495 25.1761 50.9062 25.325Z"
                                  fill="#616161"/>
                        </svg>
                    </div>
                    <h1 class="wrapper-cart-empty-card-title">
                        {{ "cart_empty_msg"|trans }}
                    </h1>
                    <p class="wrapper-cart-empty-card-subtitle">
                        <a href="{{ path('fe_home') }}">
                            {{ "continue_shopping_txt"|trans }}
                        </a>
                    </p>
                </div>
            </div>

            <div class="wrapper-cart" data-cart-wrapper="true" style="display: none">
                {% include "eCommerce/frontEnd/cart/_progress_bar.html.twig" with {step: 1} %}
                <form action="{{ path('fe_cart_shipping_address') }}" method="post" data-form-validate="true">
                    <div class="l-flex-row">
                        <div class="l-flex-col-xl-12">
                            <div class="l-flex-col-xl-8">
                                <div class="wrapper-cart-title">
                                    <h3>{{ "cart_txt"|trans }}
                                        <small>
                                            (<span data-cart-items-count="true">0</span> {{ "items_txt"|trans }})
                                        </small>
                                    </h3>
                                    {% if is_granted('ROLE_USER') %}
                                        <a class="btn btn-outline-primary"
                                           href="{{ path('fe_profile_wishlist') }}">{{ "go_to_wishlist_txt"|trans }}</a>
                                    {% endif %}
                                </div>
                            </div>
                            <div class="l-flex-col-xl-4"></div>
                        </div>
                        <div class="l-flex-col-xl-8">
                            <div class="wrapper-cart-items">
                                <div class="wrapper-cart-items-list" data-cart-items-list="true">
                                </div>
                                <template data-cart-items-template="true">
                                    <div class="wrapper-cart-item-container" data-cart-item="true">
                                        <div class="wrapper-cart-item-message" data-cart-item-message="true"
                                             style="display: none;">
                                            <div>
                                                <svg width="25" height="22" viewBox="0 0 25 22" fill="none"
                                                     xmlns="http://www.w3.org/2000/svg">
                                                    <path d="M10.7506 1.01292L1.08302 18.0699C0.908392 18.378 0.816439 18.7274 0.816406 19.0831C0.816374 19.4388 0.908264 19.7883 1.08284 20.0963C1.25741 20.4044 1.50852 20.6602 1.81091 20.838C2.11331 21.0159 2.45633 21.1095 2.8055 21.1095H22.1391C22.4882 21.1095 22.8312 21.0159 23.1336 20.838C23.436 20.6602 23.6871 20.4044 23.8617 20.0963C24.0363 19.7883 24.1282 19.4388 24.1281 19.0831C24.1281 18.7274 24.0362 18.378 23.8615 18.0699L14.195 1.01292C14.0205 0.70495 13.7694 0.449213 13.4671 0.271409C13.1648 0.0936057 12.8219 0 12.4728 0C12.1237 0 11.7808 0.0936057 11.4785 0.271409C11.1762 0.449213 10.9251 0.70495 10.7506 1.01292Z"
                                                          fill="#EE404C"/>
                                                    <path d="M12.601 6.27344H12.3488C11.7279 6.27344 11.2246 6.78618 11.2246 7.41868V12.8927C11.2246 13.5252 11.7279 14.038 12.3488 14.038H12.601C13.2219 14.038 13.7252 13.5252 13.7252 12.8927V7.41868C13.7252 6.78618 13.2219 6.27344 12.601 6.27344Z"
                                                          fill="#FFF7ED"/>
                                                    <path d="M12.4749 18.3794C13.1654 18.3794 13.7252 17.8092 13.7252 17.1057C13.7252 16.4023 13.1654 15.832 12.4749 15.832C11.7844 15.832 11.2246 16.4023 11.2246 17.1057C11.2246 17.8092 11.7844 18.3794 12.4749 18.3794Z"
                                                          fill="#FFF7ED"/>
                                                </svg>
                                                <span data-cart-item-max-stock-message="true" style="display: none;">
                                                    <strong data-cart-item-qty-stock="true"></strong> {{ "of_these_items_is_available_txt"|trans }}
                                                </span>
                                                <span data-cart-item-out-of-stock-message="true"
                                                      style="display: none;">{{ "this_item_is_out_of_stock_txt"|trans }}</span>
                                            </div>
                                            <div>
                                                <button data-cart-item-wish-list="true"
                                                        data-cart-item-out-of-stock-wish-list="true"
                                                        style="display: none;"
                                                        type="button">{{ "add_to_wishlist_txt"|trans }}
                                                </button>
                                                <button style="display: none;"
                                                        data-cart-item-max-stock-change-qty="true"
                                                        type="button">{{ "change_the_quantity_txt"|trans }}
                                                </button>
                                                {{ "or_txt"|trans }}
                                                <button data-cart-item-remove="true"
                                                        type="button">{{ "remove_txt"|trans }}</button>
                                                {{ "to_proceed_to_checkout_txt"|trans }}
                                            </div>
                                        </div>
                                        <div class="wrapper-cart-item">
                                            <div class="wrapper-cart-item-img">
                                                <a href="#" data-cart-item-url="true">
                                                    <img src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw=="
                                                         data-cart-item-img="true"/>
                                                </a>
                                            </div>
                                            <div class="wrapper-cart-item-body">
                                                <div class="wrapper-cart-item-details">
                                                    <a href="#" data-cart-item-url="true">
                                                        <h5 class="wrapper-cart-item-name" data-cart-item-name="true">
                                                        </h5>
                                                    </a>
                                                    <div class="wrapper-cart-item-variants"
                                                         data-cart-item-variants="true">
                                                    </div>
                                                    <div class="wrapper-cart-item-actions">
                                                        <button class="btn" type="button" data-cart-item-remove="true">
                                                            <svg width="13" height="15" viewBox="0 0 13 15" fill="none"
                                                                 xmlns="http://www.w3.org/2000/svg">
                                                                <path d="M0.958377 13.5938C0.958377 13.9667 1.10243 14.3244 1.35884 14.5881C1.61525 14.8518 1.96301 15 2.32563 15H10.5291C10.8918 15 11.2395 14.8518 11.4959 14.5881C11.7524 14.3244 11.8964 13.9667 11.8964 13.5938V3.75H0.958377V13.5938ZM8.70614 6.09375C8.70614 5.96943 8.75416 5.8502 8.83963 5.7623C8.9251 5.67439 9.04102 5.625 9.1619 5.625C9.28277 5.625 9.39869 5.67439 9.48416 5.7623C9.56963 5.8502 9.61765 5.96943 9.61765 6.09375V12.6563C9.61765 12.7806 9.56963 12.8998 9.48416 12.9877C9.39869 13.0756 9.28277 13.125 9.1619 13.125C9.04102 13.125 8.9251 13.0756 8.83963 12.9877C8.75416 12.8998 8.70614 12.7806 8.70614 12.6563V6.09375ZM5.97164 6.09375C5.97164 5.96943 6.01965 5.8502 6.10512 5.7623C6.19059 5.67439 6.30652 5.625 6.42739 5.625C6.54826 5.625 6.66418 5.67439 6.74965 5.7623C6.83512 5.8502 6.88314 5.96943 6.88314 6.09375V12.6563C6.88314 12.7806 6.83512 12.8998 6.74965 12.9877C6.66418 13.0756 6.54826 13.125 6.42739 13.125C6.30652 13.125 6.19059 13.0756 6.10512 12.9877C6.01965 12.8998 5.97164 12.7806 5.97164 12.6563V6.09375ZM3.23713 6.09375C3.23713 5.96943 3.28515 5.8502 3.37062 5.7623C3.45609 5.67439 3.57201 5.625 3.69288 5.625C3.81376 5.625 3.92968 5.67439 4.01515 5.7623C4.10062 5.8502 4.14863 5.96943 4.14863 6.09375V12.6563C4.14863 12.7806 4.10062 12.8998 4.01515 12.9877C3.92968 13.0756 3.81376 13.125 3.69288 13.125C3.57201 13.125 3.45609 13.0756 3.37062 12.9877C3.28515 12.8998 3.23713 12.7806 3.23713 12.6563V6.09375ZM12.3522 0.937505H8.93402L8.66627 0.389653C8.60955 0.272529 8.52218 0.174006 8.41399 0.105169C8.30579 0.0363316 8.18107 -8.87099e-05 8.05385 5.13654e-06H4.79808C4.67115 -0.000496734 4.54664 0.0357877 4.43884 0.104701C4.33103 0.173615 4.24427 0.272371 4.18851 0.389653L3.92076 0.937505H0.502626C0.381753 0.937505 0.265831 0.986891 0.180361 1.0748C0.0948915 1.16271 0.046875 1.28193 0.046875 1.40625L0.046875 2.34375C0.046875 2.46807 0.0948915 2.5873 0.180361 2.67521C0.265831 2.76312 0.381753 2.8125 0.502626 2.8125H12.3522C12.473 2.8125 12.5889 2.76312 12.6744 2.67521C12.7599 2.5873 12.8079 2.46807 12.8079 2.34375V1.40625C12.8079 1.28193 12.7599 1.16271 12.6744 1.0748C12.5889 0.986891 12.473 0.937505 12.3522 0.937505Z"
                                                                      fill="#686868"/>
                                                            </svg>
                                                            <span>
                                                        {{ "remove_txt"|trans }}
                                                    </span>
                                                        </button>
                                                        <button class="btn primary" type="button"
                                                                data-cart-item-wish-list="true">
                                                            <svg width="21" height="18" viewBox="0 0 21 18" fill="none"
                                                                 xmlns="http://www.w3.org/2000/svg">
                                                                <path d="M10.5 17C10.2295 17 9.96874 16.9072 9.76549 16.7387C8.99792 16.1035 8.25793 15.5065 7.60502 14.9799L7.60168 14.9772C5.68751 13.4332 4.03454 12.0998 2.88445 10.7863C1.59883 9.31795 1 7.92567 1 6.40472C1 4.92701 1.53534 3.5637 2.50727 2.5658C3.49082 1.5561 4.84038 1 6.30779 1C7.40456 1 8.40896 1.32821 9.29309 1.97542C9.73926 2.30208 10.1437 2.70191 10.5 3.16827C10.8564 2.70191 11.2607 2.30208 11.7071 1.97542C12.5912 1.32821 13.5956 1 14.6924 1C16.1596 1 17.5093 1.5561 18.4929 2.5658C19.4648 3.5637 20 4.92701 20 6.40472C20 7.92563 19.4013 9.31792 18.1157 10.7861C16.9656 12.0998 15.3128 13.433 13.3989 14.9769C12.7448 15.5043 12.0037 16.1022 11.2344 16.739C11.031 16.9073 10.7701 17.0001 10.5 17ZM6.30779 2.05347C5.15495 2.05347 4.09589 2.48898 3.32542 3.27982C2.54353 4.08264 2.11284 5.19238 2.11284 6.40472C2.11284 7.6839 2.61511 8.82792 3.74131 10.1141C4.8298 11.3573 6.44884 12.6633 8.32346 14.1755L8.32691 14.1782C8.98226 14.7068 9.72519 15.3062 10.4984 15.9461C11.2763 15.3049 12.0203 14.7047 12.677 14.1752C14.5515 12.663 16.1703 11.3573 17.2588 10.1141C18.3849 8.82792 18.8872 7.6839 18.8872 6.40472C18.8872 5.19234 18.4565 4.08261 17.6746 3.27982C16.9043 2.48898 15.8451 2.05347 14.6924 2.05347C13.8478 2.05347 13.0724 2.3076 12.3878 2.80866C11.7777 3.25541 11.3527 3.82015 11.1034 4.21531C10.9753 4.41851 10.7498 4.53979 10.5 4.53979C10.2502 4.53979 10.0247 4.41851 9.89653 4.21531C9.64752 3.82015 9.22247 3.25541 8.61217 2.80866C7.92758 2.3076 7.15218 2.05347 6.30779 2.05347Z"
                                                                      fill="#79BBC3" stroke="#79BBC3"
                                                                      stroke-width="0.4"/>
                                                            </svg>
                                                            <span>
                                                        {{ "add_to_wishlist_txt"|trans }}
                                                    </span>
                                                        </button>
                                                    </div>
                                                </div>
                                                <div class="wrapper-cart-item-meta">
                                                    <p>
                                                        <span data-cart-item-currency="true"></span>
                                                        <strong>
                                                            <span data-cart-item-price="true"></span>
                                                        </strong>
                                                    </p>
                                                    <div class="wrapper-cart-item-qty">
                                                        <div class="l-form-input-group wrapper-cart-item-qty-input-group">
                                                            <button class="ui-form-input-group-item l-form-input-group-text disabled"
                                                                    type="button" data-cart-item-qty-minus="true">
                                                                <svg width="18" height="3" viewBox="0 0 18 3"
                                                                     fill="none" xmlns="http://www.w3.org/2000/svg">
                                                                    <path fill-rule="evenodd" clip-rule="evenodd"
                                                                          d="M17.8416 1.82609C17.8416 1.17773 17.358 0.652174 16.7613 0.652174H1.63695C1.04032 0.652174 0.556641 1.17773 0.556641 1.82609C0.556641 2.47444 1.04032 3 1.63695 3H16.7613C17.358 3 17.8416 2.47444 17.8416 1.82609Z"
                                                                          fill="#686868"/>
                                                                </svg>
                                                            </button>
                                                            <input class="l-form-input ui-form-input ui-form-input-group-item disabled"
                                                                   type="text" value="1" data-cart-item-qty="true">
                                                            <button class="ui-form-input-group-item l-form-input-group-text disabled"
                                                                    type="button" data-cart-item-qty-plus="true">
                                                                <svg width="15" height="15" viewBox="0 0 15 15"
                                                                     fill="none" xmlns="http://www.w3.org/2000/svg">
                                                                    <path d="M13.5777 6.56892H9.37995C9.24358 6.56892 9.13302 6.45628 9.13302 6.31736V2.04097C9.13302 1.34637 8.5802 0.783203 7.89838 0.783203C7.21655 0.783203 6.66373 1.34637 6.66373 2.04097V6.31736C6.66373 6.45628 6.55317 6.56892 6.41681 6.56892H2.21902C1.53719 6.56892 0.984375 7.13209 0.984375 7.82668C0.984375 8.52128 1.53719 9.08444 2.21902 9.08444H6.41681C6.55317 9.08444 6.66373 9.19708 6.66373 9.336V13.6124C6.66373 14.307 7.21655 14.8702 7.89838 14.8702C8.5802 14.8702 9.13302 14.307 9.13302 13.6124V9.336C9.13302 9.19708 9.24358 9.08444 9.37995 9.08444H13.5777C14.2596 9.08444 14.8124 8.52128 14.8124 7.82668C14.8124 7.13209 14.2596 6.56892 13.5777 6.56892Z"
                                                                          fill="#686868"/>
                                                                </svg>
                                                            </button>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </template>
                            </div>
                        </div>
                        <div class="l-flex-col-xl-4">
                            <div class="wrapper-cart-summary">
                                <div class="cart-summary">
                                    <h6 class="title">{{ "order_summary_txt"|trans }}</h6>
                                    <div class="form-input-box wrapper-coupon-input-group" data-form-input="true"
                                         data-cart-coupon-wrapper="true">
                                        <label class="form-input form-input-block">
                                            <input type="text" class="input" name="coupon"
                                                   placeholder="{{ "coupon_code_txt"|trans }}"
                                                   data-cart-coupon-input="true"/>
                                            <button type="button" class="action btn-primary"
                                                    data-cart-coupon-btn="true">
                                                <span class="apply">{{ "apply_txt"|trans }}</span>
                                                <span class="remove">{{ "remove_txt"|trans }}</span>
                                            </button>
                                        </label>
                                        <p class="wrapper-coupon-input-msg" data-cart-coupon-msg="true"></p>
                                        <ul class="form-input-errors" data-validate-input-errors="coupon"></ul>
                                        <ul class="form-input-success" data-validate-input-success="coupon"></ul>
                                    </div>
                                    {% include "eCommerce/frontEnd/cart/_side_menu_summery.html.twig" %}
                                </div>
                            </div>
                            <div class="wrapper-cart-cta">
                                <div class="wrapper-cart-cta-xs-only">
                                    {{ "total_txt"|trans }}
                                    ( <span data-cart-items-count="true">0</span> {{ "items_txt"|trans }} ) :
                                    <strong>
                                        <span data-cart-summary-grand-total-value="true">0</span>
                                        <span data-cart-summary-grand-total-currency="true"></span>
                                    </strong>
                                </div>
                                <div class="wrapper-cart-error" data-cart-out-of-stock-error="true" hidden>
                                    {{ "remove_out_of_stock_or_add_wishlist_txt"|trans }}
                                </div>
                                <div class="wrapper-cart-error" data-cart-max-stock-error="true" hidden>
                                    {{ "remove_out_of_stock_or_change_qty_txt"|trans }}
                                </div>
                                <button type="submit"
                                        class="btn btn-icon btn-primary btn-block btn-xxl wrapper-cart-submit-btn"
                                        disabled data-cart-submit-btn="true">
                                    <span class="text">{{ "proceed_to_checkout_txt"|trans }}</span>
                                    <span class="icon">
                                        <svg width="26" height="22" viewBox="0 0 26 22" fill="none"
                                             xmlns="http://www.w3.org/2000/svg">
                                            <path d="M25.1253 9.7522L16.2226 0.579388C15.9684 0.31755 15.6297 0.173828 15.2685 0.173828C14.907 0.173828 14.5685 0.317757 14.3143 0.579388L13.506 1.4124C13.2521 1.67382 13.1122 2.02301 13.1122 2.39532C13.1122 2.76743 13.2521 3.12839 13.506 3.38981L18.6998 8.75275H2.199C1.45503 8.75275 0.867188 9.35283 0.867188 10.1196V11.2972C0.867188 12.0639 1.45503 12.7245 2.199 12.7245H18.7587L13.5062 18.1174C13.2523 18.3792 13.1124 18.7189 13.1124 19.0912C13.1124 19.4631 13.2523 19.8078 13.5062 20.0694L14.3145 20.8997C14.5687 21.1616 14.9072 21.3043 15.2687 21.3043C15.6299 21.3043 15.9686 21.1597 16.2228 20.8979L25.1255 11.7253C25.3803 11.4626 25.5204 11.112 25.5194 10.7393C25.5202 10.3653 25.3803 10.0144 25.1253 9.7522Z"
                                                  fill="white"/>
                                        </svg>
                                    </span>
                                </button>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>


{% endblock %}
{% block modals %}
 <!-- Cart Wishlist Modal -->
 <div class="l-modal-dialog ui-modal-dialog" data-cart-wishlist-modal="true" data-l-modal="cart-wishlist">
     <div class="ui-modal l-modal l-cart-delete-modal ui-cart-delete-modal wrapper-cart-modal">
         <button class="ui-cart-delete-modal-close-btn l-cart-delete-modal-close-btn wrapper-cart-modal-close-btn"
                 type="button" data-l-modal-btn="cart-wishlist">
             <svg width="23" height="22" viewBox="0 0 23 22" fill="none" xmlns="http://www.w3.org/2000/svg">
                 <path d="M2.10952 21.9886C1.56387 22.0203 1.02723 21.8389 0.612786 21.4826C-0.204587 20.6604 -0.204587 19.3324 0.612786 18.5102L18.5106 0.612312C19.3607 -0.183194 20.6947 -0.138972 21.4902 0.711168C22.2096 1.47995 22.2515 2.66158 21.5884 3.47937L3.58515 21.4826C3.17605 21.8337 2.64803 22.0148 2.10952 21.9886Z"
                       fill="#646464"/>
                 <path d="M19.9867 21.9886C19.4337 21.9863 18.9036 21.7667 18.511 21.3773L0.613106 3.47936C-0.144148 2.59506 -0.0411955 1.26424 0.8431 0.506919C1.63236 -0.168973 2.79635 -0.168973 3.58554 0.506919L21.5888 18.4048C22.4387 19.2005 22.4827 20.5346 21.6869 21.3845C21.6553 21.4183 21.6226 21.451 21.5888 21.4827C21.148 21.866 20.5678 22.0492 19.9867 21.9886Z"
                       fill="#646464"/>
             </svg>
         </button>
         <div class="ui-cart-delete-modal-body l-cart-delete-modal-body">
             <div class="wrapper-cart-modal-content">
                 <div class="wrapper-cart-modal-icon wrapper-cart-modal-icon--primary">
                     <svg width="73" height="57" viewBox="0 0 73 57" fill="none" xmlns="http://www.w3.org/2000/svg">
                         <path d="M24.9849 56.384L0.948734 28.3936L11.1642 19.6231L25.9243 36.8111L63.269 0.933635L72.5993 10.642L24.9849 56.384Z"
                               fill="#79BBC3"/>
                     </svg>
                 </div>
                 <div class="wrapper-cart-modal-body">
                     {{ "item_added_to_wishlist_msg"|trans }}
                 </div>
             </div>
             <button type="button"
                     class="wrapper-cart-modal-action ui-cart-delete-modal-action ui-cart-delete-modal-action--save l-cart-delete-modal-action"
                     data-l-modal-btn="cart-wishlist">
                     {{ "back_to_cart_txt"|trans }}
             </button>
         </div>
     </div>
 </div>


 <!-- Cart Remove Modal -->
 <div class="l-modal-dialog ui-modal-dialog" data-cart-remove-modal="true" data-l-modal="cart-remove">
     <div class="ui-modal l-modal l-cart-delete-modal ui-cart-delete-modal wrapper-cart-modal">
         <button class="ui-cart-delete-modal-close-btn l-cart-delete-modal-close-btn wrapper-cart-modal-close-btn"
                 type="button" data-l-modal-btn="cart-remove">
             <svg width="23" height="22" viewBox="0 0 23 22" fill="none" xmlns="http://www.w3.org/2000/svg">
                 <path d="M2.10952 21.9886C1.56387 22.0203 1.02723 21.8389 0.612786 21.4826C-0.204587 20.6604 -0.204587 19.3324 0.612786 18.5102L18.5106 0.612312C19.3607 -0.183194 20.6947 -0.138972 21.4902 0.711168C22.2096 1.47995 22.2515 2.66158 21.5884 3.47937L3.58515 21.4826C3.17605 21.8337 2.64803 22.0148 2.10952 21.9886Z"
                       fill="#646464"/>
                 <path d="M19.9867 21.9886C19.4337 21.9863 18.9036 21.7667 18.511 21.3773L0.613106 3.47936C-0.144148 2.59506 -0.0411955 1.26424 0.8431 0.506919C1.63236 -0.168973 2.79635 -0.168973 3.58554 0.506919L21.5888 18.4048C22.4387 19.2005 22.4827 20.5346 21.6869 21.3845C21.6553 21.4183 21.6226 21.451 21.5888 21.4827C21.148 21.866 20.5678 22.0492 19.9867 21.9886Z"
                       fill="#646464"/>
             </svg>
         </button>
         <div class="ui-cart-delete-modal-body l-cart-delete-modal-body">
             <div class="wrapper-cart-modal-content">
                 <div class="wrapper-cart-modal-icon">
                     <svg width="101" height="119" viewBox="0 0 101 119" fill="none"
                          xmlns="http://www.w3.org/2000/svg">
                         <path d="M7.21429 107.844C7.21429 110.803 8.3544 113.64 10.3838 115.732C12.4132 117.825 15.1657 119 18.0357 119H82.9643C85.8343 119 88.5868 117.825 90.6162 115.732C92.6456 113.64 93.7857 110.803 93.7857 107.844V29.75H7.21429V107.844ZM68.5357 48.3438C68.5357 47.3575 68.9157 46.4116 69.5922 45.7142C70.2687 45.0168 71.1862 44.625 72.1429 44.625C73.0995 44.625 74.017 45.0168 74.6935 45.7142C75.37 46.4116 75.75 47.3575 75.75 48.3438V100.406C75.75 101.393 75.37 102.338 74.6935 103.036C74.017 103.733 73.0995 104.125 72.1429 104.125C71.1862 104.125 70.2687 103.733 69.5922 103.036C68.9157 102.338 68.5357 101.393 68.5357 100.406V48.3438ZM46.8929 48.3438C46.8929 47.3575 47.2729 46.4116 47.9494 45.7142C48.6258 45.0168 49.5433 44.625 50.5 44.625C51.4567 44.625 52.3742 45.0168 53.0506 45.7142C53.7271 46.4116 54.1071 47.3575 54.1071 48.3438V100.406C54.1071 101.393 53.7271 102.338 53.0506 103.036C52.3742 103.733 51.4567 104.125 50.5 104.125C49.5433 104.125 48.6258 103.733 47.9494 103.036C47.2729 102.338 46.8929 101.393 46.8929 100.406V48.3438ZM25.25 48.3438C25.25 47.3575 25.63 46.4116 26.3065 45.7142C26.983 45.0168 27.9005 44.625 28.8571 44.625C29.8138 44.625 30.7313 45.0168 31.4078 45.7142C32.0842 46.4116 32.4643 47.3575 32.4643 48.3438V100.406C32.4643 101.393 32.0842 102.338 31.4078 103.036C30.7313 103.733 29.8138 104.125 28.8571 104.125C27.9005 104.125 26.983 103.733 26.3065 103.036C25.63 102.338 25.25 101.393 25.25 100.406V48.3438ZM97.3929 7.43754H70.3393L68.2201 3.09125C67.7712 2.16206 67.0797 1.38045 66.2234 0.834338C65.367 0.28823 64.3799 -0.000703765 63.373 4.07499e-05H37.6045C36.5998 -0.00394076 35.6144 0.283916 34.7611 0.830632C33.9079 1.37735 33.2212 2.16081 32.7799 3.09125L30.6607 7.43754H3.60714C2.65047 7.43754 1.73298 7.82933 1.05651 8.52673C0.380037 9.22413 0 10.17 0 11.1563L0 18.5938C0 19.5801 0.380037 20.5259 1.05651 21.2233C1.73298 21.9207 2.65047 22.3125 3.60714 22.3125H97.3929C98.3495 22.3125 99.267 21.9207 99.9435 21.2233C100.62 20.5259 101 19.5801 101 18.5938V11.1563C101 10.17 100.62 9.22413 99.9435 8.52673C99.267 7.82933 98.3495 7.43754 97.3929 7.43754Z"
                               fill="#686868"/>
                     </svg>
                 </div>
                 <div class="wrapper-cart-modal-body">
                     {{ "item_was_removed_from_cart_msg"|trans }}
                 </div>
             </div>
             <button type="button"
                     class="wrapper-cart-modal-action ui-cart-delete-modal-action ui-cart-delete-modal-action--save l-cart-delete-modal-action"
                     data-l-modal-btn="cart-remove">
                 {{ "back_to_cart_txt"|trans }}
             </button>
             <div style="height: 5px;"></div>
             <button type="button"
                     class="wrapper-cart-modal-action wrapper-cart-modal-action-link ui-cart-delete-modal-action l-cart-delete-modal-action"
                     data-l-modal-btn="cart-remove" data-header-cart-sidebar-add-product-btn="true"
                     data-cart-undo-remove="true">
                 {{ "undo_txt"|trans }}
             </button>
         </div>
     </div>
 </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('bundles/ecommerce/gtm.enhancedEcommerce.checkout.js') }}"></script>
    <script>
        window.addEventListener('DOMContentLoaded', function (event) {
            enhancedEcommerceTrackCheckoutOption(1, "Cart");
        });
    </script>

    {{ macros.assetCSS(asset('pages-assets/cart/cart.lazy.styles.css'), true) }}

    {{ macros.assetJS(asset('pages-assets/cart/cart.js')) }}
    {{ macros.assetJS(asset('pages-assets/cart/cart.lazy.js'), true) }}
{% endblock %}