{% import 'adminTemplate/macros.html.twig' as macros %}

<div class="panel panel-flat">
    <div class="panel-body">
        <div class="row">
            {{ macros.input(form.title, 4) }}
            <div class="col-md-4">
                <div class="form-group">
                    {{ form_label(form.fees) }}
                    <div class="input-group">
                        {{ form_widget(form.fees) }}
                        <span class="input-group-addon">EGP</span>
                    </div>
                    {{ form_errors(form.fees) }}
                </div>
            </div>
            <div class="col-md-4">
                <div class="form-group">
                    <label>Image:</label>
                    <div class="media no-margin-top">
                        {% if paymentMethod.image %}
                            <div class="media-left">
                                <div class="thumb" style="width: 58px; height: 58px;">
                                    <a href="{{ asset(paymentMethod.image.assetPath) }}" data-popup="lightbox">
                                        <img src="{{ asset(paymentMethod.image.assetPath) }}"
                                             style="width: 58px; height: 58px; border-radius: 2px;" alt="">
                                        <span class="zoom-image"><i class="icon-plus2"></i></span>
                                    </a>
                                </div>
                            </div>
                        {% endif %}
                        <div class="media-body">
                            {{ form_widget(form.image.file,{'attr':{'class':'file-styled'}}) }}
                        </div>
                    </div>
                    <span class="help-block">{% include '@PNMedia/imageDimension.html.twig' with {"type":103} %}</span>
                    <span class="help-block">Accepted formats: gif, png, jpg. Max file size 2MB</span>
                    <span class="help-block">Images more than 2MB is not recommended as it will slow down the page speed, performance and so the search engine results ex: Google search</span>
                </div>
            </div>
        </div>
        <div class="row">
            {{ macros.input(form.note, 4) }}
        </div>
    </div>
    <div class="panel-footer">
        {% include 'adminTemplate/saveAndResetFormFooter.html.twig' %}
    </div>
</div>