{% extends 'adminTemplate/base.html.twig' %}
{% import 'adminTemplate/macros.html.twig' as macros %}
{% set page_title %}Shipping Price '{{ shippingZonePrice.sourceShippingZone.title }}' to '{{ shippingZonePrice.targetShippingZone.title }}'{% endset %}

{% block breadcrumb %}
    <div class="breadcrumb-line">
        <ul class="breadcrumb">
            <li><a href="{{ path('dashboard') }}"><i class="icon-home2 position-left"></i>Dashboard</a></li>
            <li>Shipping Prices</li>
            <li><a href="{{ path('shipping_zone_price_shipping_times_index') }}">Shipping times</a></li>
            <li>
                <a href="{{ path('shipping_zone_price_index', {"shippingTime":shippingTime.id}) }}">Shipping Prices for "{{ shippingTime.name }}"</a>
            </li>
            <li class="active">{{ page_title }}</li>
        </ul>
    </div>
{% endblock %}
{% block body %}
    <div class="row">
        <div class="col-md-9">
            <div class="panel panel-flat">
                <div class="panel-body">
                    <div class="tabbable">
                        <ul class="nav nav-tabs nav-tabs-highlight nav-justified">
                            <li {{ defaultTab == 'edit-tab' ? 'class="active"' }}><a href="#edit-tab" data-toggle="tab">Edit</a>
                            </li>
                            <li {{ defaultTab == "price-tab" ? 'class="active"' }}>
                                <a href="#price-tab" data-toggle="tab">Prices</a></li>
                        </ul>

                        <div class="tab-content">
                            <div class="tab-pane {{ defaultTab == 'edit-tab' ? 'active' }}" id="edit-tab">
                                {% include ("newShipping/admin/shippingZonePrice/_form.html.twig") %}
                            </div>

                            <div class="tab-pane {{ defaultTab == 'price-tab' ? 'active' }}" id="price-tab">
                                {% if shippingZonePrice.calculator == constant('\\App\\NewShippingBundle\\Entity\\ShippingZonePrice::CALCULATOR_FIRST_KG_EXTRA_KG') %}
                                    {% include "newShipping/admin/shippingZonePrice/_form_price_first_extra_kg.html.twig" %}
                                {% elseif shippingZonePrice.calculator == constant('\\App\\NewShippingBundle\\Entity\\ShippingZonePrice::CALCULATOR_WEIGHT_RATE') %}
                                    {% include "newShipping/admin/shippingZonePrice/_form_price_specific_weight.html.twig" %}
                                {% endif %}
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="panel panel-flat">
                <div class="panel-body">
                    <div class="row">
                        <div class="col-xs-6">Creator</div>
                        <div class="col-xs-6">{% if shippingZonePrice.creator %}{{ shippingZonePrice.creator }}{% else %}--{% endif %}</div>
                    </div>
                    <div class="row mt-10">
                        <div class="col-xs-6">Created date</div>
                        <div class="col-xs-6">{% if shippingZonePrice.created %}{{ shippingZonePrice.created|dateFormat }}{% else %}--/--/----{% endif %}</div>
                    </div>
                    <div class="row mt-10">
                        <div class="col-xs-6">Modified by</div>
                        <div class="col-xs-6">{% if shippingZonePrice.modifiedBy %}{{ shippingZonePrice.modifiedBy }}{% else %}--{% endif %}</div>
                    </div>
                    <div class="row mt-10">
                        <div class="col-xs-6">Modified date</div>
                        <div class="col-xs-6">{% if shippingZonePrice.modified %}{{ shippingZonePrice.modified|dateFormat }}{% else %}--/--/----{% endif %}</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
{% block javascripts %}
    {{ parent() }}
    <script type="text/javascript" src="{{ asset('admin/js/plugins/forms/validation/validate.min.js') }}"></script>
    <script type="text/javascript" src="{{ asset('admin/js/pages/form_validation.js') }}"></script>
    <script type="text/javascript" src="{{ asset('admin/js/plugins/forms/selects/select2.min.js') }}"></script>
    {% if shippingZonePrice.calculator == constant('\\App\\NewShippingBundle\\Entity\\ShippingZonePrice::CALCULATOR_WEIGHT_RATE') %}
        <script type="text/javascript" src="{{ asset('admin/js/plugins/notifications/bootbox.min.js') }}"></script>
        <script type="text/javascript" src="{{ asset('admin/js/plugins/notifications/sweet_alert.min.js') }}"></script>
        <script>
            $(document).ready(function () {
                var weightPriceHolder = $('#addTable>tbody');

                if (weightPriceHolder.find("td").length == 0) {
                    addPrice();
                }

                function addPrice() {
                    var collectionHolder = $('#addWeight');
                    var prototype = collectionHolder.attr('data-prototype');
                    form = prototype.replace(/\_\_name\_\_/g, weightPriceHolder.children().length);
                    weightPriceHolder.append(form);
                }

                $("#addWeight").on('click', function (e) {
                    e.preventDefault();
                    addPrice();
                });

                $("body").on("click", ".delete", function (e) {
                    var $this = $(this);
                    bootbox.confirm({
                        title: 'Confirm dialog',
                        message: 'Are you sure you want to delete?',
                        buttons: {
                            confirm: {
                                label: 'OK',
                                className: 'btn-primary'
                            },
                            cancel: {
                                label: 'Cancel',
                                className: 'btn-link'
                            }
                        },
                        callback: function (result) {
                            if (result === true) {
                                $this.parent().parent().remove();
                            }
                        }
                    });
                });
            });
        </script>
    {% endif %}
    <script>
        $(document).ready(function () {
            var url = document.location.toString();
            if (url.match('#')) {
                $('.nav-tabs a[href="#' + url.split('#')[1] + '"]').tab('show');
            }

            // Change hash for page-reload
            $('.nav-tabs a').on('shown.bs.tab', function (e) {
                window.location.hash = e.target.hash;
            });
        });
    </script>
{% endblock javascripts %}