{% import 'adminTemplate/macros.html.twig' as macros %}
<div class="panel panel-flat">
    <div class="panel-body">
        <div class="row">
            {{ macros.input(form.title) }}
            {{ macros.input(form.tarteb) }}
        </div>
        <div class="row">
            {{ macros.input(form.post.brief, 6) }}
            <div class="col-md-6">
                <div class="form-group">
                    <label>Image:</label>
                    <div class="media no-margin-top">
                        {% set mainImage = (material.post.mainImage is defined) ? material.post.mainImage : null %}
                        {% if mainImage %}
                            <div class="media-left">
                                <div class="thumb" style="width: 58px; height: 58px;object-fit: cover;">
                                    <a href="{{ asset(mainImage.assetPath) }}" data-popup="lightbox">
                                        <img src="{{ asset(mainImage.assetPath) }}" style="width: 58px; height: 58px;object-fit: cover; border-radius: 2px;" alt="">
                                        <span class="zoom-image"><i class="icon-plus2"></i></span>
                                    </a>
                                </div>
                            </div>
                        {% endif %}
                        <div class="media-body">
                            {{ form_widget(form.image.file,{'attr':{'class':'file-styled'}}) }}
                        </div>
                    </div>
                    <span class="help-block">Accepted formats: gif, png, jpg. Max file size 2MB</span>
                    <span class="help-block">Dimensions: 1000 px * 1000 px</span>
                    <span class="help-block">Images more than 2MB is not recommended as it will slow down the page speed, performance and so the search engine results ex: Google search</span>
                </div>
            </div>
        </div>
    </div>
    <div class="panel-footer">
        {% include 'adminTemplate/saveAndResetFormFooter.html.twig' %}
    </div>
</div>