{% extends 'adminTemplate/base.html.twig' %}
{% set page_title %}Edit Content Recommendation #{{ content_recommendation.id }}{% endset %}

{% block breadcrumb %}
    <div class="breadcrumb-line">
        <ul class="breadcrumb">
            <li><a href="{{ path('dashboard') }}"><i class="icon-home2 position-left"></i>Dashboard</a></li>
            <li><a href="{{ path('content_recommendation_index') }}">Content Recommendations</a></li>
            <li><a href="{{ path('content_recommendation_show', {'id': content_recommendation.id}) }}">Recommendation #{{ content_recommendation.id }}</a></li>
            <li class="active">Edit</li>
        </ul>
    </div>
{% endblock %}

{% block body -%}
    <div class="panel panel-flat">
        <div class="panel-heading">
            <h5 class="panel-title">{{ page_title }}</h5>
            <div class="heading-elements">
                <a href="{{ path('content_recommendation_show', {'id': content_recommendation.id}) }}" class="btn btn-sm btn-default">
                    <i class="icon-eye position-left"></i> View
                </a>
                <a href="{{ path('content_recommendation_index') }}" class="btn btn-sm btn-default">
                    <i class="icon-arrow-left5 position-left"></i> Back to List
                </a>
            </div>
        </div>

        <div class="panel-body">
            {{ form_start(form, {'attr': {'class': 'form-horizontal', 'novalidate': 'novalidate'}}) }}
                
                <div class="form-group">
                    {{ form_label(form.product, null, {'label_attr': {'class': 'col-lg-2 control-label required'}}) }}
                    <div class="col-lg-10">
                        {{ form_widget(form.product) }}
                        {{ form_errors(form.product) }}
                        <span class="help-block">Select the product for which you want to create recommendations.</span>
                    </div>
                </div>

                <div class="form-group">
                    {{ form_label(form.state, null, {'label_attr': {'class': 'col-lg-2 control-label required'}}) }}
                    <div class="col-lg-10">
                        {{ form_widget(form.state) }}
                        {{ form_errors(form.state) }}
                        <span class="help-block">Update the state of this recommendation.</span>
                    </div>
                </div>

                <div class="form-group">
                    {{ form_label(form.recommendedJson, null, {'label_attr': {'class': 'col-lg-2 control-label'}}) }}
                    <div class="col-lg-10">
                        {{ form_widget(form.recommendedJson) }}
                        {{ form_errors(form.recommendedJson) }}
                        <span class="help-block">{{ form_help(form.recommendedJson) }}</span>
                        
                        <div class="mt-10">
                            <h6>Example JSON formats:</h6>
                            <div class="panel panel-body bg-grey-100">
                                <strong>Product Recommendations:</strong><br>
                                <code>{"type": "products", "ids": [1, 2, 3], "title": "Related Products"}</code><br><br>
                                
                                <strong>Category Recommendations:</strong><br>
                                <code>{"type": "categories", "ids": [5, 10], "title": "Similar Categories"}</code><br><br>
                                
                                <strong>Content Recommendations:</strong><br>
                                <code>{"type": "content", "items": [{"title": "Blog Post", "url": "/blog/post-1"}]}</code>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="form-group">
                    {{ form_label(form.notes, null, {'label_attr': {'class': 'col-lg-2 control-label'}}) }}
                    <div class="col-lg-10">
                        {{ form_widget(form.notes) }}
                        {{ form_errors(form.notes) }}
                        <span class="help-block">Add any additional notes or comments about this recommendation.</span>
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-lg-offset-2 col-lg-10">
                        <button type="submit" class="btn btn-primary">
                            <i class="icon-checkmark3 position-left"></i> Update Recommendation
                        </button>
                        <a href="{{ path('content_recommendation_show', {'id': content_recommendation.id}) }}" class="btn btn-default">
                            <i class="icon-cross2 position-left"></i> Cancel
                        </a>
                    </div>
                </div>

            {{ form_end(form) }}
        </div>
    </div>

    {# Audit Information #}
    <div class="panel panel-flat">
        <div class="panel-heading">
            <h6 class="panel-title">Audit Information</h6>
        </div>
        <div class="panel-body">
            <div class="row">
                <div class="col-md-6">
                    <dl class="dl-horizontal">
                        <dt>Created:</dt>
                        <dd>{{ content_recommendation.created|dateTimeFormat }}</dd>
                        <dt>Created by:</dt>
                        <dd>{{ content_recommendation.creator }}</dd>
                    </dl>
                </div>
                <div class="col-md-6">
                    <dl class="dl-horizontal">
                        <dt>Modified:</dt>
                        <dd>{{ content_recommendation.modified|dateTimeFormat }}</dd>
                        <dt>Modified by:</dt>
                        <dd>{{ content_recommendation.modifiedBy }}</dd>
                    </dl>
                </div>
            </div>
        </div>
    </div>

{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script type="text/javascript" src="{{ asset('admin/js/plugins/forms/selects/select2.min.js') }}"></script>
    <script type="text/javascript" src="{{ asset('admin/js/plugins/forms/validation/validate.min.js') }}"></script>
    <script type="text/javascript" src="{{ asset('admin/js/pages/form_validation.js') }}"></script>

    <script>
        $(function() {
            // Initialize Select2
            $('.select2').select2({
                placeholder: function() {
                    return $(this).data('placeholder');
                },
                allowClear: true
            });

            // JSON validation
            $('#content_recommendation_recommendedJson').on('blur', function() {
                var jsonText = $(this).val().trim();
                if (jsonText) {
                    try {
                        JSON.parse(jsonText);
                        $(this).removeClass('error').addClass('success');
                        $('.json-error').remove();
                    } catch (e) {
                        $(this).removeClass('success').addClass('error');
                        $('.json-error').remove();
                        $(this).after('<span class="help-block json-error text-danger">Invalid JSON: ' + e.message + '</span>');
                    }
                } else {
                    $(this).removeClass('error success');
                    $('.json-error').remove();
                }
            });

            // Form validation
            $('form').validate({
                rules: {
                    'content_recommendation[product]': {
                        required: true
                    },
                    'content_recommendation[state]': {
                        required: true
                    }
                },
                messages: {
                    'content_recommendation[product]': {
                        required: "Please select a product"
                    },
                    'content_recommendation[state]': {
                        required: "Please select a state"
                    }
                }
            });
        });
    </script>
{% endblock %}




