{% extends 'adminTemplate/base.html.twig' %}
{% import 'adminTemplate/macros.html.twig' as macros %}
{% set page_title %}Create New Administrator{% endset %}
{% block breadcrumb %}
    <div class="breadcrumb-line">
        <ul class="breadcrumb">
            <li><a href="{{ path('dashboard') }}"><i class="icon-home2 position-left"></i>Dashboard</a></li>
            <li><a href="{{ path('admin_index') }}">Administrators List</a></li>
            <li class="active">{{ page_title }}</li>
        </ul>
    </div>
{% endblock %}
{% block body %}
    {% include 'user/admin/admin/_form.html.twig' %}
{% endblock %}
{% block javascripts %}
    {{ parent() }}
    <script type="text/javascript" src="{{ asset('admin/js/plugins/forms/validation/validate.min.js') }}"></script>
    <script type="text/javascript" src="{{ asset('admin/js/pages/form_validation.js') }}"></script>
    <script type="text/javascript" src="{{ asset('admin/js/pages/form_select2.js') }}"></script>
    <script type="text/javascript" src="{{ asset('admin/js/plugins/forms/selects/select2.min.js') }}"></script>
    <script type="text/javascript" src="{{ asset('admin/js/plugins/forms/styling/switchery.min.js') }}"></script>

{% endblock javascripts %}
