{
    "recordsTotal": {{ recordsTotal }},
    "recordsFiltered": {{ recordsFiltered }},
    "data": [
        {% for occasion in occasions %}
        [
            "{{ occasion.id }}",
            "{{ occasion.title }}",
            "{% if occasion.active == true %}<span class='label label-success'>Yes</span>{% else %}<span class='label label-danger'>No</span>{% endif %}",
            "<ul class='icons-list'><li class='dropdown'><a href='#' class='dropdown-toggle' data-toggle='dropdown'><i class='icon-menu9'></i></a><ul class='dropdown-menu dropdown-menu-right'><li><a href='{{ path('occasion_manage_product',{'id':occasion.id}) }}'><i class='icon-briefcase'></i> Products ({{ occasion.noOfProducts }})</a></li>{% if occasion.active == false %}<li><a href='#' class='activate-btn' data-toggle='modal' data-target='#modal_activate' data-action='{{ path('occasion_active',{'id':occasion.id}) }}'><i class='icon-check'></i> Activate</a></li>{% endif %}{% if occasion.noOfProducts > 0 %}<li><a href='#' class='clear-products-btn' data-toggle='modal' data-target='#modal_clear_products' data-action='{{ path('occasion_clear_products',{'id':occasion.id}) }}'><i class='icon-minus3'></i> Clear Products</a></li>{% endif %}<li><a href='{{ path('occasion_clone',{'id':occasion.id}) }}'><i class='icon-copy3'></i> Clone</a></li><li class='divider'></li><li><li><a href='{{ path('occasion_edit',{'id':occasion.id}) }}'><i class='icon-pencil7'></i> Edit</a></li><li><a href='#' class='delete-btn' data-toggle='modal' data-target='#modal_delete' data-delete='{{ path('occasion_delete',{'id':occasion.id}) }}'><i class='icon-bin'></i> Remove</a></li></ul></li></ul>"

        ]{% if loop.last == false %},{% endif %}
        {% endfor %}
    ]
}