<div class="ui-featured-readings-section">
    <div class="l-featured-readings-container">
        <div class="l-container l-container--phone-spacing">
            <br>
            <br>
            <br>
            <br>


            <p class="wrapper-title">
                {{ seoPage.brief }}
            </p>

            <br>
            <br>
            <br>

            <div class="l-flex-row">
                {% for originalDesign in originalDesigns %}
                    <div class="l-flex-col-xl-3 l-flex-col-lg-4 l-flex-col-md-6">
                        <a class="collection-card" href="{{ path('fe_original_design_show', {"slug": originalDesign.seo.slug}) }}">
                            <div class="img">
                                {% if originalDesign.post.mainImage %}
                                    {% set image = asset(originalDesign.post.mainImage.assetPath) %}
                                {% else %}
                                    {% set image = asset('assets/img/product-img-placeholder.webp') %}
                                {% endif %}
                                <picture>
                                    <!--[if IE 9]>
                                    <video style="display: none;><![endif]-->
                                    <source data-srcset="{{ image|webp(null, 408) }}" media="--small"/>
                                    <source data-srcset="{{ image|webp(null, 394) }}" media="--medium"/>
                                    <source data-srcset="{{ image|webp(null, 255) }}" media="--large"/>
                                    <source data-srcset="{{ image|webp(null, 328) }}" media="--x-large"/>
                                    <source data-srcset="{{ image|webp(null, 230) }}" media="--xx-large"/>
                                    <!--[if IE 9]></video><![endif]-->
                                    <img
                                            class="l-responsive-img l-reading-post-slide-img ui-reading-post-slide-img lazyload"
                                            width="388"
                                            height="283"
                                            data-expand="-20"
                                            src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw=="
                                            data-src="{{ image|webp(null, 283) }}"
                                            alt="{{ originalDesign.title }}"
                                    />
                                </picture>
                            </div>
                            <h5 class="title">{{ originalDesign.title }}</h5>
                            <p>{{ originalDesign.post.content.brief }}</p>
                        </a>
                    </div>
                {% else %}
                    {% include "fe/_not_found_content.html.twig" %}
                {% endfor %}
            </div>


        </div>
    </div>
</div>


<div class="l-product-list-grid-pagination" data-l-product-list-grid-pagination="true">
    {% include "fe/_pagination.html.twig" %}
</div>