{% extends 'fe/base.html.twig' %}
{% set seo = originalDesign.seo %}
{% use '@PNSeo/FrontEnd/seo.html.twig' %}
{% import 'fe/macros.html.twig' as macros %}

{% block criticalCSS %}
    {% include "custom/frontEnd/originalDesign/_show_critical_css.css.twig" %}
{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    {{ macros.assetCSS(asset('pages-assets/original-designs-single/original-designs-single.styles.css')) }}
{% endblock %}

{% block content %}

    {% include "fe/_pages_header.html.twig" with {"pageTitle": originalDesign.title, "marginBottomZero": true } %}

    <div class="wrapper-post-content wrapper-post-container l-container">
        <h2>{{ originalDesign.title }}</h2>
        <p>{{ originalDesign.post.content.brief|nl2br }}</p>

        {% set galleryImages = originalDesign.post.images([constant("\\App\\MediaBundle\\Entity\\Image::TYPE_GALLERY")]) %}

        <div data-l-slider-wrapper="true">
            <div class="swiper slider" data-l-slider="true">
                <div class="swiper-wrapper slider-wrapper">
                    {% for image in galleryImages %}
                        <div class="swiper-slide slider-slide">
                            <img class="slide lazyload" src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" data-src="{{ asset(image.assetPath)|webp }}"/>
                        </div>
                    {% endfor %}
                </div>
            </div>
            <div class="swiper thumbs" data-l-slider-thumbs="true">
                <div class="swiper-wrapper thumbs-wrapper">
                    {% for image in galleryImages %}
                        <div class="swiper-slide thumb-slide">
                            <img class="thumb lazyload" src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" data-src="{{ asset(image.assetPath)|webp(60) }}"/>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>

    <div class="wrapper-post-container l-container">
        <div class="ui-editor-content-box">
            {{ originalDesign.post.content.description|raw }}
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {{ macros.assetCSS(asset('pages-assets/original-designs-single/original-designs-single.lazy.styles.css'), true) }}

    {{ macros.assetJS(asset('pages-assets/original-designs-single/original-designs-single.js')) }}
    {{ macros.assetJS(asset('pages-assets/original-designs-single/original-designs-single.lazy.js'), true) }}
{% endblock %}
