{
    "recordsTotal": {{ recordsTotal }},
    "recordsFiltered": {{ recordsFiltered }},
    "data": [
        {% for category in categories %}
            [
            "{{ category.id }}",
            "{% if category.tarteb %}{{ category.tarteb }}{% else %}--{% endif %}",
            "{{ category.title }}",
            "{{ category.noOfProducts }}",
            "{{ category.noOfPublishProducts }}",
            "{% if category.publish %}<span class='label label-success'>Yes</span>{% else %}<span class='label label-danger'>No</span>{% endif %}",
            "{% if category.created %}{{ category.created|dateTimeFormat }}{% else %}--{% endif %}",
            "<ul class='icons-list'><li class='dropdown'><a href='#' class='dropdown-toggle' data-toggle='dropdown'><i class='icon-menu9'></i></a><ul class='dropdown-menu dropdown-menu-right'>{% if category.depth < maximalDepthLevel %}<li><a href='{{ path('category_index',{'parentCategory':category.id}) }}'><i class='icon-tree7'></i> Sub-Categories</a></li>{% endif %}{% if category.children|length == 0 %}<li><a href='{{ path('product_index',{'category':category.id}) }}'><i class='icon-basket'></i> Manage Products</a></li><li><a href='{{ path('attribute_index',{'id':category.id}) }}'><i class='icon-wrench3'></i> Manage Specs</a></li><li><a href='#' class='cgdata-category-btn' data-category-id='{{ category.id }}' data-category-name='{{ category.title|e('html_attr') }}' title='Category Generate Data - Fetch products list from external API for this category'><i class='icon-cloud-download'></i> CGData</a></li>{% endif %}<li class='divider'></li><li><a href='{{ path('category_edit',{'id':category.id}) }}'><i class='icon-pencil7'></i> Edit</a></li><li><a href='#' class='delete-btn' data-toggle='modal' data-target='#modal_delete' data-delete='{{ path('category_delete',{'id':category.id}) }}'><i class='icon-bin'></i> Remove</a></li></ul></li></ul>"
            ]{% if loop.last == false %},{% endif %}
        {% endfor %}
    ]
}